@font-face {
    font-family: 'FeatherIcons';
    src: url('../fonts/feather.eot?4myluu');
    src: url('../fonts/feather.eot?4myluu#iefix') format('embedded-opentype'),
    url('../fonts/feather.ttf?4myluu') format('truetype'),
    url('../fonts/feather.woff?4myluu') format('woff'),
    url('../fonts/feather.svg?4myluu#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fth:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'FeatherIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fth-eye:before {
    content: "\e000";
}

.fth-paper-clip:before {
    content: "\e001";
}

.fth-mail:before {
    content: "\e002";
}

.fth-toggle:before {
    content: "\e003";
}

.fth-layout:before {
    content: "\e004";
}

.fth-link:before {
    content: "\e005";
}

.fth-bell:before {
    content: "\e006";
}

.fth-lock:before {
    content: "\e007";
}

.fth-unlock:before {
    content: "\e008";
}

.fth-ribbon:before {
    content: "\e009";
}

.fth-image:before {
    content: "\e010";
}

.fth-signal:before {
    content: "\e011";
}

.fth-target:before {
    content: "\e012";
}

.fth-clipboard:before {
    content: "\e013";
}

.fth-clock:before {
    content: "\e014";
}

.fth-watch:before {
    content: "\e015";
}

.fth-air-play:before {
    content: "\e016";
}

.fth-camera:before {
    content: "\e017";
}

.fth-video:before {
    content: "\e018";
}

.fth-disc:before {
    content: "\e019";
}

.fth-printer:before {
    content: "\e020";
}

.fth-monitor:before {
    content: "\e021";
}

.fth-server:before {
    content: "\e022";
}

.fth-cog:before {
    content: "\e023";
}

.fth-heart:before {
    content: "\e024";
}

.fth-paragraph:before {
    content: "\e025";
}

.fth-align-justify:before {
    content: "\e026";
}

.fth-align-left:before {
    content: "\e027";
}

.fth-align-center:before {
    content: "\e028";
}

.fth-align-right:before {
    content: "\e029";
}

.fth-book:before {
    content: "\e030";
}

.fth-layers:before {
    content: "\e031";
}

.fth-stack:before {
    content: "\e032";
}

.fth-stack-2:before {
    content: "\e033";
}

.fth-paper:before {
    content: "\e034";
}

.fth-paper-stack:before {
    content: "\e035";
}

.fth-search:before {
    content: "\e036";
}

.fth-zoom-in:before {
    content: "\e037";
}

.fth-zoom-out:before {
    content: "\e038";
}

.fth-reply:before {
    content: "\e039";
}

.fth-circle-plus:before {
    content: "\e040";
}

.fth-circle-minus:before {
    content: "\e041";
}

.fth-circle-check:before {
    content: "\e042";
}

.fth-circle-cross:before {
    content: "\e043";
}

.fth-square-plus:before {
    content: "\e044";
}

.fth-square-minus:before {
    content: "\e045";
}

.fth-square-check:before {
    content: "\e046";
}

.fth-square-cross:before {
    content: "\e047";
}

.fth-microphone:before {
    content: "\e048";
}

.fth-record:before {
    content: "\e049";
}

.fth-skip-back:before {
    content: "\e050";
}

.fth-rewind:before {
    content: "\e051";
}

.fth-play:before {
    content: "\e052";
}

.fth-pause:before {
    content: "\e053";
}

.fth-stop:before {
    content: "\e054";
}

.fth-fast-forward:before {
    content: "\e055";
}

.fth-skip-forward:before {
    content: "\e056";
}

.fth-shuffle:before {
    content: "\e057";
}

.fth-repeat:before {
    content: "\e058";
}

.fth-folder:before {
    content: "\e059";
}

.fth-umbrella:before {
    content: "\e060";
}

.fth-moon:before {
    content: "\e061";
}

.fth-thermometer:before {
    content: "\e062";
}

.fth-drop:before {
    content: "\e063";
}

.fth-sun:before {
    content: "\e064";
}

.fth-cloud:before {
    content: "\e065";
}

.fth-cloud-upload:before {
    content: "\e066";
}

.fth-cloud-download:before {
    content: "\e067";
}

.fth-upload:before {
    content: "\e068";
}

.fth-download:before {
    content: "\e069";
}

.fth-location:before {
    content: "\e070";
}

.fth-location-2:before {
    content: "\e071";
}

.fth-map:before {
    content: "\e072";
}

.fth-battery:before {
    content: "\e073";
}

.fth-head:before {
    content: "\e074";
}

.fth-briefcase:before {
    content: "\e075";
}

.fth-speech-bubble:before {
    content: "\e076";
}

.fth-anchor:before {
    content: "\e077";
}

.fth-globe:before {
    content: "\e078";
}

.fth-box:before {
    content: "\e079";
}

.fth-reload:before {
    content: "\e080";
}

.fth-share:before {
    content: "\e081";
}

.fth-marquee:before {
    content: "\e082";
}

.fth-marquee-plus:before {
    content: "\e083";
}

.fth-marquee-minus:before {
    content: "\e084";
}

.fth-tag:before {
    content: "\e085";
}

.fth-power:before {
    content: "\e086";
}

.fth-command:before {
    content: "\e087";
}

.fth-alt:before {
    content: "\e088";
}

.fth-esc:before {
    content: "\e089";
}

.fth-bar-graph:before {
    content: "\e090";
}

.fth-bar-graph-2:before {
    content: "\e091";
}

.fth-pie-graph:before {
    content: "\e092";
}

.fth-star:before {
    content: "\e093";
}

.fth-arrow-left:before {
    content: "\e094";
}

.fth-arrow-right:before {
    content: "\e095";
}

.fth-arrow-up:before {
    content: "\e096";
}

.fth-arrow-down:before {
    content: "\e097";
}

.fth-volume:before {
    content: "\e098";
}

.fth-mute:before {
    content: "\e099";
}

.fth-content-right:before {
    content: "\e100";
}

.fth-content-left:before {
    content: "\e101";
}

.fth-grid:before {
    content: "\e102";
}

.fth-grid-2:before {
    content: "\e103";
}

.fth-columns:before {
    content: "\e104";
}

.fth-loader:before {
    content: "\e105";
}

.fth-bag:before {
    content: "\e106";
}

.fth-ban:before {
    content: "\e107";
}

.fth-flag:before {
    content: "\e108";
}

.fth-trash:before {
    content: "\e109";
}

.fth-expand:before {
    content: "\e110";
}

.fth-contract:before {
    content: "\e111";
}

.fth-maximize:before {
    content: "\e112";
}

.fth-minimize:before {
    content: "\e113";
}

.fth-plus:before {
    content: "\e114";
}

.fth-minus:before {
    content: "\e115";
}

.fth-check:before {
    content: "\e116";
}

.fth-cross:before {
    content: "\e117";
}

.fth-move:before {
    content: "\e118";
}

.fth-delete:before {
    content: "\e119";
}

.fth-menu:before {
    content: "\e120";
}

.fth-archive:before {
    content: "\e121";
}

.fth-inbox:before {
    content: "\e122";
}

.fth-outbox:before {
    content: "\e123";
}

.fth-file:before {
    content: "\e124";
}

.fth-file-add:before {
    content: "\e125";
}

.fth-file-subtract:before {
    content: "\e126";
}

.fth-help:before {
    content: "\e127";
}

.fth-open:before {
    content: "\e128";
}

.fth-ellipsis:before {
    content: "\e129";
}

