@font-face {
    font-family: 'Line Awesome Free';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/la-regular-400.eot");
    src: url("../fonts/la-regular-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/la-regular-400.woff2") format("woff2"),
    url("../fonts/la-regular-400.woff") format("woff"),
    url("../fonts/la-regular-400.ttf") format("truetype"),
    url("../fonts/la-regular-400.svg#fontawesome") format("svg");
}

.lar {
    font-family: 'Line Awesome Free';
    font-weight: 400;
}
