@font-face {
    font-family: 'Line Awesome Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("../fonts/la-solid-900.eot");
    src: url("../fonts/la-solid-900.eot?#iefix") format("embedded-opentype"),
    url("../fonts/la-solid-900.woff2") format("woff2"),
    url("../fonts/la-solid-900.woff") format("woff"),
    url("../fonts/la-solid-900.ttf") format("truetype"),
    url("../fonts/la-solid-900.svg#fontawesome") format("svg");
}

.la,
.las {
    font-family: 'Line Awesome Free';
    font-weight: 900;
}
