@font-face {
    font-family: 'Maki2';
    src: url('../fonts/maki2.ttf?56675205') format('truetype'),
    url('../fonts/maki2.svg?56675205#maki2') format('svg');
    font-weight: normal;
    font-style: normal;
}

.maki2 {
    font-family: "Maki2";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
}

.maki2-aerialway-11:before {
    content: "\e900";
}
.maki2-aerialway-15:before {
    content: "\e901";
}
.maki2-airfield-11:before {
    content: "\e902";
}
.maki2-airfield-15:before {
    content: "\e903";
}
.maki2-airport-11:before {
    content: "\e904";
}
.maki2-airport-15:before {
    content: "\e905";
}
.maki2-alcohol-shop-11:before {
    content: "\e906";
}
.maki2-alcohol-shop-15:before {
    content: "\e907";
}
.maki2-america-football-11:before {
    content: "\e908";
}
.maki2-america-football-15:before {
    content: "\e909";
}
.maki2-amusement-park-11:before {
    content: "\e90a";
}
.maki2-amusement-park-15:before {
    content: "\e90b";
}
.maki2-aquarium-11:before {
    content: "\e90c";
}
.maki2-aquarium-15:before {
    content: "\e90d";
}
.maki2-art-gallery-11:before {
    content: "\e90e";
}
.maki2-art-gallery-15:before {
    content: "\e90f";
}
.maki2-attraction-11:before {
    content: "\e910";
}
.maki2-attraction-15:before {
    content: "\e911";
}
.maki2-bakery-11:before {
    content: "\e912";
}
.maki2-bakery-15:before {
    content: "\e913";
}
.maki2-bank-11:before {
    content: "\e914";
}
.maki2-bank-15:before {
    content: "\e915";
}
.maki2-bar-11:before {
    content: "\e916";
}
.maki2-bar-15:before {
    content: "\e917";
}
.maki2-baseball-11:before {
    content: "\e918";
}
.maki2-baseball-15:before {
    content: "\e919";
}
.maki2-basketball-11:before {
    content: "\e91a";
}
.maki2-basketball-15:before {
    content: "\e91b";
}
.maki2-beer-11:before {
    content: "\e91c";
}
.maki2-beer-15:before {
    content: "\e91d";
}
.maki2-bicycle-11:before {
    content: "\e91e";
}
.maki2-bicycle-15:before {
    content: "\e91f";
}
.maki2-bicycle-share-11:before {
    content: "\e920";
}
.maki2-bicycle-share-15:before {
    content: "\e921";
}
.maki2-building-11:before {
    content: "\e922";
}
.maki2-building-15:before {
    content: "\e923";
}
.maki2-bus-11:before {
    content: "\e924";
}
.maki2-bus-15:before {
    content: "\e925";
}
.maki2-cafe-11:before {
    content: "\e926";
}
.maki2-cafe-15:before {
    content: "\e927";
}
.maki2-campsite-11:before {
    content: "\e928";
}
.maki2-campsite-15:before {
    content: "\e929";
}
.maki2-car-11:before {
    content: "\e92a";
}
.maki2-car-15:before {
    content: "\e92b";
}
.maki2-castle-11:before {
    content: "\e92c";
}
.maki2-castle-15:before {
    content: "\e92d";
}
.maki2-cemetery-11:before {
    content: "\e92e";
}
.maki2-cemetery-15:before {
    content: "\e92f";
}
.maki2-cinema-11:before {
    content: "\e930";
}
.maki2-cinema-15:before {
    content: "\e931";
}
.maki2-circle-11:before {
    content: "\e932";
}
.maki2-circle-15:before {
    content: "\e933";
}
.maki2-circle-stroked-11:before {
    content: "\e934";
}
.maki2-circle-stroked-15:before {
    content: "\e935";
}
.maki2-clothing-store-11:before {
    content: "\e936";
}
.maki2-clothing-store-15:before {
    content: "\e937";
}
.maki2-college-11:before {
    content: "\e938";
}
.maki2-college-15:before {
    content: "\e939";
}
.maki2-commercial-11:before {
    content: "\e93a";
}
.maki2-commercial-15:before {
    content: "\e93b";
}
.maki2-cricket-11:before {
    content: "\e93c";
}
.maki2-cricket-15:before {
    content: "\e93d";
}
.maki2-cross-11:before {
    content: "\e93e";
}
.maki2-cross-15:before {
    content: "\e93f";
}
.maki2-dam-11:before {
    content: "\e940";
}
.maki2-dam-15:before {
    content: "\e941";
}
.maki2-danger-11:before {
    content: "\e942";
}
.maki2-danger-15:before {
    content: "\e943";
}
.maki2-dentist-11:before {
    content: "\e944";
}
.maki2-dentist-15:before {
    content: "\e945";
}
.maki2-doctor-11:before {
    content: "\e946";
}
.maki2-doctor-15:before {
    content: "\e947";
}
.maki2-dog-park-11:before {
    content: "\e948";
}
.maki2-dog-park-15:before {
    content: "\e949";
}
.maki2-drinking-water-11:before {
    content: "\e94a";
}
.maki2-drinking-water-15:before {
    content: "\e94b";
}
.maki2-embassy-11:before {
    content: "\e94c";
}
.maki2-embassy-15:before {
    content: "\e94d";
}
.maki2-entrance-11:before {
    content: "\e94e";
}
.maki2-entrance-15:before {
    content: "\e94f";
}
.maki2-farm-15:before {
    content: "\e952";
}
.maki2-fast-food-11:before {
    content: "\e953";
}
.maki2-fast-food-15:before {
    content: "\e954";
}
.maki2-ferry-11:before {
    content: "\e955";
}
.maki2-ferry-15:before {
    content: "\e956";
}
.maki2-fire-station-11:before {
    content: "\e957";
}
.maki2-fire-station-15:before {
    content: "\e958";
}
.maki2-fuel-11:before {
    content: "\e959";
}
.maki2-fuel-15:before {
    content: "\e95a";
}
.maki2-garden-11:before {
    content: "\e95b";
}
.maki2-garden-15:before {
    content: "\e95c";
}
.maki2-gift-11:before {
    content: "\e95d";
}
.maki2-gift-15:before {
    content: "\e95e";
}
.maki2-golf-11:before {
    content: "\e95f";
}
.maki2-golf-15:before {
    content: "\e960";
}
.maki2-grocery-11:before {
    content: "\e961";
}
.maki2-grocery-15:before {
    content: "\e962";
}
.maki2-hairdresser-11:before {
    content: "\e963";
}
.maki2-hairdresser-15:before {
    content: "\e964";
}
.maki2-harbor-11:before {
    content: "\e965";
}
.maki2-harbor-15:before {
    content: "\e966";
}
.maki2-heart-11:before {
    content: "\e967";
}
.maki2-heart-15:before {
    content: "\e968";
}
.maki2-heliport-11:before {
    content: "\e969";
}
.maki2-heliport-15:before {
    content: "\e96a";
}
.maki2-hospital-11:before {
    content: "\e96b";
}
.maki2-hospital-15:before {
    content: "\e96c";
}
.maki2-ice-cream-11:before {
    content: "\e96d";
}
.maki2-ice-cream-15:before {
    content: "\e96e";
}
.maki2-industry-11:before {
    content: "\e96f";
}
.maki2-industry-15:before {
    content: "\e970";
}
.maki2-information-11:before {
    content: "\e971";
}
.maki2-information-15:before {
    content: "\e972";
}
.maki2-laundry-11:before {
    content: "\e973";
}
.maki2-laundry-15:before {
    content: "\e974";
}
.maki2-library-11:before {
    content: "\e975";
}
.maki2-library-15:before {
    content: "\e976";
}
.maki2-lighthouse-11:before {
    content: "\e977";
}
.maki2-lighthouse-15:before {
    content: "\e978";
}
.maki2-lodging-11:before {
    content: "\e979";
}
.maki2-lodging-15:before {
    content: "\e97a";
}
.maki2-marker-11:before {
    content: "\e97b";
}
.maki2-marker-15:before {
    content: "\e97c";
}
.maki2-monument-11:before {
    content: "\e97d";
}
.maki2-monument-15:before {
    content: "\e97e";
}
.maki2-mountain-11:before {
    content: "\e97f";
}
.maki2-mountain-15:before {
    content: "\e980";
}
.maki2-museum-11:before {
    content: "\e981";
}
.maki2-museum-15:before {
    content: "\e982";
}
.maki2-music-11:before {
    content: "\e983";
}
.maki2-music-15:before {
    content: "\e984";
}
.maki2-park-11:before {
    content: "\e985";
}
.maki2-park-15:before {
    content: "\e986";
}
.maki2-parking-11:before {
    content: "\e987";
}
.maki2-parking-15:before {
    content: "\e988";
}
.maki2-parking-garage-11:before {
    content: "\e989";
}
.maki2-parking-garage-15:before {
    content: "\e98a";
}
.maki2-pharmacy-11:before {
    content: "\e98b";
}
.maki2-pharmacy-15:before {
    content: "\e98c";
}
.maki2-picnic-site-11:before {
    content: "\e98d";
}
.maki2-picnic-site-15:before {
    content: "\e98e";
}
.maki2-pitch-11:before {
    content: "\e98f";
}
.maki2-pitch-15:before {
    content: "\e990";
}
.maki2-place-of-worship-11:before {
    content: "\e991";
}
.maki2-place-of-worship-15:before {
    content: "\e992";
}
.maki2-playground-11:before {
    content: "\e993";
}
.maki2-playground-15:before {
    content: "\e994";
}
.maki2-police-11:before {
    content: "\e995";
}
.maki2-police-15:before {
    content: "\e996";
}
.maki2-post-11:before {
    content: "\e997";
}
.maki2-post-15:before {
    content: "\e998";
}
.maki2-prison-11:before {
    content: "\e999";
}
.maki2-prison-15:before {
    content: "\e99a";
}
.maki2-rail-11:before {
    content: "\e99b";
}
.maki2-rail-15:before {
    content: "\e99c";
}
.maki2-rail-light-11:before {
    content: "\e99d";
}
.maki2-rail-light-15:before {
    content: "\e99e";
}
.maki2-rail-metro-11:before {
    content: "\e99f";
}
.maki2-rail-metro-15:before {
    content: "\e9a0";
}
.maki2-ranger-station-11:before {
    content: "\e9a1";
}
.maki2-ranger-station-15:before {
    content: "\e9a2";
}
.maki2-religious-christian-11:before {
    content: "\e9a3";
}
.maki2-religious-christian-15:before {
    content: "\e9a4";
}
.maki2-religious-jewish-11:before {
    content: "\e9a5";
}
.maki2-religious-jewish-15:before {
    content: "\e9a6";
}
.maki2-religious-muslim-11:before {
    content: "\e9a7";
}
.maki2-religious-muslim-15:before {
    content: "\e9a8";
}
.maki2-restaurant-11:before {
    content: "\e9a9";
}
.maki2-restaurant-15:before {
    content: "\e9aa";
}
.maki2-roadblock-11:before {
    content: "\e9ab";
}
.maki2-roadblock-15:before {
    content: "\e9ac";
}
.maki2-rocket-11:before {
    content: "\e9ad";
}
.maki2-rocket-15:before {
    content: "\e9ae";
}
.maki2-school-11:before {
    content: "\e9af";
}
.maki2-school-15:before {
    content: "\e9b0";
}
.maki2-shelter-11:before {
    content: "\e9b1";
}
.maki2-shelter-15:before {
    content: "\e9b2";
}
.maki2-shop-11:before {
    content: "\e9b3";
}
.maki2-shop-15:before {
    content: "\e9b4";
}
.maki2-skiing-11:before {
    content: "\e9b5";
}
.maki2-skiing-15:before {
    content: "\e9b6";
}
.maki2-soccer-11:before {
    content: "\e9b7";
}
.maki2-soccer-15:before {
    content: "\e9b8";
}
.maki2-square-11:before {
    content: "\e9b9";
}
.maki2-square-15:before {
    content: "\e9ba";
}
.maki2-square-stroke-11:before {
    content: "\e9bb";
}
.maki2-square-stroke-15:before {
    content: "\e9bc";
}
.maki2-stadium-11:before {
    content: "\e9bd";
}
.maki2-stadium-15:before {
    content: "\e9be";
}
.maki2-star-11:before {
    content: "\e9bf";
}
.maki2-star-15:before {
    content: "\e9c0";
}
.maki2-star-stroke-11:before {
    content: "\e9c1";
}
.maki2-star-stroke-15:before {
    content: "\e9c2";
}
.maki2-suitcase-11:before {
    content: "\e9c3";
}
.maki2-suitcase-15:before {
    content: "\e9c4";
}
.maki2-sushi-11:before {
    content: "\e9c5";
}
.maki2-sushi-15:before {
    content: "\e9c6";
}
.maki2-swimming-11:before {
    content: "\e9c7";
}
.maki2-swimming-15:before {
    content: "\e9c8";
}
.maki2-telephone-11:before {
    content: "\e9c9";
}
.maki2-telephone-15:before {
    content: "\e9ca";
}
.maki2-tennis-11:before {
    content: "\e9cb";
}
.maki2-tennis-15:before {
    content: "\e9cc";
}
.maki2-theatre-11:before {
    content: "\e9cd";
}
.maki2-theatre-15:before {
    content: "\e9ce";
}
.maki2-toilet-11:before {
    content: "\e9cf";
}
.maki2-toilet-15:before {
    content: "\e9d0";
}
.maki2-town-hall-11:before {
    content: "\e9d1";
}
.maki2-town-hall-15:before {
    content: "\e9d2";
}
.maki2-triangle-11:before {
    content: "\e9d3";
}
.maki2-triangle-15:before {
    content: "\e9d4";
}
.maki2-triangle-stroked-11:before {
    content: "\e9d5";
}
.maki2-triangle-stroked-15:before {
    content: "\e9d6";
}
.maki2-veterinary-11:before {
    content: "\e9d7";
}
.maki2-veterinary-15:before {
    content: "\e9d8";
}
.maki2-volcano-11:before {
    content: "\e9d9";
}
.maki2-volcano-15:before {
    content: "\e9da";
}
.maki2-warehouse-11:before {
    content: "\e9db";
}
.maki2-warehouse-15:before {
    content: "\e9dc";
}
.maki2-waste-basket-11:before {
    content: "\e9dd";
}
.maki2-waste-basket-15:before {
    content: "\e9de";
}
.maki2-water-11:before {
    content: "\e9df";
}
.maki2-water-15:before {
    content: "\e9e0";
}
.maki2-wetland-11:before {
    content: "\e9e1";
}
.maki2-wetland-15:before {
    content: "\e9e2";
}
.maki2-wheelchair-11:before {
    content: "\e9e3";
}
.maki2-wheelchair-15:before {
    content: "\e9e4";
}
.maki2-zoo-11:before {
    content: "\e9e5";
}
.maki2-zoo-15:before {
    content: "\e9e6";
}