@font-face {
  font-family: 'Unicons-Line';
  src:  url('../fonts/Unicons-Line.eot?6a90u9');
  src:  url('../fonts/Unicons-Line.eot?6a90u9#iefix') format('embedded-opentype'),
    url('../fonts/Unicons-Line.ttf?6a90u9') format('truetype'),
    url('../fonts/Unicons-Line.woff?6a90u9') format('woff'),
    url('../fonts/Unicons-Line.svg?6a90u9#Unicons-Line') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="unil-"], [class*=" unil-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Unicons-Line' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unil-plus-0:before {
  content: "\e900";
}
.unil-plus-3:before {
  content: "\e901";
}
.unil-plus-6:before {
  content: "\e902";
}
.unil-plus-10:before {
  content: "\e903";
}
.unil-plus-12:before {
  content: "\e904";
}
.unil-plus-13:before {
  content: "\e905";
}
.unil-plus-16:before {
  content: "\e906";
}
.unil-plus-17:before {
  content: "\e907";
}
.unil-plus-18:before {
  content: "\e908";
}
.unil-plus-21:before {
  content: "\e909";
}
.unil-500px:before {
  content: "\e90a";
}
.unil-abacus:before {
  content: "\e90b";
}
.unil-accessible-icon-alt:before {
  content: "\e90c";
}
.unil-adjust-alt:before {
  content: "\e90d";
}
.unil-adjust-circle:before {
  content: "\e90e";
}
.unil-adjust-half:before {
  content: "\e90f";
}
.unil-adjust:before {
  content: "\e910";
}
.unil-adobe-alt:before {
  content: "\e911";
}
.unil-adobe:before {
  content: "\e912";
}
.unil-airplay:before {
  content: "\e913";
}
.unil-align-alt:before {
  content: "\e914";
}
.unil-align-center-alt:before {
  content: "\e915";
}
.unil-align-center-h:before {
  content: "\e916";
}
.unil-align-center-justify:before {
  content: "\e917";
}
.unil-align-center-v:before {
  content: "\e918";
}
.unil-align-center:before {
  content: "\e919";
}
.unil-align-justify:before {
  content: "\e91a";
}
.unil-align-left-justify:before {
  content: "\e91b";
}
.unil-align-left:before {
  content: "\e91c";
}
.unil-align-letter-right:before {
  content: "\e91d";
}
.unil-align-right-justify:before {
  content: "\e91e";
}
.unil-align-right:before {
  content: "\e91f";
}
.unil-align:before {
  content: "\e920";
}
.unil-amazon:before {
  content: "\e921";
}
.unil-ambulance:before {
  content: "\e922";
}
.unil-analysis:before {
  content: "\e923";
}
.unil-analytics:before {
  content: "\e924";
}
.unil-anchor:before {
  content: "\e925";
}
.unil-android-alt:before {
  content: "\e926";
}
.unil-android-phone-slash:before {
  content: "\e927";
}
.unil-android:before {
  content: "\e928";
}
.unil-angle-double-down:before {
  content: "\e929";
}
.unil-angle-double-left:before {
  content: "\e92a";
}
.unil-angle-double-right:before {
  content: "\e92b";
}
.unil-angle-double-up:before {
  content: "\e92c";
}
.unil-angle-down:before {
  content: "\e92d";
}
.unil-angle-left-b:before {
  content: "\e92e";
}
.unil-angle-left:before {
  content: "\e92f";
}
.unil-angle-right-b:before {
  content: "\e930";
}
.unil-angle-right:before {
  content: "\e931";
}
.unil-angle-up:before {
  content: "\e932";
}
.unil-angry:before {
  content: "\e933";
}
.unil-ankh:before {
  content: "\e934";
}
.unil-annoyed-alt:before {
  content: "\e935";
}
.unil-annoyed:before {
  content: "\e936";
}
.unil-apple-alt:before {
  content: "\e937";
}
.unil-apple:before {
  content: "\e938";
}
.unil-apps:before {
  content: "\e939";
}
.unil-archive-alt:before {
  content: "\e93a";
}
.unil-archive:before {
  content: "\e93b";
}
.unil-archway:before {
  content: "\e93c";
}
.unil-arrow-break:before {
  content: "\e93d";
}
.unil-arrow-circle-down:before {
  content: "\e93e";
}
.unil-arrow-circle-left:before {
  content: "\e93f";
}
.unil-arrow-circle-right:before {
  content: "\e940";
}
.unil-arrow-circle-up:before {
  content: "\e941";
}
.unil-arrow-compress-h:before {
  content: "\e942";
}
.unil-arrow-down-left:before {
  content: "\e943";
}
.unil-arrow-down-right:before {
  content: "\e944";
}
.unil-arrow-down:before {
  content: "\e945";
}
.unil-arrow-from-right:before {
  content: "\e946";
}
.unil-arrow-from-top:before {
  content: "\e947";
}
.unil-arrow-growth:before {
  content: "\e948";
}
.unil-arrow-left:before {
  content: "\e949";
}
.unil-arrow-random:before {
  content: "\e94a";
}
.unil-arrow-resize-diagonal:before {
  content: "\e94b";
}
.unil-arrow-right:before {
  content: "\e94c";
}
.unil-arrow-to-bottom:before {
  content: "\e94d";
}
.unil-arrow-to-right:before {
  content: "\e94e";
}
.unil-arrow-up-left:before {
  content: "\e94f";
}
.unil-arrow-up-right:before {
  content: "\e950";
}
.unil-arrow-up:before {
  content: "\e951";
}
.unil-arrow:before {
  content: "\e952";
}
.unil-arrows-h-alt:before {
  content: "\e953";
}
.unil-arrows-h:before {
  content: "\e954";
}
.unil-arrows-left-down:before {
  content: "\e955";
}
.unil-arrows-maximize:before {
  content: "\e956";
}
.unil-arrows-merge:before {
  content: "\e957";
}
.unil-arrows-resize-h:before {
  content: "\e958";
}
.unil-arrows-resize-v:before {
  content: "\e959";
}
.unil-arrows-resize:before {
  content: "\e95a";
}
.unil-arrows-right-down:before {
  content: "\e95b";
}
.unil-arrows-shrink-h:before {
  content: "\e95c";
}
.unil-arrows-shrink-v:before {
  content: "\e95d";
}
.unil-arrows-up-right:before {
  content: "\e95e";
}
.unil-arrows-v-alt:before {
  content: "\e95f";
}
.unil-arrows-v:before {
  content: "\e960";
}
.unil-assistive-listening-systems:before {
  content: "\e961";
}
.unil-asterisk:before {
  content: "\e962";
}
.unil-at:before {
  content: "\e963";
}
.unil-atom:before {
  content: "\e964";
}
.unil-auto-flash:before {
  content: "\e965";
}
.unil-award-alt:before {
  content: "\e966";
}
.unil-award:before {
  content: "\e967";
}
.unil-baby-carriage:before {
  content: "\e968";
}
.unil-backpack:before {
  content: "\e969";
}
.unil-backspace:before {
  content: "\e96a";
}
.unil-backward:before {
  content: "\e96b";
}
.unil-bag-alt:before {
  content: "\e96c";
}
.unil-bag-slash:before {
  content: "\e96d";
}
.unil-bag:before {
  content: "\e96e";
}
.unil-balance-scale:before {
  content: "\e96f";
}
.unil-ban:before {
  content: "\e970";
}
.unil-band-aid:before {
  content: "\e971";
}
.unil-bars:before {
  content: "\e972";
}
.unil-baseball-ball:before {
  content: "\e973";
}
.unil-basketball-hoop:before {
  content: "\e974";
}
.unil-basketball:before {
  content: "\e975";
}
.unil-bath:before {
  content: "\e976";
}
.unil-battery-bolt:before {
  content: "\e977";
}
.unil-battery-empty:before {
  content: "\e978";
}
.unil-bed-double:before {
  content: "\e979";
}
.unil-bed:before {
  content: "\e97a";
}
.unil-behance-alt:before {
  content: "\e97b";
}
.unil-behance:before {
  content: "\e97c";
}
.unil-bell-school:before {
  content: "\e97d";
}
.unil-bell-slash:before {
  content: "\e97e";
}
.unil-bell:before {
  content: "\e97f";
}
.unil-bill:before {
  content: "\e980";
}
.unil-bing:before {
  content: "\e981";
}
.unil-bitcoin-alt:before {
  content: "\e982";
}
.unil-bitcoin-circle:before {
  content: "\e983";
}
.unil-bitcoin-sign:before {
  content: "\e984";
}
.unil-bitcoin:before {
  content: "\e985";
}
.unil-black-berry:before {
  content: "\e986";
}
.unil-blogger-alt:before {
  content: "\e987";
}
.unil-blogger:before {
  content: "\e988";
}
.unil-bluetooth-b:before {
  content: "\e989";
}
.unil-bold:before {
  content: "\e98a";
}
.unil-bolt-alt:before {
  content: "\e98b";
}
.unil-bolt-slash:before {
  content: "\e98c";
}
.unil-bolt:before {
  content: "\e98d";
}
.unil-book-alt:before {
  content: "\e98e";
}
.unil-book-medical:before {
  content: "\e98f";
}
.unil-book-open:before {
  content: "\e990";
}
.unil-book-reader:before {
  content: "\e991";
}
.unil-book:before {
  content: "\e992";
}
.unil-bookmark-full:before {
  content: "\e993";
}
.unil-bookmark:before {
  content: "\e994";
}
.unil-books:before {
  content: "\e995";
}
.unil-boombox:before {
  content: "\e996";
}
.unil-border-alt:before {
  content: "\e997";
}
.unil-border-bottom:before {
  content: "\e998";
}
.unil-border-clear:before {
  content: "\e999";
}
.unil-border-horizontal:before {
  content: "\e99a";
}
.unil-border-inner:before {
  content: "\e99b";
}
.unil-border-left:before {
  content: "\e99c";
}
.unil-border-out:before {
  content: "\e99d";
}
.unil-border-right:before {
  content: "\e99e";
}
.unil-border-top:before {
  content: "\e99f";
}
.unil-border-vertical:before {
  content: "\e9a0";
}
.unil-bowling-ball:before {
  content: "\e9a1";
}
.unil-box:before {
  content: "\e9a2";
}
.unil-brackets-curly:before {
  content: "\e9a3";
}
.unil-brain:before {
  content: "\e9a4";
}
.unil-briefcase-alt:before {
  content: "\e9a5";
}
.unil-briefcase:before {
  content: "\e9a6";
}
.unil-bright:before {
  content: "\e9a7";
}
.unil-brightness-empty:before {
  content: "\e9a8";
}
.unil-brightness-half:before {
  content: "\e9a9";
}
.unil-brightness-low:before {
  content: "\e9aa";
}
.unil-brightness-minus:before {
  content: "\e9ab";
}
.unil-brightness-plus:before {
  content: "\e9ac";
}
.unil-brightness:before {
  content: "\e9ad";
}
.unil-bring-bottom:before {
  content: "\e9ae";
}
.unil-bring-front:before {
  content: "\e9af";
}
.unil-browser:before {
  content: "\e9b0";
}
.unil-brush-alt:before {
  content: "\e9b1";
}
.unil-bug:before {
  content: "\e9b2";
}
.unil-building:before {
  content: "\e9b3";
}
.unil-bullseye:before {
  content: "\e9b4";
}
.unil-bus-alt:before {
  content: "\e9b5";
}
.unil-bus-school:before {
  content: "\e9b6";
}
.unil-bus:before {
  content: "\e9b7";
}
.unil-calculator-alt:before {
  content: "\e9b8";
}
.unil-calculator:before {
  content: "\e9b9";
}
.unil-calendar-alt:before {
  content: "\e9ba";
}
.unil-calendar-slash:before {
  content: "\e9bb";
}
.unil-calender:before {
  content: "\e9bc";
}
.unil-calling:before {
  content: "\e9bd";
}
.unil-camera-change:before {
  content: "\e9be";
}
.unil-camera-plus:before {
  content: "\e9bf";
}
.unil-camera-slash:before {
  content: "\e9c0";
}
.unil-camera:before {
  content: "\e9c1";
}
.unil-cancel:before {
  content: "\e9c2";
}
.unil-capsule:before {
  content: "\e9c3";
}
.unil-capture:before {
  content: "\e9c4";
}
.unil-car-sideview:before {
  content: "\e9c5";
}
.unil-car-slash:before {
  content: "\e9c6";
}
.unil-car-wash:before {
  content: "\e9c7";
}
.unil-car:before {
  content: "\e9c8";
}
.unil-card-atm:before {
  content: "\e9c9";
}
.unil-caret-right:before {
  content: "\e9ca";
}
.unil-cell:before {
  content: "\e9cb";
}
.unil-celsius:before {
  content: "\e9cc";
}
.unil-channel-add:before {
  content: "\e9cd";
}
.unil-channel:before {
  content: "\e9ce";
}
.unil-chart-bar-alt:before {
  content: "\e9cf";
}
.unil-chart-bar:before {
  content: "\e9d0";
}
.unil-chart-down:before {
  content: "\e9d1";
}
.unil-chart-growth-alt:before {
  content: "\e9d2";
}
.unil-chart-growth:before {
  content: "\e9d3";
}
.unil-chart-line:before {
  content: "\e9d4";
}
.unil-chart-pie-alt:before {
  content: "\e9d5";
}
.unil-chart-pie:before {
  content: "\e9d6";
}
.unil-chart:before {
  content: "\e9d7";
}
.unil-chat-bubble-user:before {
  content: "\e9d8";
}
.unil-chat-info:before {
  content: "\e9d9";
}
.unil-chat:before {
  content: "\e9da";
}
.unil-check-circle:before {
  content: "\e9db";
}
.unil-check-square:before {
  content: "\e9dc";
}
.unil-check:before {
  content: "\e9dd";
}
.unil-circle-layer:before {
  content: "\e9de";
}
.unil-circle:before {
  content: "\e9df";
}
.unil-circuit:before {
  content: "\e9e0";
}
.unil-clapper-board:before {
  content: "\e9e1";
}
.unil-clinic-medical:before {
  content: "\e9e2";
}
.unil-clipboard-alt:before {
  content: "\e9e3";
}
.unil-clipboard-blank:before {
  content: "\e9e4";
}
.unil-clipboard-notes:before {
  content: "\e9e5";
}
.unil-clipboard:before {
  content: "\e9e6";
}
.unil-clock-eight:before {
  content: "\e9e7";
}
.unil-clock-five:before {
  content: "\e9e8";
}
.unil-clock-nine:before {
  content: "\e9e9";
}
.unil-clock-seven:before {
  content: "\e9ea";
}
.unil-clock-ten:before {
  content: "\e9eb";
}
.unil-clock-three:before {
  content: "\e9ec";
}
.unil-clock-two:before {
  content: "\e9ed";
}
.unil-clock:before {
  content: "\e9ee";
}
.unil-closed-captioning-slash:before {
  content: "\e9ef";
}
.unil-closed-captioning:before {
  content: "\e9f0";
}
.unil-cloud-block:before {
  content: "\e9f1";
}
.unil-cloud-bookmark:before {
  content: "\e9f2";
}
.unil-cloud-check:before {
  content: "\e9f3";
}
.unil-cloud-computing:before {
  content: "\e9f4";
}
.unil-cloud-data-connection:before {
  content: "\e9f5";
}
.unil-cloud-database-tree:before {
  content: "\e9f6";
}
.unil-cloud-download:before {
  content: "\e9f7";
}
.unil-cloud-drizzle:before {
  content: "\e9f8";
}
.unil-cloud-exclamation:before {
  content: "\e9f9";
}
.unil-cloud-hail:before {
  content: "\e9fa";
}
.unil-cloud-heart:before {
  content: "\e9fb";
}
.unil-cloud-info:before {
  content: "\e9fc";
}
.unil-cloud-lock:before {
  content: "\e9fd";
}
.unil-cloud-meatball:before {
  content: "\e9fe";
}
.unil-cloud-moon-hail:before {
  content: "\e9ff";
}
.unil-cloud-moon-meatball:before {
  content: "\ea00";
}
.unil-cloud-moon-rain:before {
  content: "\ea01";
}
.unil-cloud-moon-showers:before {
  content: "\ea02";
}
.unil-cloud-moon:before {
  content: "\ea03";
}
.unil-cloud-question:before {
  content: "\ea04";
}
.unil-cloud-rain-sun:before {
  content: "\ea05";
}
.unil-cloud-rain:before {
  content: "\ea06";
}
.unil-cloud-redo:before {
  content: "\ea07";
}
.unil-cloud-share:before {
  content: "\ea08";
}
.unil-cloud-shield:before {
  content: "\ea09";
}
.unil-cloud-showers-alt:before {
  content: "\ea0a";
}
.unil-cloud-showers-heavy:before {
  content: "\ea0b";
}
.unil-cloud-showers:before {
  content: "\ea0c";
}
.unil-cloud-slash:before {
  content: "\ea0d";
}
.unil-cloud-sun-hail:before {
  content: "\ea0e";
}
.unil-cloud-sun-meatball:before {
  content: "\ea0f";
}
.unil-cloud-sun-rain-alt:before {
  content: "\ea10";
}
.unil-cloud-sun-rain:before {
  content: "\ea11";
}
.unil-cloud-sun-tear:before {
  content: "\ea12";
}
.unil-cloud-sun:before {
  content: "\ea13";
}
.unil-cloud-times:before {
  content: "\ea14";
}
.unil-cloud-unlock:before {
  content: "\ea15";
}
.unil-cloud-upload:before {
  content: "\ea16";
}
.unil-cloud-wifi:before {
  content: "\ea17";
}
.unil-cloud-wind:before {
  content: "\ea18";
}
.unil-cloud:before {
  content: "\ea19";
}
.unil-clouds:before {
  content: "\ea1a";
}
.unil-club:before {
  content: "\ea1b";
}
.unil-code-branch:before {
  content: "\ea1c";
}
.unil-coffee:before {
  content: "\ea1d";
}
.unil-cog:before {
  content: "\ea1e";
}
.unil-coins:before {
  content: "\ea1f";
}
.unil-columns:before {
  content: "\ea20";
}
.unil-comment-add:before {
  content: "\ea21";
}
.unil-comment-alt-block:before {
  content: "\ea22";
}
.unil-comment-alt-chart-lines:before {
  content: "\ea23";
}
.unil-comment-alt-check:before {
  content: "\ea24";
}
.unil-comment-alt-dots:before {
  content: "\ea25";
}
.unil-comment-alt-download:before {
  content: "\ea26";
}
.unil-comment-alt-edit:before {
  content: "\ea27";
}
.unil-comment-alt-exclamation:before {
  content: "\ea28";
}
.unil-comment-alt-heart:before {
  content: "\ea29";
}
.unil-comment-alt-image:before {
  content: "\ea2a";
}
.unil-comment-alt-info:before {
  content: "\ea2b";
}
.unil-comment-alt-lines:before {
  content: "\ea2c";
}
.unil-comment-alt-lock:before {
  content: "\ea2d";
}
.unil-comment-alt-medical:before {
  content: "\ea2e";
}
.unil-comment-alt-message:before {
  content: "\ea2f";
}
.unil-comment-alt-notes:before {
  content: "\ea30";
}
.unil-comment-alt-plus:before {
  content: "\ea31";
}
.unil-comment-alt-question:before {
  content: "\ea32";
}
.unil-comment-alt-redo:before {
  content: "\ea33";
}
.unil-comment-alt-search:before {
  content: "\ea34";
}
.unil-comment-alt-share:before {
  content: "\ea35";
}
.unil-comment-alt-shield:before {
  content: "\ea36";
}
.unil-comment-alt-slash:before {
  content: "\ea37";
}
.unil-comment-alt-upload:before {
  content: "\ea38";
}
.unil-comment-alt-verify:before {
  content: "\ea39";
}
.unil-comment-alt:before {
  content: "\ea3a";
}
.unil-comment-block:before {
  content: "\ea3b";
}
.unil-comment-chart-line:before {
  content: "\ea3c";
}
.unil-comment-check:before {
  content: "\ea3d";
}
.unil-comment-dots:before {
  content: "\ea3e";
}
.unil-comment-download:before {
  content: "\ea3f";
}
.unil-comment-edit:before {
  content: "\ea40";
}
.unil-comment-exclamation:before {
  content: "\ea41";
}
.unil-comment-heart:before {
  content: "\ea42";
}
.unil-comment-image:before {
  content: "\ea43";
}
.unil-comment-info-alt:before {
  content: "\ea44";
}
.unil-comment-info:before {
  content: "\ea45";
}
.unil-comment-lines:before {
  content: "\ea46";
}
.unil-comment-lock:before {
  content: "\ea47";
}
.unil-comment-medical:before {
  content: "\ea48";
}
.unil-comment-message:before {
  content: "\ea49";
}
.unil-comment-notes:before {
  content: "\ea4a";
}
.unil-comment-plus:before {
  content: "\ea4b";
}
.unil-comment-question:before {
  content: "\ea4c";
}
.unil-comment-redo:before {
  content: "\ea4d";
}
.unil-comment-search:before {
  content: "\ea4e";
}
.unil-comment-share:before {
  content: "\ea4f";
}
.unil-comment-shield:before {
  content: "\ea50";
}
.unil-comment-slash:before {
  content: "\ea51";
}
.unil-comment-upload:before {
  content: "\ea52";
}
.unil-comment-verify:before {
  content: "\ea53";
}
.unil-comment:before {
  content: "\ea54";
}
.unil-comments-alt:before {
  content: "\ea55";
}
.unil-comments:before {
  content: "\ea56";
}
.unil-compact-disc:before {
  content: "\ea57";
}
.unil-comparison:before {
  content: "\ea58";
}
.unil-compass:before {
  content: "\ea59";
}
.unil-compress-alt-left:before {
  content: "\ea5a";
}
.unil-compress-alt:before {
  content: "\ea5b";
}
.unil-compress-arrows:before {
  content: "\ea5c";
}
.unil-compress-lines:before {
  content: "\ea5d";
}
.unil-compress-point:before {
  content: "\ea5e";
}
.unil-compress-v:before {
  content: "\ea5f";
}
.unil-compress:before {
  content: "\ea60";
}
.unil-confused:before {
  content: "\ea61";
}
.unil-constructor:before {
  content: "\ea62";
}
.unil-copy-alt:before {
  content: "\ea63";
}
.unil-copy-landscape:before {
  content: "\ea64";
}
.unil-copy:before {
  content: "\ea65";
}
.unil-copyright:before {
  content: "\ea66";
}
.unil-corner-down-left:before {
  content: "\ea67";
}
.unil-corner-down-right-alt:before {
  content: "\ea68";
}
.unil-corner-down-right:before {
  content: "\ea69";
}
.unil-corner-left-down:before {
  content: "\ea6a";
}
.unil-corner-right-down:before {
  content: "\ea6b";
}
.unil-corner-up-left-alt:before {
  content: "\ea6c";
}
.unil-corner-up-left:before {
  content: "\ea6d";
}
.unil-corner-up-right-alt:before {
  content: "\ea6e";
}
.unil-corner-up-right:before {
  content: "\ea6f";
}
.unil-coronavirus:before {
  content: "\ea70";
}
.unil-create-dashboard:before {
  content: "\ea71";
}
.unil-creative-commons-pd:before {
  content: "\ea72";
}
.unil-credit-card-search:before {
  content: "\ea73";
}
.unil-credit-card:before {
  content: "\ea74";
}
.unil-crockery:before {
  content: "\ea75";
}
.unil-crop-alt-rotate-left:before {
  content: "\ea76";
}
.unil-crop-alt-rotate-right:before {
  content: "\ea77";
}
.unil-crop-alt:before {
  content: "\ea78";
}
.unil-crosshair-alt:before {
  content: "\ea79";
}
.unil-crosshair:before {
  content: "\ea7a";
}
.unil-crosshairs:before {
  content: "\ea7b";
}
.unil-css3-simple:before {
  content: "\ea7c";
}
.unil-cube:before {
  content: "\ea7d";
}
.unil-dashboard:before {
  content: "\ea7e";
}
.unil-data-sharing:before {
  content: "\ea7f";
}
.unil-database-alt:before {
  content: "\ea80";
}
.unil-database:before {
  content: "\ea81";
}
.unil-desert:before {
  content: "\ea82";
}
.unil-desktop-alt-slash:before {
  content: "\ea83";
}
.unil-desktop-alt:before {
  content: "\ea84";
}
.unil-desktop-cloud-alt:before {
  content: "\ea85";
}
.unil-desktop-slash:before {
  content: "\ea86";
}
.unil-desktop:before {
  content: "\ea87";
}
.unil-dialpad-alt:before {
  content: "\ea88";
}
.unil-dialpad:before {
  content: "\ea89";
}
.unil-diamond:before {
  content: "\ea8a";
}
.unil-diary-alt:before {
  content: "\ea8b";
}
.unil-diary:before {
  content: "\ea8c";
}
.unil-dice-five:before {
  content: "\ea8d";
}
.unil-dice-four:before {
  content: "\ea8e";
}
.unil-dice-one:before {
  content: "\ea8f";
}
.unil-dice-six:before {
  content: "\ea90";
}
.unil-dice-three:before {
  content: "\ea91";
}
.unil-dice-two:before {
  content: "\ea92";
}
.unil-direction:before {
  content: "\ea93";
}
.unil-directions:before {
  content: "\ea94";
}
.unil-discord:before {
  content: "\ea95";
}
.unil-dizzy-meh:before {
  content: "\ea96";
}
.unil-dna:before {
  content: "\ea97";
}
.unil-document-info:before {
  content: "\ea98";
}
.unil-document-layout-center:before {
  content: "\ea99";
}
.unil-document-layout-left:before {
  content: "\ea9a";
}
.unil-document-layout-right:before {
  content: "\ea9b";
}
.unil-dollar-alt:before {
  content: "\ea9c";
}
.unil-dollar-sign-alt:before {
  content: "\ea9d";
}
.unil-dollar-sign:before {
  content: "\ea9e";
}
.unil-download-alt:before {
  content: "\ea9f";
}
.unil-draggabledots:before {
  content: "\eaa0";
}
.unil-dribbble:before {
  content: "\eaa1";
}
.unil-drill:before {
  content: "\eaa2";
}
.unil-dropbox:before {
  content: "\eaa3";
}
.unil-dumbbell:before {
  content: "\eaa4";
}
.unil-ear:before {
  content: "\eaa5";
}
.unil-edit-alt:before {
  content: "\eaa6";
}
.unil-edit:before {
  content: "\eaa7";
}
.unil-ellipsis-h:before {
  content: "\eaa8";
}
.unil-ellipsis-v:before {
  content: "\eaa9";
}
.unil-emoji:before {
  content: "\eaaa";
}
.unil-english-to-chinese:before {
  content: "\eaab";
}
.unil-enter:before {
  content: "\eaac";
}
.unil-envelope-add:before {
  content: "\eaad";
}
.unil-envelope-alt:before {
  content: "\eaae";
}
.unil-envelope-block:before {
  content: "\eaaf";
}
.unil-envelope-bookmark:before {
  content: "\eab0";
}
.unil-envelope-check:before {
  content: "\eab1";
}
.unil-envelope-download-alt:before {
  content: "\eab2";
}
.unil-envelope-download:before {
  content: "\eab3";
}
.unil-envelope-edit:before {
  content: "\eab4";
}
.unil-envelope-exclamation:before {
  content: "\eab5";
}
.unil-envelope-heart:before {
  content: "\eab6";
}
.unil-envelope-info:before {
  content: "\eab7";
}
.unil-envelope-lock:before {
  content: "\eab8";
}
.unil-envelope-minus:before {
  content: "\eab9";
}
.unil-envelope-open:before {
  content: "\eaba";
}
.unil-envelope-question:before {
  content: "\eabb";
}
.unil-envelope-receive:before {
  content: "\eabc";
}
.unil-envelope-redo:before {
  content: "\eabd";
}
.unil-envelope-search:before {
  content: "\eabe";
}
.unil-envelope-send:before {
  content: "\eabf";
}
.unil-envelope-share:before {
  content: "\eac0";
}
.unil-envelope-shield:before {
  content: "\eac1";
}
.unil-envelope-star:before {
  content: "\eac2";
}
.unil-envelope-times:before {
  content: "\eac3";
}
.unil-envelope-upload-alt:before {
  content: "\eac4";
}
.unil-envelope-upload:before {
  content: "\eac5";
}
.unil-envelope:before {
  content: "\eac6";
}
.unil-envelopes:before {
  content: "\eac7";
}
.unil-equal-circle:before {
  content: "\eac8";
}
.unil-estate:before {
  content: "\eac9";
}
.unil-euro-circle:before {
  content: "\eaca";
}
.unil-euro:before {
  content: "\eacb";
}
.unil-exchange-alt:before {
  content: "\eacc";
}
.unil-exchange:before {
  content: "\eacd";
}
.unil-exclamation-circle:before {
  content: "\eace";
}
.unil-exclamation-octagon:before {
  content: "\eacf";
}
.unil-exclamation-triangle:before {
  content: "\ead0";
}
.unil-exclamation:before {
  content: "\ead1";
}
.unil-exclude:before {
  content: "\ead2";
}
.unil-exit:before {
  content: "\ead3";
}
.unil-expand-alt:before {
  content: "\ead4";
}
.unil-expand-arrows-alt:before {
  content: "\ead5";
}
.unil-expand-arrows:before {
  content: "\ead6";
}
.unil-expand-from-corner:before {
  content: "\ead7";
}
.unil-expand-left:before {
  content: "\ead8";
}
.unil-expand-right:before {
  content: "\ead9";
}
.unil-export:before {
  content: "\eada";
}
.unil-exposure-alt:before {
  content: "\eadb";
}
.unil-exposure-increase:before {
  content: "\eadc";
}
.unil-external-link-alt:before {
  content: "\eadd";
}
.unil-eye-slash:before {
  content: "\eade";
}
.unil-eye:before {
  content: "\eadf";
}
.unil-facebook-f:before {
  content: "\eae0";
}
.unil-facebook-messenger-alt:before {
  content: "\eae1";
}
.unil-facebook-messenger:before {
  content: "\eae2";
}
.unil-facebook:before {
  content: "\eae3";
}
.unil-fahrenheit:before {
  content: "\eae4";
}
.unil-fast-mail-alt:before {
  content: "\eae5";
}
.unil-fast-mail:before {
  content: "\eae6";
}
.unil-favorite:before {
  content: "\eae7";
}
.unil-feedback:before {
  content: "\eae8";
}
.unil-file-alt:before {
  content: "\eae9";
}
.unil-file-blank:before {
  content: "\eaea";
}
.unil-file-block-alt:before {
  content: "\eaeb";
}
.unil-file-bookmark-alt:before {
  content: "\eaec";
}
.unil-file-check-alt:before {
  content: "\eaed";
}
.unil-file-check:before {
  content: "\eaee";
}
.unil-file-contract-dollar:before {
  content: "\eaef";
}
.unil-file-copy-alt:before {
  content: "\eaf0";
}
.unil-file-download-alt:before {
  content: "\eaf1";
}
.unil-file-download:before {
  content: "\eaf2";
}
.unil-file-edit-alt:before {
  content: "\eaf3";
}
.unil-file-exclamation-alt:before {
  content: "\eaf4";
}
.unil-file-exclamation:before {
  content: "\eaf5";
}
.unil-file-export:before {
  content: "\eaf6";
}
.unil-file-graph:before {
  content: "\eaf7";
}
.unil-file-heart:before {
  content: "\eaf8";
}
.unil-file-import:before {
  content: "\eaf9";
}
.unil-file-info-alt:before {
  content: "\eafa";
}
.unil-file-landscape-alt:before {
  content: "\eafb";
}
.unil-file-landscape:before {
  content: "\eafc";
}
.unil-file-lanscape-slash:before {
  content: "\eafd";
}
.unil-file-lock-alt:before {
  content: "\eafe";
}
.unil-file-medical-alt:before {
  content: "\eaff";
}
.unil-file-medical:before {
  content: "\eb00";
}
.unil-file-minus-alt:before {
  content: "\eb01";
}
.unil-file-minus:before {
  content: "\eb02";
}
.unil-file-network:before {
  content: "\eb03";
}
.unil-file-plus-alt:before {
  content: "\eb04";
}
.unil-file-plus:before {
  content: "\eb05";
}
.unil-file-question-alt:before {
  content: "\eb06";
}
.unil-file-question:before {
  content: "\eb07";
}
.unil-file-redo-alt:before {
  content: "\eb08";
}
.unil-file-search-alt:before {
  content: "\eb09";
}
.unil-file-share-alt:before {
  content: "\eb0a";
}
.unil-file-shield-alt:before {
  content: "\eb0b";
}
.unil-file-slash:before {
  content: "\eb0c";
}
.unil-file-times-alt:before {
  content: "\eb0d";
}
.unil-file-times:before {
  content: "\eb0e";
}
.unil-file-upload-alt:before {
  content: "\eb0f";
}
.unil-file-upload:before {
  content: "\eb10";
}
.unil-file:before {
  content: "\eb11";
}
.unil-files-landscapes-alt:before {
  content: "\eb12";
}
.unil-files-landscapes:before {
  content: "\eb13";
}
.unil-film:before {
  content: "\eb14";
}
.unil-filter-slash:before {
  content: "\eb15";
}
.unil-filter:before {
  content: "\eb16";
}
.unil-fire:before {
  content: "\eb17";
}
.unil-flask-potion:before {
  content: "\eb18";
}
.unil-flask:before {
  content: "\eb19";
}
.unil-flip-h-alt:before {
  content: "\eb1a";
}
.unil-flip-h:before {
  content: "\eb1b";
}
.unil-flip-v-alt:before {
  content: "\eb1c";
}
.unil-flip-v:before {
  content: "\eb1d";
}
.unil-flower:before {
  content: "\eb1e";
}
.unil-focus-add:before {
  content: "\eb1f";
}
.unil-focus-target:before {
  content: "\eb20";
}
.unil-focus:before {
  content: "\eb21";
}
.unil-folder-check:before {
  content: "\eb22";
}
.unil-folder-download:before {
  content: "\eb23";
}
.unil-folder-exclamation:before {
  content: "\eb24";
}
.unil-folder-heart:before {
  content: "\eb25";
}
.unil-folder-info:before {
  content: "\eb26";
}
.unil-folder-lock:before {
  content: "\eb27";
}
.unil-folder-medical:before {
  content: "\eb28";
}
.unil-folder-minus:before {
  content: "\eb29";
}
.unil-folder-network:before {
  content: "\eb2a";
}
.unil-folder-open:before {
  content: "\eb2b";
}
.unil-folder-plus:before {
  content: "\eb2c";
}
.unil-folder-question:before {
  content: "\eb2d";
}
.unil-folder-slash:before {
  content: "\eb2e";
}
.unil-folder-times:before {
  content: "\eb2f";
}
.unil-folder-upload:before {
  content: "\eb30";
}
.unil-folder:before {
  content: "\eb31";
}
.unil-font:before {
  content: "\eb32";
}
.unil-football-american:before {
  content: "\eb33";
}
.unil-football-ball:before {
  content: "\eb34";
}
.unil-football:before {
  content: "\eb35";
}
.unil-forecastcloud-moon-tear:before {
  content: "\eb36";
}
.unil-forwaded-call:before {
  content: "\eb37";
}
.unil-forward:before {
  content: "\eb38";
}
.unil-frown:before {
  content: "\eb39";
}
.unil-game-structure:before {
  content: "\eb3a";
}
.unil-gift:before {
  content: "\eb3b";
}
.unil-github-alt:before {
  content: "\eb3c";
}
.unil-github:before {
  content: "\eb3d";
}
.unil-glass-martini-alt-slash:before {
  content: "\eb3e";
}
.unil-glass-martini-alt:before {
  content: "\eb3f";
}
.unil-glass-martini:before {
  content: "\eb40";
}
.unil-glass-tea:before {
  content: "\eb41";
}
.unil-glass:before {
  content: "\eb42";
}
.unil-globe:before {
  content: "\eb43";
}
.unil-gold:before {
  content: "\eb44";
}
.unil-golf-ball:before {
  content: "\eb45";
}
.unil-google-drive-alt:before {
  content: "\eb46";
}
.unil-google-drive:before {
  content: "\eb47";
}
.unil-google-hangouts-alt:before {
  content: "\eb48";
}
.unil-google-hangouts:before {
  content: "\eb49";
}
.unil-google-play:before {
  content: "\eb4a";
}
.unil-google:before {
  content: "\eb4b";
}
.unil-graduation-cap:before {
  content: "\eb4c";
}
.unil-graph-bar:before {
  content: "\eb4d";
}
.unil-grid:before {
  content: "\eb4e";
}
.unil-grids:before {
  content: "\eb4f";
}
.unil-grin-tongue-wink-alt:before {
  content: "\eb50";
}
.unil-grin-tongue-wink:before {
  content: "\eb51";
}
.unil-grin:before {
  content: "\eb52";
}
.unil-grip-horizontal-line:before {
  content: "\eb53";
}
.unil-hard-hat:before {
  content: "\eb54";
}
.unil-hdd:before {
  content: "\eb55";
}
.unil-head-side-cough:before {
  content: "\eb56";
}
.unil-head-side-mask:before {
  content: "\eb57";
}
.unil-head-side:before {
  content: "\eb58";
}
.unil-headphone-slash:before {
  content: "\eb59";
}
.unil-headphones-alt:before {
  content: "\eb5a";
}
.unil-headphones:before {
  content: "\eb5b";
}
.unil-heart-alt:before {
  content: "\eb5c";
}
.unil-heart-break:before {
  content: "\eb5d";
}
.unil-heart-medical:before {
  content: "\eb5e";
}
.unil-heart-rate:before {
  content: "\eb5f";
}
.unil-heart-sign:before {
  content: "\eb60";
}
.unil-heart:before {
  content: "\eb61";
}
.unil-heartbeat:before {
  content: "\eb62";
}
.unil-hindi-to-chinese:before {
  content: "\eb63";
}
.unil-history-alt:before {
  content: "\eb64";
}
.unil-history:before {
  content: "\eb65";
}
.unil-home-alt:before {
  content: "\eb66";
}
.unil-home:before {
  content: "\eb67";
}
.unil-horizontal-align-center:before {
  content: "\eb68";
}
.unil-horizontal-align-left:before {
  content: "\eb69";
}
.unil-horizontal-align-right:before {
  content: "\eb6a";
}
.unil-horizontal-distribution-center:before {
  content: "\eb6b";
}
.unil-horizontal-distribution-left:before {
  content: "\eb6c";
}
.unil-horizontal-distribution-right:before {
  content: "\eb6d";
}
.unil-hospital-square-sign:before {
  content: "\eb6e";
}
.unil-hospital-symbol:before {
  content: "\eb6f";
}
.unil-hospital:before {
  content: "\eb70";
}
.unil-hourglass:before {
  content: "\eb71";
}
.unil-house-user:before {
  content: "\eb72";
}
.unil-html3-alt:before {
  content: "\eb73";
}
.unil-html3:before {
  content: "\eb74";
}
.unil-html5-alt:before {
  content: "\eb75";
}
.unil-html5:before {
  content: "\eb76";
}
.unil-hunting:before {
  content: "\eb77";
}
.unil-image-alt-slash:before {
  content: "\eb78";
}
.unil-image-block:before {
  content: "\eb79";
}
.unil-image-broken:before {
  content: "\eb7a";
}
.unil-image-check:before {
  content: "\eb7b";
}
.unil-image-download:before {
  content: "\eb7c";
}
.unil-image-edit:before {
  content: "\eb7d";
}
.unil-image-lock:before {
  content: "\eb7e";
}
.unil-image-minus:before {
  content: "\eb7f";
}
.unil-image-plus:before {
  content: "\eb80";
}
.unil-image-question:before {
  content: "\eb81";
}
.unil-image-redo:before {
  content: "\eb82";
}
.unil-image-resize-landscape:before {
  content: "\eb83";
}
.unil-image-resize-square:before {
  content: "\eb84";
}
.unil-image-search:before {
  content: "\eb85";
}
.unil-image-share:before {
  content: "\eb86";
}
.unil-image-shield:before {
  content: "\eb87";
}
.unil-image-slash:before {
  content: "\eb88";
}
.unil-image-times:before {
  content: "\eb89";
}
.unil-image-upload:before {
  content: "\eb8a";
}
.unil-image-v:before {
  content: "\eb8b";
}
.unil-image:before {
  content: "\eb8c";
}
.unil-images:before {
  content: "\eb8d";
}
.unil-import:before {
  content: "\eb8e";
}
.unil-inbox:before {
  content: "\eb8f";
}
.unil-incoming-call:before {
  content: "\eb90";
}
.unil-info-circle:before {
  content: "\eb91";
}
.unil-info:before {
  content: "\eb92";
}
.unil-instagram-alt:before {
  content: "\eb93";
}
.unil-instagram:before {
  content: "\eb94";
}
.unil-intercom-alt:before {
  content: "\eb95";
}
.unil-intercom:before {
  content: "\eb96";
}
.unil-invoice:before {
  content: "\eb97";
}
.unil-italic:before {
  content: "\eb98";
}
.unil-jackhammer:before {
  content: "\eb99";
}
.unil-java-script:before {
  content: "\eb9a";
}
.unil-kayak:before {
  content: "\eb9b";
}
.unil-key-skeleton-alt:before {
  content: "\eb9c";
}
.unil-key-skeleton:before {
  content: "\eb9d";
}
.unil-keyboard-alt:before {
  content: "\eb9e";
}
.unil-keyboard-hide:before {
  content: "\eb9f";
}
.unil-keyboard-show:before {
  content: "\eba0";
}
.unil-keyboard:before {
  content: "\eba1";
}
.unil-keyhole-circle:before {
  content: "\eba2";
}
.unil-keyhole-square-full:before {
  content: "\eba3";
}
.unil-keyhole-square:before {
  content: "\eba4";
}
.unil-kid:before {
  content: "\eba5";
}
.unil-label-alt:before {
  content: "\eba6";
}
.unil-label:before {
  content: "\eba7";
}
.unil-lamp:before {
  content: "\eba8";
}
.unil-language:before {
  content: "\eba9";
}
.unil-laptop-cloud:before {
  content: "\ebaa";
}
.unil-laptop-connection:before {
  content: "\ebab";
}
.unil-laptop:before {
  content: "\ebac";
}
.unil-laughing:before {
  content: "\ebad";
}
.unil-layer-group-slash:before {
  content: "\ebae";
}
.unil-layer-group:before {
  content: "\ebaf";
}
.unil-layers-alt:before {
  content: "\ebb0";
}
.unil-layers-slash:before {
  content: "\ebb1";
}
.unil-layers:before {
  content: "\ebb2";
}
.unil-left-arrow-from-left:before {
  content: "\ebb3";
}
.unil-left-arrow-to-left:before {
  content: "\ebb4";
}
.unil-left-indent-alt:before {
  content: "\ebb5";
}
.unil-left-indent:before {
  content: "\ebb6";
}
.unil-left-to-right-text-direction:before {
  content: "\ebb7";
}
.unil-letter-chinese-a:before {
  content: "\ebb8";
}
.unil-letter-english-a:before {
  content: "\ebb9";
}
.unil-letter-hindi-a:before {
  content: "\ebba";
}
.unil-letter-japanese-a:before {
  content: "\ebbb";
}
.unil-life-ring:before {
  content: "\ebbc";
}
.unil-lightbulb-alt:before {
  content: "\ebbd";
}
.unil-lightbulb:before {
  content: "\ebbe";
}
.unil-line-alt:before {
  content: "\ebbf";
}
.unil-line-spacing:before {
  content: "\ebc0";
}
.unil-line:before {
  content: "\ebc1";
}
.unil-link-add:before {
  content: "\ebc2";
}
.unil-link-alt:before {
  content: "\ebc3";
}
.unil-link-broken:before {
  content: "\ebc4";
}
.unil-link-h:before {
  content: "\ebc5";
}
.unil-link:before {
  content: "\ebc6";
}
.unil-linkedin-alt:before {
  content: "\ebc7";
}
.unil-linkedin:before {
  content: "\ebc8";
}
.unil-lira-sign:before {
  content: "\ebc9";
}
.unil-list-ui-alt:before {
  content: "\ebca";
}
.unil-list-ul:before {
  content: "\ebcb";
}
.unil-location-arrow-alt:before {
  content: "\ebcc";
}
.unil-location-arrow:before {
  content: "\ebcd";
}
.unil-location-pin-alt:before {
  content: "\ebce";
}
.unil-location-point:before {
  content: "\ebcf";
}
.unil-lock-access:before {
  content: "\ebd0";
}
.unil-lock-alt:before {
  content: "\ebd1";
}
.unil-lock-open-alt:before {
  content: "\ebd2";
}
.unil-lock-slash:before {
  content: "\ebd3";
}
.unil-lock:before {
  content: "\ebd4";
}
.unil-luggage-cart:before {
  content: "\ebd5";
}
.unil-mailbox-alt:before {
  content: "\ebd6";
}
.unil-mailbox:before {
  content: "\ebd7";
}
.unil-map-marker-alt:before {
  content: "\ebd8";
}
.unil-map-marker-edit:before {
  content: "\ebd9";
}
.unil-map-marker-info:before {
  content: "\ebda";
}
.unil-map-marker-minus:before {
  content: "\ebdb";
}
.unil-map-marker-plus:before {
  content: "\ebdc";
}
.unil-map-marker-question:before {
  content: "\ebdd";
}
.unil-map-marker-shield:before {
  content: "\ebde";
}
.unil-map-marker-slash:before {
  content: "\ebdf";
}
.unil-map-marker:before {
  content: "\ebe0";
}
.unil-map-pin-alt:before {
  content: "\ebe1";
}
.unil-map-pin:before {
  content: "\ebe2";
}
.unil-map:before {
  content: "\ebe3";
}
.unil-mars:before {
  content: "\ebe4";
}
.unil-master-card:before {
  content: "\ebe5";
}
.unil-maximize-left:before {
  content: "\ebe6";
}
.unil-medal:before {
  content: "\ebe7";
}
.unil-medical-drip:before {
  content: "\ebe8";
}
.unil-medical-square-full:before {
  content: "\ebe9";
}
.unil-medical-square:before {
  content: "\ebea";
}
.unil-medium-m:before {
  content: "\ebeb";
}
.unil-medkit:before {
  content: "\ebec";
}
.unil-meeting-board:before {
  content: "\ebed";
}
.unil-megaphone:before {
  content: "\ebee";
}
.unil-meh-alt:before {
  content: "\ebef";
}
.unil-meh-closed-eye:before {
  content: "\ebf0";
}
.unil-meh:before {
  content: "\ebf1";
}
.unil-message:before {
  content: "\ebf2";
}
.unil-metro:before {
  content: "\ebf3";
}
.unil-microphone-slash:before {
  content: "\ebf4";
}
.unil-microphone:before {
  content: "\ebf5";
}
.unil-microscope:before {
  content: "\ebf6";
}
.unil-minus-circle:before {
  content: "\ebf7";
}
.unil-minus-path:before {
  content: "\ebf8";
}
.unil-minus-square-full:before {
  content: "\ebf9";
}
.unil-minus-square:before {
  content: "\ebfa";
}
.unil-minus:before {
  content: "\ebfb";
}
.unil-missed-call:before {
  content: "\ebfc";
}
.unil-mobile-android-alt:before {
  content: "\ebfd";
}
.unil-mobile-android:before {
  content: "\ebfe";
}
.unil-mobile-vibrate:before {
  content: "\ebff";
}
.unil-modem:before {
  content: "\ec00";
}
.unil-money-bill-slash:before {
  content: "\ec01";
}
.unil-money-bill-stack:before {
  content: "\ec02";
}
.unil-money-bill:before {
  content: "\ec03";
}
.unil-money-insert:before {
  content: "\ec04";
}
.unil-money-stack:before {
  content: "\ec05";
}
.unil-money-withdraw:before {
  content: "\ec06";
}
.unil-money-withdrawal:before {
  content: "\ec07";
}
.unil-moneybag-alt:before {
  content: "\ec08";
}
.unil-moneybag:before {
  content: "\ec09";
}
.unil-monitor-heart-rate:before {
  content: "\ec0a";
}
.unil-monitor:before {
  content: "\ec0b";
}
.unil-moon-eclipse:before {
  content: "\ec0c";
}
.unil-moon:before {
  content: "\ec0d";
}
.unil-moonset:before {
  content: "\ec0e";
}
.unil-mountains-sun:before {
  content: "\ec0f";
}
.unil-mountains:before {
  content: "\ec10";
}
.unil-mouse-alt-2:before {
  content: "\ec11";
}
.unil-mouse-alt:before {
  content: "\ec12";
}
.unil-mouse:before {
  content: "\ec13";
}
.unil-multiply:before {
  content: "\ec14";
}
.unil-music-note:before {
  content: "\ec15";
}
.unil-music-tune-slash:before {
  content: "\ec16";
}
.unil-music:before {
  content: "\ec17";
}
.unil-n-a:before {
  content: "\ec18";
}
.unil-navigator:before {
  content: "\ec19";
}
.unil-nerd:before {
  content: "\ec1a";
}
.unil-newspaper:before {
  content: "\ec1b";
}
.unil-ninja:before {
  content: "\ec1c";
}
.unil-no-entry:before {
  content: "\ec1d";
}
.unil-notebooks:before {
  content: "\ec1e";
}
.unil-notes:before {
  content: "\ec1f";
}
.unil-object-group:before {
  content: "\ec20";
}
.unil-object-ungroup:before {
  content: "\ec21";
}
.unil-octagon:before {
  content: "\ec22";
}
.unil-opera-alt:before {
  content: "\ec23";
}
.unil-opera:before {
  content: "\ec24";
}
.unil-outgoing-call:before {
  content: "\ec25";
}
.unil-package:before {
  content: "\ec26";
}
.unil-padlock:before {
  content: "\ec27";
}
.unil-paint-tool:before {
  content: "\ec28";
}
.unil-palette:before {
  content: "\ec29";
}
.unil-panel-add:before {
  content: "\ec2a";
}
.unil-panorama-h-alt:before {
  content: "\ec2b";
}
.unil-panorama-h:before {
  content: "\ec2c";
}
.unil-panorama-v:before {
  content: "\ec2d";
}
.unil-paperclip:before {
  content: "\ec2e";
}
.unil-paragraph:before {
  content: "\ec2f";
}
.unil-parcel:before {
  content: "\ec30";
}
.unil-parking-circle:before {
  content: "\ec31";
}
.unil-parking-square:before {
  content: "\ec32";
}
.unil-pathfinder-unite:before {
  content: "\ec33";
}
.unil-pathfinder:before {
  content: "\ec34";
}
.unil-pause-circle:before {
  content: "\ec35";
}
.unil-pause:before {
  content: "\ec36";
}
.unil-paypal:before {
  content: "\ec37";
}
.unil-pen:before {
  content: "\ec38";
}
.unil-pentagon:before {
  content: "\ec39";
}
.unil-percentage:before {
  content: "\ec3a";
}
.unil-phone-alt:before {
  content: "\ec3b";
}
.unil-phone-pause:before {
  content: "\ec3c";
}
.unil-phone-slash:before {
  content: "\ec3d";
}
.unil-phone-times:before {
  content: "\ec3e";
}
.unil-phone-volume:before {
  content: "\ec3f";
}
.unil-phone:before {
  content: "\ec40";
}
.unil-picture:before {
  content: "\ec41";
}
.unil-pizza-slice:before {
  content: "\ec42";
}
.unil-plane-arrival:before {
  content: "\ec43";
}
.unil-plane-departure:before {
  content: "\ec44";
}
.unil-plane-fly:before {
  content: "\ec45";
}
.unil-plane:before {
  content: "\ec46";
}
.unil-play-circle:before {
  content: "\ec47";
}
.unil-play:before {
  content: "\ec48";
}
.unil-plug:before {
  content: "\ec49";
}
.unil-plus-circle:before {
  content: "\ec4a";
}
.unil-plus-square:before {
  content: "\ec4b";
}
.unil-plus:before {
  content: "\ec4c";
}
.unil-podium:before {
  content: "\ec4d";
}
.unil-polygon:before {
  content: "\ec4e";
}
.unil-post-stamp:before {
  content: "\ec4f";
}
.unil-postcard:before {
  content: "\ec50";
}
.unil-pound-circle:before {
  content: "\ec51";
}
.unil-pound:before {
  content: "\ec52";
}
.unil-power:before {
  content: "\ec53";
}
.unil-prescription-bottle:before {
  content: "\ec54";
}
.unil-presentation-check:before {
  content: "\ec55";
}
.unil-presentation-edit:before {
  content: "\ec56";
}
.unil-presentation-line:before {
  content: "\ec57";
}
.unil-presentation-lines-alt:before {
  content: "\ec58";
}
.unil-presentation-minus:before {
  content: "\ec59";
}
.unil-presentation-play:before {
  content: "\ec5a";
}
.unil-presentation-plus:before {
  content: "\ec5b";
}
.unil-presentation-times:before {
  content: "\ec5c";
}
.unil-presentation:before {
  content: "\ec5d";
}
.unil-previous:before {
  content: "\ec5e";
}
.unil-pricetag-alt:before {
  content: "\ec5f";
}
.unil-print-slash:before {
  content: "\ec60";
}
.unil-print:before {
  content: "\ec61";
}
.unil-process:before {
  content: "\ec62";
}
.unil-processor:before {
  content: "\ec63";
}
.unil-programming-language:before {
  content: "\ec64";
}
.unil-pump:before {
  content: "\ec65";
}
.unil-puzzle-piece:before {
  content: "\ec66";
}
.unil-qrcode-scan:before {
  content: "\ec67";
}
.unil-question-circle:before {
  content: "\ec68";
}
.unil-question:before {
  content: "\ec69";
}
.unil-rainbow:before {
  content: "\ec6a";
}
.unil-raindrops-alt:before {
  content: "\ec6b";
}
.unil-raindrops:before {
  content: "\ec6c";
}
.unil-react:before {
  content: "\ec6d";
}
.unil-receipt-alt:before {
  content: "\ec6e";
}
.unil-receipt:before {
  content: "\ec6f";
}
.unil-record-audio:before {
  content: "\ec70";
}
.unil-reddit-alien-alt:before {
  content: "\ec71";
}
.unil-redo:before {
  content: "\ec72";
}
.unil-refresh:before {
  content: "\ec73";
}
.unil-registered:before {
  content: "\ec74";
}
.unil-repeat:before {
  content: "\ec75";
}
.unil-restaurant:before {
  content: "\ec76";
}
.unil-right-indent-alt:before {
  content: "\ec77";
}
.unil-right-to-left-text-direction:before {
  content: "\ec78";
}
.unil-robot:before {
  content: "\ec79";
}
.unil-rocket:before {
  content: "\ec7a";
}
.unil-rope-way:before {
  content: "\ec7b";
}
.unil-rotate-360:before {
  content: "\ec7c";
}
.unil-rss-alt:before {
  content: "\ec7d";
}
.unil-rss-interface:before {
  content: "\ec7e";
}
.unil-rss:before {
  content: "\ec7f";
}
.unil-ruler-combined:before {
  content: "\ec80";
}
.unil-ruler:before {
  content: "\ec81";
}
.unil-rupee-sign:before {
  content: "\ec82";
}
.unil-sad-cry:before {
  content: "\ec83";
}
.unil-sad-crying:before {
  content: "\ec84";
}
.unil-sad-dizzy:before {
  content: "\ec85";
}
.unil-sad-squint:before {
  content: "\ec86";
}
.unil-sad:before {
  content: "\ec87";
}
.unil-sanitizer-alt:before {
  content: "\ec88";
}
.unil-sanitizer:before {
  content: "\ec89";
}
.unil-save:before {
  content: "\ec8a";
}
.unil-scaling-left:before {
  content: "\ec8b";
}
.unil-scaling-right:before {
  content: "\ec8c";
}
.unil-scenery:before {
  content: "\ec8d";
}
.unil-schedule:before {
  content: "\ec8e";
}
.unil-screw:before {
  content: "\ec8f";
}
.unil-scroll-h:before {
  content: "\ec90";
}
.unil-scroll:before {
  content: "\ec91";
}
.unil-search-alt:before {
  content: "\ec92";
}
.unil-search-minus:before {
  content: "\ec93";
}
.unil-search-plus:before {
  content: "\ec94";
}
.unil-search:before {
  content: "\ec95";
}
.unil-selfie:before {
  content: "\ec96";
}
.unil-server-alt:before {
  content: "\ec97";
}
.unil-server-connection:before {
  content: "\ec98";
}
.unil-server-network-alt:before {
  content: "\ec99";
}
.unil-server-network:before {
  content: "\ec9a";
}
.unil-server:before {
  content: "\ec9b";
}
.unil-servers:before {
  content: "\ec9c";
}
.unil-servicemark:before {
  content: "\ec9d";
}
.unil-setting:before {
  content: "\ec9e";
}
.unil-share-alt:before {
  content: "\ec9f";
}
.unil-share:before {
  content: "\eca0";
}
.unil-shield-check:before {
  content: "\eca1";
}
.unil-shield-exclamation:before {
  content: "\eca2";
}
.unil-shield-plus:before {
  content: "\eca3";
}
.unil-shield-question:before {
  content: "\eca4";
}
.unil-shield-slash:before {
  content: "\eca5";
}
.unil-shield:before {
  content: "\eca6";
}
.unil-ship:before {
  content: "\eca7";
}
.unil-shop:before {
  content: "\eca8";
}
.unil-shopping-bag:before {
  content: "\eca9";
}
.unil-shopping-basket:before {
  content: "\ecaa";
}
.unil-shopping-cart-alt:before {
  content: "\ecab";
}
.unil-shopping-cart:before {
  content: "\ecac";
}
.unil-shovel:before {
  content: "\ecad";
}
.unil-shrink:before {
  content: "\ecae";
}
.unil-shuffle:before {
  content: "\ecaf";
}
.unil-shutter-alt:before {
  content: "\ecb0";
}
.unil-shutter:before {
  content: "\ecb1";
}
.unil-sick:before {
  content: "\ecb2";
}
.unil-sigma:before {
  content: "\ecb3";
}
.unil-sign-alt:before {
  content: "\ecb4";
}
.unil-sign-in-alt:before {
  content: "\ecb5";
}
.unil-sign-left:before {
  content: "\ecb6";
}
.unil-sign-out-alt:before {
  content: "\ecb7";
}
.unil-sign-right:before {
  content: "\ecb8";
}
.unil-signal-alt-3:before {
  content: "\ecb9";
}
.unil-signal-alt:before {
  content: "\ecba";
}
.unil-signal:before {
  content: "\ecbb";
}
.unil-signin:before {
  content: "\ecbc";
}
.unil-signout:before {
  content: "\ecbd";
}
.unil-silence:before {
  content: "\ecbe";
}
.unil-silent-squint:before {
  content: "\ecbf";
}
.unil-sim-card:before {
  content: "\ecc0";
}
.unil-sitemap:before {
  content: "\ecc1";
}
.unil-skip-forward-alt:before {
  content: "\ecc2";
}
.unil-skip-forward-circle:before {
  content: "\ecc3";
}
.unil-skip-forward:before {
  content: "\ecc4";
}
.unil-skype-alt:before {
  content: "\ecc5";
}
.unil-skype:before {
  content: "\ecc6";
}
.unil-slack-alt:before {
  content: "\ecc7";
}
.unil-slack:before {
  content: "\ecc8";
}
.unil-slider-h-range:before {
  content: "\ecc9";
}
.unil-slider-h:before {
  content: "\ecca";
}
.unil-sliders-v-alt:before {
  content: "\eccb";
}
.unil-sliders-v:before {
  content: "\eccc";
}
.unil-smile-beam:before {
  content: "\eccd";
}
.unil-smile-dizzy:before {
  content: "\ecce";
}
.unil-smile-squint-wink-alt:before {
  content: "\eccf";
}
.unil-smile-squint-wink:before {
  content: "\ecd0";
}
.unil-smile-wink-alt:before {
  content: "\ecd1";
}
.unil-smile-wink:before {
  content: "\ecd2";
}
.unil-smile:before {
  content: "\ecd3";
}
.unil-snapchat-alt:before {
  content: "\ecd4";
}
.unil-snapchat-ghost:before {
  content: "\ecd5";
}
.unil-snapchat-square:before {
  content: "\ecd6";
}
.unil-snow-flake:before {
  content: "\ecd7";
}
.unil-snowflake-alt:before {
  content: "\ecd8";
}
.unil-snowflake:before {
  content: "\ecd9";
}
.unil-social-distancing:before {
  content: "\ecda";
}
.unil-sort-amount-down:before {
  content: "\ecdb";
}
.unil-sort-amount-up:before {
  content: "\ecdc";
}
.unil-sort:before {
  content: "\ecdd";
}
.unil-sorting:before {
  content: "\ecde";
}
.unil-space-key:before {
  content: "\ecdf";
}
.unil-spade:before {
  content: "\ece0";
}
.unil-sperms:before {
  content: "\ece1";
}
.unil-spin:before {
  content: "\ece2";
}
.unil-square-full:before {
  content: "\ece3";
}
.unil-square-shape:before {
  content: "\ece4";
}
.unil-square:before {
  content: "\ece5";
}
.unil-squint:before {
  content: "\ece6";
}
.unil-star-half-alt:before {
  content: "\ece7";
}
.unil-star:before {
  content: "\ece8";
}
.unil-step-backward-alt:before {
  content: "\ece9";
}
.unil-step-backward-circle:before {
  content: "\ecea";
}
.unil-step-backward:before {
  content: "\eceb";
}
.unil-step-forward:before {
  content: "\ecec";
}
.unil-stethoscope-alt:before {
  content: "\eced";
}
.unil-stethoscope:before {
  content: "\ecee";
}
.unil-stop-circle:before {
  content: "\ecef";
}
.unil-stopwatch-slash:before {
  content: "\ecf0";
}
.unil-stopwatch:before {
  content: "\ecf1";
}
.unil-store-alt:before {
  content: "\ecf2";
}
.unil-store-slash:before {
  content: "\ecf3";
}
.unil-store:before {
  content: "\ecf4";
}
.unil-streering:before {
  content: "\ecf5";
}
.unil-stretcher:before {
  content: "\ecf6";
}
.unil-subject:before {
  content: "\ecf7";
}
.unil-subway-alt:before {
  content: "\ecf8";
}
.unil-subway:before {
  content: "\ecf9";
}
.unil-suitcase-alt:before {
  content: "\ecfa";
}
.unil-suitcase:before {
  content: "\ecfb";
}
.unil-sun:before {
  content: "\ecfc";
}
.unil-sunset:before {
  content: "\ecfd";
}
.unil-surprise:before {
  content: "\ecfe";
}
.unil-swatchbook:before {
  content: "\ecff";
}
.unil-swiggy:before {
  content: "\ed00";
}
.unil-swimmer:before {
  content: "\ed01";
}
.unil-sync-exclamation:before {
  content: "\ed02";
}
.unil-sync-slash:before {
  content: "\ed03";
}
.unil-sync:before {
  content: "\ed04";
}
.unil-syringe:before {
  content: "\ed05";
}
.unil-table-tennis:before {
  content: "\ed06";
}
.unil-table:before {
  content: "\ed07";
}
.unil-tablet:before {
  content: "\ed08";
}
.unil-tablets:before {
  content: "\ed09";
}
.unil-tachometer-fast-alt:before {
  content: "\ed0a";
}
.unil-tachometer-fast:before {
  content: "\ed0b";
}
.unil-tag-alt:before {
  content: "\ed0c";
}
.unil-tag:before {
  content: "\ed0d";
}
.unil-tape:before {
  content: "\ed0e";
}
.unil-taxi:before {
  content: "\ed0f";
}
.unil-tear:before {
  content: "\ed10";
}
.unil-telegram-alt:before {
  content: "\ed11";
}
.unil-telegram:before {
  content: "\ed12";
}
.unil-telescope:before {
  content: "\ed13";
}
.unil-temperature-empty:before {
  content: "\ed14";
}
.unil-temperature-half:before {
  content: "\ed15";
}
.unil-temperature-minus:before {
  content: "\ed16";
}
.unil-temperature-plus:before {
  content: "\ed17";
}
.unil-temperature-quarter:before {
  content: "\ed18";
}
.unil-temperature-three-quarter:before {
  content: "\ed19";
}
.unil-temperature:before {
  content: "\ed1a";
}
.unil-tennis-ball:before {
  content: "\ed1b";
}
.unil-text-fields:before {
  content: "\ed1c";
}
.unil-text-size:before {
  content: "\ed1d";
}
.unil-text-strike-through:before {
  content: "\ed1e";
}
.unil-text:before {
  content: "\ed1f";
}
.unil-th-large:before {
  content: "\ed20";
}
.unil-th-slash:before {
  content: "\ed21";
}
.unil-th:before {
  content: "\ed22";
}
.unil-thermometer:before {
  content: "\ed23";
}
.unil-thumbs-down:before {
  content: "\ed24";
}
.unil-thumbs-up:before {
  content: "\ed25";
}
.unil-thunderstorm-moon:before {
  content: "\ed26";
}
.unil-thunderstorm-sun:before {
  content: "\ed27";
}
.unil-thunderstorm:before {
  content: "\ed28";
}
.unil-ticket:before {
  content: "\ed29";
}
.unil-times-circle:before {
  content: "\ed2a";
}
.unil-times-square:before {
  content: "\ed2b";
}
.unil-times:before {
  content: "\ed2c";
}
.unil-toggle-off:before {
  content: "\ed2d";
}
.unil-toggle-on:before {
  content: "\ed2e";
}
.unil-toilet-paper:before {
  content: "\ed2f";
}
.unil-top-arrow-from-top:before {
  content: "\ed30";
}
.unil-top-arrow-to-top:before {
  content: "\ed31";
}
.unil-tornado:before {
  content: "\ed32";
}
.unil-trademark-circle:before {
  content: "\ed33";
}
.unil-trademark:before {
  content: "\ed34";
}
.unil-traffic-barrier:before {
  content: "\ed35";
}
.unil-traffic-light:before {
  content: "\ed36";
}
.unil-transaction:before {
  content: "\ed37";
}
.unil-trash-alt:before {
  content: "\ed38";
}
.unil-trash:before {
  content: "\ed39";
}
.unil-trees:before {
  content: "\ed3a";
}
.unil-triangle:before {
  content: "\ed3b";
}
.unil-trophy:before {
  content: "\ed3c";
}
.unil-trowel:before {
  content: "\ed3d";
}
.unil-truck-loading:before {
  content: "\ed3e";
}
.unil-truck:before {
  content: "\ed3f";
}
.unil-tumblr-alt:before {
  content: "\ed40";
}
.unil-tumblr-square:before {
  content: "\ed41";
}
.unil-tumblr:before {
  content: "\ed42";
}
.unil-tv-retro-slash:before {
  content: "\ed43";
}
.unil-tv-retro:before {
  content: "\ed44";
}
.unil-twitter-alt:before {
  content: "\ed45";
}
.unil-twitter:before {
  content: "\ed46";
}
.unil-umbrella:before {
  content: "\ed47";
}
.unil-unamused:before {
  content: "\ed48";
}
.unil-underline:before {
  content: "\ed49";
}
.unil-university:before {
  content: "\ed4a";
}
.unil-unlock-alt:before {
  content: "\ed4b";
}
.unil-unlock:before {
  content: "\ed4c";
}
.unil-upload-alt:before {
  content: "\ed4d";
}
.unil-upload:before {
  content: "\ed4e";
}
.unil-usd-circle:before {
  content: "\ed4f";
}
.unil-usd-square:before {
  content: "\ed50";
}
.unil-user-arrows:before {
  content: "\ed51";
}
.unil-user-check:before {
  content: "\ed52";
}
.unil-user-circle:before {
  content: "\ed53";
}
.unil-user-exclamation:before {
  content: "\ed54";
}
.unil-user-location:before {
  content: "\ed55";
}
.unil-user-md:before {
  content: "\ed56";
}
.unil-user-minus:before {
  content: "\ed57";
}
.unil-user-nurse:before {
  content: "\ed58";
}
.unil-user-plus:before {
  content: "\ed59";
}
.unil-user-square:before {
  content: "\ed5a";
}
.unil-user-times:before {
  content: "\ed5b";
}
.unil-user:before {
  content: "\ed5c";
}
.unil-users-alt:before {
  content: "\ed5d";
}
.unil-utensils-alt:before {
  content: "\ed5e";
}
.unil-utensils:before {
  content: "\ed5f";
}
.unil-vector-square-alt:before {
  content: "\ed60";
}
.unil-vector-square:before {
  content: "\ed61";
}
.unil-venus:before {
  content: "\ed62";
}
.unil-vertical-align-bottom:before {
  content: "\ed63";
}
.unil-vertical-align-center:before {
  content: "\ed64";
}
.unil-vertical-align-top:before {
  content: "\ed65";
}
.unil-vertical-distribute-bottom:before {
  content: "\ed66";
}
.unil-vertical-distribution-center:before {
  content: "\ed67";
}
.unil-vertical-distribution-top:before {
  content: "\ed68";
}
.unil-video-question:before {
  content: "\ed69";
}
.unil-video-slash:before {
  content: "\ed6a";
}
.unil-video:before {
  content: "\ed6b";
}
.unil-virus-slash:before {
  content: "\ed6c";
}
.unil-visual-studio:before {
  content: "\ed6d";
}
.unil-vk-alt:before {
  content: "\ed6e";
}
.unil-vk:before {
  content: "\ed6f";
}
.unil-voicemail-rectangle:before {
  content: "\ed70";
}
.unil-voicemail:before {
  content: "\ed71";
}
.unil-volleyball:before {
  content: "\ed72";
}
.unil-volume-down:before {
  content: "\ed73";
}
.unil-volume-mute:before {
  content: "\ed74";
}
.unil-volume-off:before {
  content: "\ed75";
}
.unil-volume-up:before {
  content: "\ed76";
}
.unil-volume:before {
  content: "\ed77";
}
.unil-vuejs-alt:before {
  content: "\ed78";
}
.unil-vuejs:before {
  content: "\ed79";
}
.unil-wall:before {
  content: "\ed7a";
}
.unil-wallet:before {
  content: "\ed7b";
}
.unil-watch-alt:before {
  content: "\ed7c";
}
.unil-watch:before {
  content: "\ed7d";
}
.unil-water-drop-slash:before {
  content: "\ed7e";
}
.unil-water-glass:before {
  content: "\ed7f";
}
.unil-water:before {
  content: "\ed80";
}
.unil-web-grid-alt:before {
  content: "\ed81";
}
.unil-web-grid:before {
  content: "\ed82";
}
.unil-web-section-alt:before {
  content: "\ed83";
}
.unil-web-section:before {
  content: "\ed84";
}
.unil-webcam:before {
  content: "\ed85";
}
.unil-weight:before {
  content: "\ed86";
}
.unil-whatsapp-alt:before {
  content: "\ed87";
}
.unil-whatsapp:before {
  content: "\ed88";
}
.unil-wheel-barrow:before {
  content: "\ed89";
}
.unil-wheelchair-alt:before {
  content: "\ed8a";
}
.unil-wheelchair:before {
  content: "\ed8b";
}
.unil-wifi-router:before {
  content: "\ed8c";
}
.unil-wifi-slash:before {
  content: "\ed8d";
}
.unil-wifi:before {
  content: "\ed8e";
}
.unil-wind-moon:before {
  content: "\ed8f";
}
.unil-wind-sun:before {
  content: "\ed90";
}
.unil-wind:before {
  content: "\ed91";
}
.unil-window-grid:before {
  content: "\ed92";
}
.unil-window-maximize:before {
  content: "\ed93";
}
.unil-window-section:before {
  content: "\ed94";
}
.unil-window:before {
  content: "\ed95";
}
.unil-windsock:before {
  content: "\ed96";
}
.unil-windy:before {
  content: "\ed97";
}
.unil-wordpress-simple:before {
  content: "\ed98";
}
.unil-wordpress:before {
  content: "\ed99";
}
.unil-wrap-text:before {
  content: "\ed9a";
}
.unil-wrench:before {
  content: "\ed9b";
}
.unil-x-add:before {
  content: "\ed9c";
}
.unil-x:before {
  content: "\ed9d";
}
.unil-yen-circle:before {
  content: "\ed9e";
}
.unil-yen:before {
  content: "\ed9f";
}
.unil-yin-yang:before {
  content: "\eda0";
}
.unil-youtube:before {
  content: "\eda1";
}
