@font-face {
  font-family: "microns";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/microns.eot");
  src: url("../fonts/microns.eot?#iefix") format("embedded-opentype"),
       url("../fonts/microns.woff2") format("woff2"),
       url("../fonts/microns.woff") format("woff"),
       url("../fonts/microns.ttf") format("truetype"),
       url("../fonts/microns.svg") format("svg");
}

.mu:before {
  font-family: microns;
  font-style: normal;
  font-weight: normal;
  speak: none;
  text-decoration: none;
  font-size: 1em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  user-select: none;
}


.mu-arrow-left:before {
  content: "\e700";
}

.mu-arrow-right:before {
  content: "\e701";
}

.mu-arrow-up:before {
  content: "\e702";
}

.mu-arrow-down:before {
  content: "\e703";
}

.mu-left:before {
  content: "\e704";
}

.mu-right:before {
  content: "\e705";
}

.mu-up:before {
  content: "\e706";
}

.mu-down:before {
  content: "\e707";
}

.mu-upload:before {
  content: "\e708";
}

.mu-download:before {
  content: "\e709";
}

.mu-undo:before {
  content: "\e70a";
}

.mu-redo:before {
  content: "\e70b";
}

.mu-replay:before {
  content: "\e70c";
}

.mu-plus:before {
  content: "\e70d";
}

.mu-minus:before {
  content: "\e70e";
}

.mu-caret:before {
  content: "\e70f";
}

.mu-caret-up:before {
  content: "\e710";
}

.mu-caret-down:before {
  content: "\e711";
}

.mu-i-left:before {
  content: "\e712";
}

.mu-i-right:before {
  content: "\e713";
}

.mu-i-up:before {
  content: "\e714";
}

.mu-i-down:before {
  content: "\e715";
}

.mu-i-plus:before {
  content: "\e716";
}

.mu-i-minus:before {
  content: "\e717";
}

.mu-i-tick:before {
  content: "\e718";
}

.mu-i-cross:before {
  content: "\e719";
}

.mu-i-bullet:before {
  content: "\e71a";
}

.mu-i-asterisk:before {
  content: "\e71b";
}

.mu-play:before {
  content: "\e71c";
}

.mu-pause:before {
  content: "\e71d";
}

.mu-subtitles:before {
  content: "\e71e";
}

.mu-vol-low:before {
  content: "\e71f";
}

.mu-vol-mid:before {
  content: "\e720";
}

.mu-vol-high:before {
  content: "\e721";
}

.mu-vol-mute:before {
  content: "\e722";
}

.mu-captions:before {
  content: "\e723";
}

.mu-hd:before {
  content: "\e724";
}

.mu-audio-description:before {
  content: "\e725";
}

.mu-chart-line:before {
  content: "\e726";
}

.mu-chart-bar:before {
  content: "\e727";
}

.mu-chart-scatter:before {
  content: "\e728";
}

.mu-chart-pie:before {
  content: "\e729";
}

.mu-calendar:before {
  content: "\e72a";
}

.mu-clock:before {
  content: "\e72b";
}

.mu-star:before {
  content: "\e72c";
}

.mu-heart:before {
  content: "\e72d";
}

.mu-flag:before {
  content: "\e72e";
}

.mu-bookmark:before {
  content: "\e72f";
}

.mu-chat:before {
  content: "\e730";
}

.mu-edit:before {
  content: "\e731";
}

.mu-delete:before {
  content: "\e732";
}

.mu-show:before {
  content: "\e733";
}

.mu-hide:before {
  content: "\e734";
}

.mu-lock:before {
  content: "\e735";
}

.mu-cog:before {
  content: "\e736";
}

.mu-link:before {
  content: "\e737";
}

.mu-user:before {
  content: "\e738";
}

.mu-group:before {
  content: "\e739";
}

.mu-file:before {
  content: "\e73a";
}

.mu-image:before {
  content: "\e73b";
}

.mu-video:before {
  content: "\e73c";
}

.mu-audio:before {
  content: "\e73d";
}

.mu-print:before {
  content: "\e73e";
}

.mu-menu:before {
  content: "\e73f";
}

.mu-bars:before {
  content: "\e740";
}

.mu-cancel:before {
  content: "\e741";
}

.mu-opts-h:before {
  content: "\e742";
}

.mu-opts-v:before {
  content: "\e743";
}

.mu-search:before {
  content: "\e744";
}

.mu-zoom-in:before {
  content: "\e745";
}

.mu-zoom-out:before {
  content: "\e746";
}

.mu-contract:before {
  content: "\e747";
}

.mu-expand:before {
  content: "\e748";
}

.mu-grid:before {
  content: "\e749";
}

.mu-matrix:before {
  content: "\e74a";
}

.mu-chapters:before {
  content: "\e74b";
}

.mu-rss:before {
  content: "\e74c";
}

.mu-share:before {
  content: "\e74d";
}

.mu-mail:before {
  content: "\e74e";
}

.mu-code:before {
  content: "\e74f";
}

.mu-box:before {
  content: "\e750";
}

.mu-box-full:before {
  content: "\e751";
}

.mu-box-plus:before {
  content: "\e752";
}

.mu-box-minus:before {
  content: "\e753";
}

.mu-box-tick:before {
  content: "\e754";
}

.mu-box-cross:before {
  content: "\e755";
}

.mu-radio-off:before {
  content: "\e756";
}

.mu-radio-on:before {
  content: "\e757";
}

.mu-radio-full:before {
  content: "\e758";
}

.mu-info:before {
  content: "\e759";
}

.mu-warn:before {
  content: "\e75a";
}

.mu-pass:before {
  content: "\e75b";
}

.mu-fail:before {
  content: "\e75c";
}

.mu-text:before {
  content: "\e75d";
}

.mu-bold:before {
  content: "\e75e";
}

.mu-italic:before {
  content: "\e75f";
}

.mu-underline:before {
  content: "\e760";
}

.mu-strikeout:before {
  content: "\e761";
}

.mu-text-size:before {
  content: "\e762";
}

.mu-text-unstyle:before {
  content: "\e763";
}

.mu-align-left:before {
  content: "\e764";
}

.mu-align-center:before {
  content: "\e765";
}

.mu-align-right:before {
  content: "\e766";
}

.mu-indent:before {
  content: "\e767";
}

.mu-outdent:before {
  content: "\e768";
}

.mu-cloud:before {
  content: "\e769";
}

.mu-web:before {
  content: "\e76a";
}

.mu-wifi:before {
  content: "\e76b";
}
