@font-face {
    font-family: 'Line Awesome Brands';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("../fonts/la-brands-400.eot");
    src: url("../fonts/la-brands-400.eot?#iefix") format("embedded-opentype"),
    url("../fonts/la-brands-400.woff2") format("woff2"),
    url("../fonts/la-brands-400.woff") format("woff"),
    url("../fonts/la-brands-400.ttf") format("truetype"),
    url("../fonts/la-brands-400.svg#fontawesome") format("svg");
}

.lab {
    font-family: 'Line Awesome Brands';
    font-weight: 400;
}
