@font-face {
  font-family: 'Unicons-Monochrome';
  src:  url('../fonts/Unicons-Monochrome.eot?j7bjoq');
  src:  url('../fonts/Unicons-Monochrome.eot?j7bjoq#iefix') format('embedded-opentype'),
    url('../fonts/Unicons-Monochrome.ttf?j7bjoq') format('truetype'),
    url('../fonts/Unicons-Monochrome.woff?j7bjoq') format('woff'),
    url('../fonts/Unicons-Monochrome.svg?j7bjoq#Unicons-Monochrome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="unim-"], [class*=" unim-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Unicons-Monochrome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unim-500px:before {
  content: "\e900";
}
.unim-adobe-alt:before {
  content: "\e901";
}
.unim-adobe:before {
  content: "\e902";
}
.unim-airplay:before {
  content: "\e903";
}
.unim-align-alt:before {
  content: "\e904";
}
.unim-align-center-justify:before {
  content: "\e905";
}
.unim-align-center:before {
  content: "\e906";
}
.unim-align-justify:before {
  content: "\e907";
}
.unim-align-left-justify:before {
  content: "\e908";
}
.unim-align-left:before {
  content: "\e909";
}
.unim-align-letter-right:before {
  content: "\e90a";
}
.unim-align-right-justify:before {
  content: "\e90b";
}
.unim-align-right:before {
  content: "\e90c";
}
.unim-align:before {
  content: "\e90d";
}
.unim-amazon:before {
  content: "\e90e";
}
.unim-analysis:before {
  content: "\e90f";
}
.unim-analytics:before {
  content: "\e910";
}
.unim-anchor:before {
  content: "\e911";
}
.unim-android-alt:before {
  content: "\e912";
}
.unim-android:before {
  content: "\e913";
}
.unim-angle-double-down:before {
  content: "\e914";
}
.unim-angle-double-left:before {
  content: "\e915";
}
.unim-angle-double-right:before {
  content: "\e916";
}
.unim-angle-double-up:before {
  content: "\e917";
}
.unim-angle-down:before {
  content: "\e918";
}
.unim-angle-left:before {
  content: "\e919";
}
.unim-angle-right-b:before {
  content: "\e91a";
}
.unim-angle-right:before {
  content: "\e91b";
}
.unim-angle-up:before {
  content: "\e91c";
}
.unim-apple-alt:before {
  content: "\e91d";
}
.unim-apple:before {
  content: "\e91e";
}
.unim-apps:before {
  content: "\e91f";
}
.unim-arrow-circle-down:before {
  content: "\e920";
}
.unim-arrow-circle-left:before {
  content: "\e921";
}
.unim-arrow-circle-right:before {
  content: "\e922";
}
.unim-arrow-circle-up:before {
  content: "\e923";
}
.unim-arrow-down-left:before {
  content: "\e924";
}
.unim-arrow-down-right:before {
  content: "\e925";
}
.unim-arrow-up-left:before {
  content: "\e926";
}
.unim-arrow-up-right:before {
  content: "\e927";
}
.unim-at:before {
  content: "\e928";
}
.unim-bag:before {
  content: "\e929";
}
.unim-bars:before {
  content: "\e92a";
}
.unim-battery-bolt:before {
  content: "\e92b";
}
.unim-battery-empty:before {
  content: "\e92c";
}
.unim-behance-alt:before {
  content: "\e92d";
}
.unim-behance:before {
  content: "\e92e";
}
.unim-bing:before {
  content: "\e92f";
}
.unim-bitcoin-alt:before {
  content: "\e930";
}
.unim-bitcoin:before {
  content: "\e931";
}
.unim-blackberry:before {
  content: "\e932";
}
.unim-blogger-alt:before {
  content: "\e933";
}
.unim-blogger:before {
  content: "\e934";
}
.unim-bookmark:before {
  content: "\e935";
}
.unim-border-alt:before {
  content: "\e936";
}
.unim-border-bottom:before {
  content: "\e937";
}
.unim-border-clear:before {
  content: "\e938";
}
.unim-border-horizontal:before {
  content: "\e939";
}
.unim-border-inner:before {
  content: "\e93a";
}
.unim-border-left:before {
  content: "\e93b";
}
.unim-border-out:before {
  content: "\e93c";
}
.unim-border-right:before {
  content: "\e93d";
}
.unim-border-top:before {
  content: "\e93e";
}
.unim-border-vertical:before {
  content: "\e93f";
}
.unim-box:before {
  content: "\e940";
}
.unim-briefcase:before {
  content: "\e941";
}
.unim-calender:before {
  content: "\e942";
}
.unim-chart-pie:before {
  content: "\e943";
}
.unim-chart:before {
  content: "\e944";
}
.unim-check-circle .path1:before {
  content: "\e945";
  color: rgb(0, 0, 0);
  opacity: 0.99;
}
.unim-check-circle .path2:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.unim-check-square:before {
  content: "\e947";
}
.unim-check:before {
  content: "\e948";
}
.unim-circle-layer:before {
  content: "\e949";
}
.unim-circle:before {
  content: "\e94a";
}
.unim-clinic-medical:before {
  content: "\e94b";
}
.unim-clock-eight:before {
  content: "\e94c";
}
.unim-clock-five:before {
  content: "\e94d";
}
.unim-clock-nine:before {
  content: "\e94e";
}
.unim-clock-seven:before {
  content: "\e94f";
}
.unim-clock-ten:before {
  content: "\e950";
}
.unim-clock-three:before {
  content: "\e951";
}
.unim-clock-two:before {
  content: "\e952";
}
.unim-clock:before {
  content: "\e953";
}
.unim-columns:before {
  content: "\e954";
}
.unim-comment-alt-dots:before {
  content: "\e955";
}
.unim-comment-alt-message:before {
  content: "\e956";
}
.unim-comment-alt-plus:before {
  content: "\e957";
}
.unim-comment-alt:before {
  content: "\e958";
}
.unim-comment-dots:before {
  content: "\e959";
}
.unim-comment-message:before {
  content: "\e95a";
}
.unim-comment-plus:before {
  content: "\e95b";
}
.unim-comment:before {
  content: "\e95c";
}
.unim-compress:before {
  content: "\e95d";
}
.unim-corner-down-left:before {
  content: "\e95e";
}
.unim-corner-down-right:before {
  content: "\e95f";
}
.unim-corner-left-down:before {
  content: "\e960";
}
.unim-corner-right-down:before {
  content: "\e961";
}
.unim-corner-up-left:before {
  content: "\e962";
}
.unim-corner-up-right:before {
  content: "\e963";
}
.unim-coronavirus:before {
  content: "\e964";
}
.unim-css3-simple:before {
  content: "\e965";
}
.unim-css3:before {
  content: "\e966";
}
.unim-cube:before {
  content: "\e967";
}
.unim-dialpad-alt:before {
  content: "\e968";
}
.unim-dialpad:before {
  content: "\e969";
}
.unim-direction:before {
  content: "\e96a";
}
.unim-discord:before {
  content: "\e96b";
}
.unim-document-layout-center:before {
  content: "\e96c";
}
.unim-document-layout-left:before {
  content: "\e96d";
}
.unim-document-layout-right:before {
  content: "\e96e";
}
.unim-download-alt:before {
  content: "\e96f";
}
.unim-dribbble:before {
  content: "\e970";
}
.unim-dropbox:before {
  content: "\e971";
}
.unim-ellipsis-h:before {
  content: "\e972";
}
.unim-ellipsis-v:before {
  content: "\e973";
}
.unim-entry:before {
  content: "\e974";
}
.unim-exclamation-circle:before {
  content: "\e975";
}
.unim-exclamation-octagon:before {
  content: "\e976";
}
.unim-exclamation-triangle:before {
  content: "\e977";
}
.unim-exit:before {
  content: "\e978";
}
.unim-facebook-f:before {
  content: "\e979";
}
.unim-facebook-messenger-alt:before {
  content: "\e97a";
}
.unim-facebook-messenger:before {
  content: "\e97b";
}
.unim-facebook:before {
  content: "\e97c";
}
.unim-favorite:before {
  content: "\e97d";
}
.unim-flip-h-alt:before {
  content: "\e97e";
}
.unim-flip-h:before {
  content: "\e97f";
}
.unim-flip-v-alt:before {
  content: "\e980";
}
.unim-flip-v:before {
  content: "\e981";
}
.unim-github-alt:before {
  content: "\e982";
}
.unim-github:before {
  content: "\e983";
}
.unim-google-drive-alt:before {
  content: "\e984";
}
.unim-google-drive:before {
  content: "\e985";
}
.unim-google-hangouts-alt:before {
  content: "\e986";
}
.unim-google-hangouts:before {
  content: "\e987";
}
.unim-google-play:before {
  content: "\e988";
}
.unim-google:before {
  content: "\e989";
}
.unim-graph-bar:before {
  content: "\e98a";
}
.unim-grid:before {
  content: "\e98b";
}
.unim-grids:before {
  content: "\e98c";
}
.unim-grip-horizontal-line:before {
  content: "\e98d";
}
.unim-head-side-cough:before {
  content: "\e98e";
}
.unim-head-side-mask:before {
  content: "\e98f";
}
.unim-head-side:before {
  content: "\e990";
}
.unim-history-alt:before {
  content: "\e991";
}
.unim-history:before {
  content: "\e992";
}
.unim-horizontal-align-left:before {
  content: "\e993";
}
.unim-hospital-square-sign:before {
  content: "\e994";
}
.unim-hospital-symbol:before {
  content: "\e995";
}
.unim-hospital:before {
  content: "\e996";
}
.unim-house-user:before {
  content: "\e997";
}
.unim-html3-alt:before {
  content: "\e998";
}
.unim-html3:before {
  content: "\e999";
}
.unim-html5-alt:before {
  content: "\e99a";
}
.unim-html5:before {
  content: "\e99b";
}
.unim-image-v:before {
  content: "\e99c";
}
.unim-instagram-alt:before {
  content: "\e99d";
}
.unim-instagram:before {
  content: "\e99e";
}
.unim-intercom-alt:before {
  content: "\e99f";
}
.unim-intercom:before {
  content: "\e9a0";
}
.unim-java-script:before {
  content: "\e9a1";
}
.unim-key-skeleton-alt:before {
  content: "\e9a2";
}
.unim-key-skeleton:before {
  content: "\e9a3";
}
.unim-keyhole-circle:before {
  content: "\e9a4";
}
.unim-keyhole-square-full:before {
  content: "\e9a5";
}
.unim-keyhole-square:before {
  content: "\e9a6";
}
.unim-layer-group:before {
  content: "\e9a7";
}
.unim-layers-alt:before {
  content: "\e9a8";
}
.unim-left-indent-alt:before {
  content: "\e9a9";
}
.unim-left-indent:before {
  content: "\e9aa";
}
.unim-line-spacing:before {
  content: "\e9ab";
}
.unim-line:before {
  content: "\e9ac";
}
.unim-link-h:before {
  content: "\e9ad";
}
.unim-linkedin-alt:before {
  content: "\e9ae";
}
.unim-linkedin:before {
  content: "\e9af";
}
.unim-list-ui-alt:before {
  content: "\e9b0";
}
.unim-list-ul:before {
  content: "\e9b1";
}
.unim-lock-access:before {
  content: "\e9b2";
}
.unim-lock-alt:before {
  content: "\e9b3";
}
.unim-lock-open-alt:before {
  content: "\e9b4";
}
.unim-lock:before {
  content: "\e9b5";
}
.unim-master-card:before {
  content: "\e9b6";
}
.unim-medium-m:before {
  content: "\e9b7";
}
.unim-microscope:before {
  content: "\e9b8";
}
.unim-minus-square-full:before {
  content: "\e9b9";
}
.unim-multiply:before {
  content: "\e9ba";
}
.unim-object-group:before {
  content: "\e9bb";
}
.unim-object-ungroup:before {
  content: "\e9bc";
}
.unim-opera-alt:before {
  content: "\e9bd";
}
.unim-opera:before {
  content: "\e9be";
}
.unim-padlock:before {
  content: "\e9bf";
}
.unim-paperclip:before {
  content: "\e9c0";
}
.unim-paragraph:before {
  content: "\e9c1";
}
.unim-paypal:before {
  content: "\e9c2";
}
.unim-pentagon:before {
  content: "\e9c3";
}
.unim-plus-square:before {
  content: "\e9c4";
}
.unim-polygon:before {
  content: "\e9c5";
}
.unim-previous:before {
  content: "\e9c6";
}
.unim-process:before {
  content: "\e9c7";
}
.unim-react:before {
  content: "\e9c8";
}
.unim-record-audio:before {
  content: "\e9c9";
}
.unim-reddit-alien-alt:before {
  content: "\e9ca";
}
.unim-redo:before {
  content: "\e9cb";
}
.unim-refresh:before {
  content: "\e9cc";
}
.unim-repeat:before {
  content: "\e9cd";
}
.unim-right-indent-alt:before {
  content: "\e9ce";
}
.unim-rocket:before {
  content: "\e9cf";
}
.unim-ruler-combined:before {
  content: "\e9d0";
}
.unim-ruler:before {
  content: "\e9d1";
}
.unim-sanitizer-alt:before {
  content: "\e9d2";
}
.unim-sanitizer:before {
  content: "\e9d3";
}
.unim-scenery:before {
  content: "\e9d4";
}
.unim-schedule:before {
  content: "\e9d5";
}
.unim-shield-plus:before {
  content: "\e9d6";
}
.unim-sign-in-alt:before {
  content: "\e9d7";
}
.unim-sign-in:before {
  content: "\e9d8";
}
.unim-sign-out-alt:before {
  content: "\e9d9";
}
.unim-signal-alt-3:before {
  content: "\e9da";
}
.unim-signal-alt:before {
  content: "\e9db";
}
.unim-signin:before {
  content: "\e9dc";
}
.unim-signout:before {
  content: "\e9dd";
}
.unim-skype-alt:before {
  content: "\e9de";
}
.unim-skype:before {
  content: "\e9df";
}
.unim-slack-alt:before {
  content: "\e9e0";
}
.unim-slack:before {
  content: "\e9e1";
}
.unim-snapchat-alt:before {
  content: "\e9e2";
}
.unim-snapchat-ghost:before {
  content: "\e9e3";
}
.unim-snapchat-square:before {
  content: "\e9e4";
}
.unim-social-distancing:before {
  content: "\e9e5";
}
.unim-sorting:before {
  content: "\e9e6";
}
.unim-space-key:before {
  content: "\e9e7";
}
.unim-square-full:before {
  content: "\e9e8";
}
.unim-square-shape:before {
  content: "\e9e9";
}
.unim-square:before {
  content: "\e9ea";
}
.unim-squre-shape:before {
  content: "\e9eb";
}
.unim-star-half-alt:before {
  content: "\e9ec";
}
.unim-star:before {
  content: "\e9ed";
}
.unim-step-forward:before {
  content: "\e9ee";
}
.unim-stethoscope-alt:before {
  content: "\e9ef";
}
.unim-stethoscope:before {
  content: "\e9f0";
}
.unim-store-slash:before {
  content: "\e9f1";
}
.unim-subject:before {
  content: "\e9f2";
}
.unim-swiggy:before {
  content: "\e9f3";
}
.unim-sync-exclamation:before {
  content: "\e9f4";
}
.unim-sync-slash:before {
  content: "\e9f5";
}
.unim-table:before {
  content: "\e9f6";
}
.unim-telegram-alt:before {
  content: "\e9f7";
}
.unim-telegram:before {
  content: "\e9f8";
}
.unim-th-large:before {
  content: "\e9f9";
}
.unim-times-circle:before {
  content: "\e9fa";
}
.unim-toggle-off:before {
  content: "\e9fb";
}
.unim-toggle-on:before {
  content: "\e9fc";
}
.unim-toilet-paper:before {
  content: "\e9fd";
}
.unim-triangle:before {
  content: "\e9fe";
}
.unim-tumblr-alt:before {
  content: "\e9ff";
}
.unim-tumblr-square:before {
  content: "\ea00";
}
.unim-tumblr:before {
  content: "\ea01";
}
.unim-twitter-alt:before {
  content: "\ea02";
}
.unim-twitter:before {
  content: "\ea03";
}
.unim-unlock-alt:before {
  content: "\ea04";
}
.unim-unlock:before {
  content: "\ea05";
}
.unim-upload-alt:before {
  content: "\ea06";
}
.unim-user-arrows:before {
  content: "\ea07";
}
.unim-user-md:before {
  content: "\ea08";
}
.unim-user-nurse:before {
  content: "\ea09";
}
.unim-vector-square-alt:before {
  content: "\ea0a";
}
.unim-vector-square:before {
  content: "\ea0b";
}
.unim-virus-slash:before {
  content: "\ea0c";
}
.unim-visual-studio:before {
  content: "\ea0d";
}
.unim-vk-alt:before {
  content: "\ea0e";
}
.unim-vk:before {
  content: "\ea0f";
}
.unim-vuejs-alt:before {
  content: "\ea10";
}
.unim-vuejs:before {
  content: "\ea11";
}
.unim-web-grid-alt:before {
  content: "\ea12";
}
.unim-web-grid:before {
  content: "\ea13";
}
.unim-web-section-alt:before {
  content: "\ea14";
}
.unim-web-section:before {
  content: "\ea15";
}
.unim-whatsapp:before {
  content: "\ea16";
}
.unim-window-grid:before {
  content: "\ea17";
}
.unim-window-maximize:before {
  content: "\ea18";
}
.unim-window-section:before {
  content: "\ea19";
}
.unim-wordpress-simple:before {
  content: "\ea1a";
}
.unim-wordpress:before {
  content: "\ea1b";
}
.unim-wrap-text:before {
  content: "\ea1c";
}
.unim-youtube:before {
  content: "\ea1d";
}
