@font-face {
	font-family: 'Hawcons-Filled';
    src:url('../fonts/hawconsfilled.eot?-kxka6d');
    src:url('../fonts/hawconsfilled.eot?#iefix-kxka6d') format('embedded-opentype'),
	url('../fonts/hawconsfilled.woff?-kxka6d') format('woff'),
	url('../fonts/hawconsfilled.ttf?-kxka6d') format('truetype'),
	url('../fonts/hawconsfilled.svg?-kxka6d#hawcons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hwf:before {
	font-family: 'Hawcons-Filled';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.hwf-air-sock:before { content: "\e701"; }
.hwf-amused-face:before { content: "\e73e"; }
.hwf-amused-face-closed-eyes:before { content: "\e73f"; }
.hwf-amused-face-closed-eyes2:before { content: "\e740"; }
.hwf-angry-face:before { content: "\e728"; }
.hwf-angry-face-eyebrows:before { content: "\e72b"; }
.hwf-angry-face-open-mouth-eyebrows:before { content: "\e739"; }
.hwf-angry-face-teeth:before { content: "\e735"; }
.hwf-astonished-face:before { content: "\e74c"; }
.hwf-astonished-face2:before { content: "\e74d"; }
.hwf-award:before { content: "\e6b5"; }
.hwf-award2:before { content: "\e6b6"; }
.hwf-award3:before { content: "\e6b7"; }
.hwf-award4:before { content: "\e6b8"; }
.hwf-barometer:before { content: "\e6fc"; }
.hwf-baseball:before { content: "\e698"; }
.hwf-baseball-set:before { content: "\e6a1"; }
.hwf-basketball:before { content: "\e697"; }
.hwf-basketball2:before { content: "\e6a0"; }
.hwf-basketball-hoop:before { content: "\e6aa"; }
.hwf-billiard-ball:before { content: "\e69b"; }
.hwf-book:before { content: "\e61d"; }
.hwf-book-bookmark:before { content: "\e61e"; }
.hwf-bookmark:before { content: "\e611"; }
.hwf-bookmark-add:before { content: "\e612"; }
.hwf-bookmark-remove:before { content: "\e613"; }
.hwf-bowling-ball:before { content: "\e69a"; }
.hwf-bowling-pin-ball:before { content: "\e6c4"; }
.hwf-bowling-pins:before { content: "\e6c3"; }
.hwf-box:before { content: "\e68a"; }
.hwf-box2:before { content: "\e68c"; }
.hwf-box3:before { content: "\e68d"; }
.hwf-box-bookmark:before { content: "\e68e"; }
.hwf-box-filled:before { content: "\e68b"; }
.hwf-boxing-glove:before { content: "\e6bb"; }
.hwf-certificate:before { content: "\e688"; }
.hwf-checkered-flag:before { content: "\e6be"; }
.hwf-clipboard:before { content: "\e622"; }
.hwf-clipboard-add:before { content: "\e620"; }
.hwf-clipboard-checked:before { content: "\e625"; }
.hwf-clipboard-download:before { content: "\e623"; }
.hwf-clipboard-edit:before { content: "\e61f"; }
.hwf-clipboard-list:before { content: "\e627"; }
.hwf-clipboard-move:before { content: "\e6b4"; }
.hwf-clipboard-remove:before { content: "\e621"; }
.hwf-clipboard-text:before { content: "\e626"; }
.hwf-clipboard-upload:before { content: "\e624"; }
.hwf-cloud:before { content: "\e682"; }
.hwf-cloud2:before { content: "\e6c9"; }
.hwf-cloud-add:before { content: "\e6dd"; }
.hwf-cloud-download:before { content: "\e67f"; }
.hwf-cloud-error:before { content: "\e681"; }
.hwf-cloud-error2:before { content: "\e6df"; }
.hwf-cloud-fog:before { content: "\e6e0"; }
.hwf-cloud-lightning:before { content: "\e6d2"; }
.hwf-cloud-moon:before { content: "\e6cb"; }
.hwf-cloud-moon-fog:before { content: "\e6e2"; }
.hwf-cloud-moon-lightning:before { content: "\e6d4"; }
.hwf-cloud-moon-rain:before { content: "\e6ce"; }
.hwf-cloud-moon-raindrops:before { content: "\e6d8"; }
.hwf-cloud-moon-snow:before { content: "\e6d1"; }
.hwf-cloud-moon-snowflakes:before { content: "\e6db"; }
.hwf-cloud-rain:before { content: "\e6cc"; }
.hwf-cloud-raindrops:before { content: "\e6d6"; }
.hwf-cloud-remove:before { content: "\e6de"; }
.hwf-cloud-snow:before { content: "\e6cf"; }
.hwf-cloud-snowflakes:before { content: "\e6d9"; }
.hwf-cloud-sun:before { content: "\e6ca"; }
.hwf-cloud-sun-fog:before { content: "\e6e1"; }
.hwf-cloud-sun-lightning:before { content: "\e6d3"; }
.hwf-cloud-sun-rain:before { content: "\e6cd"; }
.hwf-cloud-sun-raindrops:before { content: "\e6d7"; }
.hwf-cloud-sun-snow:before { content: "\e6d0"; }
.hwf-cloud-sun-snowflakes:before { content: "\e6da"; }
.hwf-cloud-upload:before { content: "\e680"; }
.hwf-cloud-wind:before { content: "\e6d5"; }
.hwf-clouds:before { content: "\e6dc"; }
.hwf-clouds2:before { content: "\e6f0"; }
.hwf-combination-lock:before { content: "\e677"; }
.hwf-compass:before { content: "\e706"; }
.hwf-compass2:before { content: "\e707"; }
.hwf-compass3:before { content: "\e708"; }
.hwf-compass4:before { content: "\e709"; }
.hwf-compass-east:before { content: "\e6ff"; }
.hwf-compass-north:before { content: "\e6fd"; }
.hwf-compass-south:before { content: "\e700"; }
.hwf-compass-west:before { content: "\e6fe"; }
.hwf-crescent:before { content: "\e6f5"; }
.hwf-crescent2:before { content: "\e6fb"; }
.hwf-degree-celsius:before { content: "\e704"; }
.hwf-degree-fahrenheit:before { content: "\e703"; }
.hwf-diving-goggles:before { content: "\e6c5"; }
.hwf-document:before { content: "\e635"; }
.hwf-document-add:before { content: "\e64f"; }
.hwf-document-bookmark:before { content: "\e63a"; }
.hwf-document-cancel:before { content: "\e64d"; }
.hwf-document-certificate:before { content: "\e687"; }
.hwf-document-checked:before { content: "\e64e"; }
.hwf-document-cloud:before { content: "\e645"; }
.hwf-document-code:before { content: "\e644"; }
.hwf-document-diagrams:before { content: "\e63b"; }
.hwf-document-download:before { content: "\e638"; }
.hwf-document-edit:before { content: "\e686"; }
.hwf-document-error:before { content: "\e64c"; }
.hwf-document-file-3gp:before { content: "\e7fa"; }
.hwf-document-file-aac:before { content: "\e7fc"; }
.hwf-document-file-ai:before { content: "\e7d2"; }
.hwf-document-file-aiff:before { content: "\e7fb"; }
.hwf-document-file-app:before { content: "\e7c6"; }
.hwf-document-file-asp:before { content: "\e7e5"; }
.hwf-document-file-avi:before { content: "\e7ec"; }
.hwf-document-file-bmp:before { content: "\e7d3"; }
.hwf-document-file-c:before { content: "\e7da"; }
.hwf-document-file-cpp:before { content: "\e7dd"; }
.hwf-document-file-css:before { content: "\e7cf"; }
.hwf-document-file-dat:before { content: "\e7e7"; }
.hwf-document-file-dmg:before { content: "\e801"; }
.hwf-document-file-doc:before { content: "\e7e0"; }
.hwf-document-file-docx:before { content: "\e7e3"; }
.hwf-document-file-dot:before { content: "\e7f2"; }
.hwf-document-file-dotx:before { content: "\e7ee"; }
.hwf-document-file-dwg:before { content: "\e7d4"; }
.hwf-document-file-dxf:before { content: "\e7df"; }
.hwf-document-file-eps:before { content: "\e7d5"; }
.hwf-document-file-exe:before { content: "\e7eb"; }
.hwf-document-file-flv:before { content: "\e7f6"; }
.hwf-document-file-gif:before { content: "\e804"; }
.hwf-document-file-h:before { content: "\e7ea"; }
.hwf-document-file-html:before { content: "\e7ce"; }
.hwf-document-file-ics:before { content: "\e7e6"; }
.hwf-document-file-iso:before { content: "\e802"; }
.hwf-document-file-java:before { content: "\e7d0"; }
.hwf-document-file-jpg:before { content: "\e7cc"; }
.hwf-document-file-key:before { content: "\e7cd"; }
.hwf-document-file-m4v:before { content: "\e7f5"; }
.hwf-document-file-mid:before { content: "\e7f9"; }
.hwf-document-file-mov:before { content: "\e7cb"; }
.hwf-document-file-mp3:before { content: "\e7c9"; }
.hwf-document-file-mp4:before { content: "\e7ca"; }
.hwf-document-file-mpg:before { content: "\e7f7"; }
.hwf-document-file-numbers:before { content: "\e7c4"; }
.hwf-document-file-odp:before { content: "\e7ed"; }
.hwf-document-file-ods:before { content: "\e7f0"; }
.hwf-document-file-odt:before { content: "\e7e1"; }
.hwf-document-file-ots:before { content: "\e7d7"; }
.hwf-document-file-ott:before { content: "\e7ff"; }
.hwf-document-file-pages:before { content: "\e7c5"; }
.hwf-document-file-pdf:before { content: "\e7c8"; }
.hwf-document-file-php:before { content: "\e7d8"; }
.hwf-document-file-png:before { content: "\e7c7"; }
.hwf-document-file-pps:before { content: "\e7f1"; }
.hwf-document-file-ppt:before { content: "\e7e4"; }
.hwf-document-file-psd:before { content: "\e7d1"; }
.hwf-document-file-py:before { content: "\e7d9"; }
.hwf-document-file-qt:before { content: "\e7f8"; }
.hwf-document-file-rar:before { content: "\e803"; }
.hwf-document-file-rb:before { content: "\e7dc"; }
.hwf-document-file-rtf:before { content: "\e7f4"; }
.hwf-document-file-sql:before { content: "\e7db"; }
.hwf-document-file-tga:before { content: "\e7de"; }
.hwf-document-file-tgz:before { content: "\e800"; }
.hwf-document-file-tiff:before { content: "\e7d6"; }
.hwf-document-file-txt:before { content: "\e7f3"; }
.hwf-document-file-wav:before { content: "\e7fd"; }
.hwf-document-file-xls:before { content: "\e7e2"; }
.hwf-document-file-xlsx:before { content: "\e7ef"; }
.hwf-document-file-xml:before { content: "\e7e8"; }
.hwf-document-file-yml:before { content: "\e7e9"; }
.hwf-document-file-zip:before { content: "\e7fe"; }
.hwf-document-font:before { content: "\e655"; }
.hwf-document-forbidden:before { content: "\e651"; }
.hwf-document-graph:before { content: "\e641"; }
.hwf-document-information:before { content: "\e652"; }
.hwf-document-list:before { content: "\e654"; }
.hwf-document-locked:before { content: "\e64b"; }
.hwf-document-movie:before { content: "\e63f"; }
.hwf-document-music:before { content: "\e63e"; }
.hwf-document-play:before { content: "\e640"; }
.hwf-document-recording:before { content: "\e63c"; }
.hwf-document-remove:before { content: "\e650"; }
.hwf-document-scan:before { content: "\e67e"; }
.hwf-document-search:before { content: "\e648"; }
.hwf-document-shred:before { content: "\e67c"; }
.hwf-document-star:before { content: "\e649"; }
.hwf-document-table:before { content: "\e63d"; }
.hwf-document-text:before { content: "\e636"; }
.hwf-document-text2:before { content: "\e637"; }
.hwf-document-text3:before { content: "\e643"; }
.hwf-document-time:before { content: "\e642"; }
.hwf-document-unlocked:before { content: "\e64a"; }
.hwf-document-upload:before { content: "\e639"; }
.hwf-document-zip:before { content: "\e66b"; }
.hwf-documents:before { content: "\e646"; }
.hwf-documents2:before { content: "\e647"; }
.hwf-eye:before { content: "\e615"; }
.hwf-eye-hidden:before { content: "\e614"; }
.hwf-face-closed-eyes-open-mouth:before { content: "\e741"; }
.hwf-face-closed-eyes-open-mouth2:before { content: "\e742"; }
.hwf-face-closed-eyes-open-mouth3:before { content: "\e743"; }
.hwf-face-closed-meyes:before { content: "\e73d"; }
.hwf-face-glasses:before { content: "\e750"; }
.hwf-face-missing-moth:before { content: "\e716"; }
.hwf-face-moustache:before { content: "\e74e"; }
.hwf-face-moustache2:before { content: "\e74f"; }
.hwf-face-open-mouth:before { content: "\e71a"; }
.hwf-face-open-mouth2:before { content: "\e71b"; }
.hwf-face-open-mouth-eyebrows:before { content: "\e737"; }
.hwf-face-open-mouth-eyebrows2:before { content: "\e738"; }
.hwf-face-stuck-out-tongue:before { content: "\e731"; }
.hwf-face-stuck-out-tongue2:before { content: "\e732"; }
.hwf-face-sunglasses:before { content: "\e751"; }
.hwf-fake-grinning-face-eyebrows:before { content: "\e72f"; }
.hwf-file-3gp:before { content: "\e7b9"; }
.hwf-file-aac:before { content: "\e7bb"; }
.hwf-file-ai:before { content: "\e791"; }
.hwf-file-aiff:before { content: "\e7ba"; }
.hwf-file-app:before { content: "\e785"; }
.hwf-file-asp:before { content: "\e7a4"; }
.hwf-file-avi:before { content: "\e7ab"; }
.hwf-file-bmp:before { content: "\e792"; }
.hwf-file-c:before { content: "\e799"; }
.hwf-file-cpp:before { content: "\e79c"; }
.hwf-file-css:before { content: "\e78e"; }
.hwf-file-dat:before { content: "\e7a6"; }
.hwf-file-dmg:before { content: "\e7c0"; }
.hwf-file-doc:before { content: "\e79f"; }
.hwf-file-docx:before { content: "\e7a2"; }
.hwf-file-dot:before { content: "\e7b1"; }
.hwf-file-dotx:before { content: "\e7ad"; }
.hwf-file-dwg:before { content: "\e793"; }
.hwf-file-dxf:before { content: "\e79e"; }
.hwf-file-eps:before { content: "\e794"; }
.hwf-file-exe:before { content: "\e7aa"; }
.hwf-file-flv:before { content: "\e7b5"; }
.hwf-file-gif:before { content: "\e7c3"; }
.hwf-file-h:before { content: "\e7a9"; }
.hwf-file-html:before { content: "\e78d"; }
.hwf-file-ics:before { content: "\e7a5"; }
.hwf-file-iso:before { content: "\e7c1"; }
.hwf-file-java:before { content: "\e78f"; }
.hwf-file-jpg:before { content: "\e78b"; }
.hwf-file-key:before { content: "\e78c"; }
.hwf-file-m4v:before { content: "\e7b4"; }
.hwf-file-mid:before { content: "\e7b8"; }
.hwf-file-mov:before { content: "\e78a"; }
.hwf-file-mp3:before { content: "\e788"; }
.hwf-file-mp4:before { content: "\e789"; }
.hwf-file-mpg:before { content: "\e7b6"; }
.hwf-file-numbers:before { content: "\e783"; }
.hwf-file-odp:before { content: "\e7ac"; }
.hwf-file-ods:before { content: "\e7af"; }
.hwf-file-odt:before { content: "\e7a0"; }
.hwf-file-ots:before { content: "\e796"; }
.hwf-file-ott:before { content: "\e7be"; }
.hwf-file-pages:before { content: "\e784"; }
.hwf-file-pdf:before { content: "\e787"; }
.hwf-file-php:before { content: "\e797"; }
.hwf-file-png:before { content: "\e786"; }
.hwf-file-pps:before { content: "\e7b0"; }
.hwf-file-ppt:before { content: "\e7a3"; }
.hwf-file-psd:before { content: "\e790"; }
.hwf-file-py:before { content: "\e798"; }
.hwf-file-quicktime:before { content: "\e7b7"; }
.hwf-file-rar:before { content: "\e7c2"; }
.hwf-file-rb:before { content: "\e79b"; }
.hwf-file-rtf:before { content: "\e7b3"; }
.hwf-file-sql:before { content: "\e79a"; }
.hwf-file-tga:before { content: "\e79d"; }
.hwf-file-tgz:before { content: "\e7bf"; }
.hwf-file-tiff:before { content: "\e795"; }
.hwf-file-txt:before { content: "\e7b2"; }
.hwf-file-wav:before { content: "\e7bc"; }
.hwf-file-xls:before { content: "\e7a1"; }
.hwf-file-xlsx:before { content: "\e7ae"; }
.hwf-file-xml:before { content: "\e7a7"; }
.hwf-file-yml:before { content: "\e7a8"; }
.hwf-file-zip:before { content: "\e7bd"; }
.hwf-flag:before { content: "\e60d"; }
.hwf-flag2:before { content: "\e60e"; }
.hwf-flag3:before { content: "\e60f"; }
.hwf-flag4:before { content: "\e610"; }
.hwf-flashed-face:before { content: "\e713"; }
.hwf-flashed-face2:before { content: "\e714"; }
.hwf-flashed-face-glasses:before { content: "\e715"; }
.hwf-folder:before { content: "\e65c"; }
.hwf-folder2:before { content: "\e65d"; }
.hwf-folder-add:before { content: "\e667"; }
.hwf-folder-bookmark:before { content: "\e66a"; }
.hwf-folder-cancel:before { content: "\e665"; }
.hwf-folder-checked:before { content: "\e666"; }
.hwf-folder-download:before { content: "\e65f"; }
.hwf-folder-error:before { content: "\e664"; }
.hwf-folder-forbidden:before { content: "\e669"; }
.hwf-folder-information:before { content: "\e653"; }
.hwf-folder-locked:before { content: "\e662"; }
.hwf-folder-remove:before { content: "\e668"; }
.hwf-folder-search:before { content: "\e663"; }
.hwf-folder-unlocked:before { content: "\e661"; }
.hwf-folder-upload:before { content: "\e660"; }
.hwf-folders:before { content: "\e65e"; }
.hwf-football:before { content: "\e69e"; }
.hwf-football2:before { content: "\e69f"; }
.hwf-full-moon:before { content: "\e6f4"; }
.hwf-gibbous-moon:before { content: "\e6f7"; }
.hwf-gibbous-moon2:before { content: "\e6f9"; }
.hwf-golf:before { content: "\e6b2"; }
.hwf-grinning-face:before { content: "\e72c"; }
.hwf-grinning-face2:before { content: "\e746"; }
.hwf-grinning-face-eyebrows:before { content: "\e725"; }
.hwf-grinning-face-eyebrows2:before { content: "\e72e"; }
.hwf-grinning-face-teeth:before { content: "\e734"; }
.hwf-grinning-face-teeth2:before { content: "\e736"; }
.hwf-half-moon:before { content: "\e6f6"; }
.hwf-half-moon2:before { content: "\e6fa"; }
.hwf-high-five:before { content: "\e755"; }
.hwf-hockey-stick:before { content: "\e6af"; }
.hwf-hockey-sticks:before { content: "\e6b0"; }
.hwf-ice-skate:before { content: "\e6c8"; }
.hwf-inbox:before { content: "\e656"; }
.hwf-inbox-document:before { content: "\e658"; }
.hwf-inbox-document-text:before { content: "\e659"; }
.hwf-inbox-download:before { content: "\e65a"; }
.hwf-inbox-filled:before { content: "\e683"; }
.hwf-inbox-upload:before { content: "\e65b"; }
.hwf-inboxes:before { content: "\e657"; }
.hwf-information:before { content: "\e61b"; }
.hwf-information2:before { content: "\e61c"; }
.hwf-key:before { content: "\e617"; }
.hwf-key2:before { content: "\e618"; }
.hwf-kissing-face:before { content: "\e733"; }
.hwf-kissing-face2:before { content: "\e73c"; }
.hwf-laughing-face:before { content: "\e71d"; }
.hwf-laughing-face2:before { content: "\e71e"; }
.hwf-laughing-face3:before { content: "\e744"; }
.hwf-lightning:before { content: "\e710"; }
.hwf-lock:before { content: "\e670"; }
.hwf-lock-open:before { content: "\e671"; }
.hwf-lock-open2:before { content: "\e672"; }
.hwf-lock-rounded:before { content: "\e674"; }
.hwf-lock-rounded-open:before { content: "\e675"; }
.hwf-lock-rounded-open2:before { content: "\e676"; }
.hwf-lock-stripes:before { content: "\e673"; }
.hwf-mail--forbidden:before { content: "\e60a"; }
.hwf-mail-add:before { content: "\e60b"; }
.hwf-mail-cancel:before { content: "\e609"; }
.hwf-mail-checked:before { content: "\e608"; }
.hwf-mail-envelope:before { content: "\e600"; }
.hwf-mail-envelope-closed:before { content: "\e602"; }
.hwf-mail-envelope-closed2:before { content: "\e605"; }
.hwf-mail-envelope-open:before { content: "\e601"; }
.hwf-mail-envelope-open2:before { content: "\e603"; }
.hwf-mail-envelope-open3:before { content: "\e604"; }
.hwf-mail-envelope-open4:before { content: "\e606"; }
.hwf-mail-error:before { content: "\e607"; }
.hwf-mail-remove:before { content: "\e60c"; }
.hwf-medal:before { content: "\e6a6"; }
.hwf-medal2:before { content: "\e6a7"; }
.hwf-medal3:before { content: "\e6b9"; }
.hwf-medal4:before { content: "\e6ba"; }
.hwf-middle-finger:before { content: "\e753"; }
.hwf-moon:before { content: "\e6e4"; }
.hwf-moon2:before { content: "\e6f8"; }
.hwf-moon-stars:before { content: "\e6e3"; }
.hwf-moonrise:before { content: "\e6f1"; }
.hwf-moonset:before { content: "\e6f2"; }
.hwf-move:before { content: "\e6b3"; }
.hwf-neutral-face:before { content: "\e717"; }
.hwf-neutral-face2:before { content: "\e721"; }
.hwf-neutral-face-eyebrows:before { content: "\e727"; }
.hwf-note:before { content: "\e628"; }
.hwf-note-add:before { content: "\e629"; }
.hwf-note-checked:before { content: "\e62d"; }
.hwf-note-important:before { content: "\e62e"; }
.hwf-note-list:before { content: "\e62c"; }
.hwf-note-remove:before { content: "\e62a"; }
.hwf-note-text:before { content: "\e62b"; }
.hwf-notebook:before { content: "\e62f"; }
.hwf-notebook2:before { content: "\e630"; }
.hwf-notebook3:before { content: "\e631"; }
.hwf-notebook4:before { content: "\e632"; }
.hwf-notebook-list:before { content: "\e634"; }
.hwf-notebook-text:before { content: "\e633"; }
.hwf-one-finger:before { content: "\e767"; }
.hwf-one-finger-click:before { content: "\e76c"; }
.hwf-one-finger-click2:before { content: "\e77a"; }
.hwf-one-finger-double-tap:before { content: "\e768"; }
.hwf-one-finger-double-tap2:before { content: "\e774"; }
.hwf-one-finger-swipe:before { content: "\e77c"; }
.hwf-one-finger-swipe-down:before { content: "\e766"; }
.hwf-one-finger-swipe-down2:before { content: "\e782"; }
.hwf-one-finger-swipe-horizontally:before { content: "\e77b"; }
.hwf-one-finger-swipe-left:before { content: "\e763"; }
.hwf-one-finger-swipe-left2:before { content: "\e77f"; }
.hwf-one-finger-swipe-right:before { content: "\e764"; }
.hwf-one-finger-swipe-right2:before { content: "\e780"; }
.hwf-one-finger-swipe-up:before { content: "\e765"; }
.hwf-one-finger-swipe-up2:before { content: "\e781"; }
.hwf-one-finger-tap:before { content: "\e769"; }
.hwf-one-finger-tap2:before { content: "\e778"; }
.hwf-one-finger-tap-hold:before { content: "\e76a"; }
.hwf-one-finger-tap-hold2:before { content: "\e779"; }
.hwf-package:before { content: "\e689"; }
.hwf-paperclip:before { content: "\e696"; }
.hwf-pen:before { content: "\e684"; }
.hwf-pen-angled:before { content: "\e685"; }
.hwf-printer:before { content: "\e678"; }
.hwf-printer2:before { content: "\e679"; }
.hwf-printer-text:before { content: "\e67a"; }
.hwf-printer-text2:before { content: "\e67b"; }
.hwf-rainbow:before { content: "\e6ea"; }
.hwf-raindrop:before { content: "\e6ed"; }
.hwf-raindrops:before { content: "\e6ec"; }
.hwf-rock-n-roll:before { content: "\e754"; }
.hwf-sad-face:before { content: "\e719"; }
.hwf-sad-face2:before { content: "\e722"; }
.hwf-sad-face3:before { content: "\e72d"; }
.hwf-sad-face4:before { content: "\e747"; }
.hwf-sad-face5:before { content: "\e748"; }
.hwf-sad-face6:before { content: "\e74a"; }
.hwf-sad-face--tightly-closed-eyes:before { content: "\e73b"; }
.hwf-sad-face-closed-eyes:before { content: "\e749"; }
.hwf-sad-face-eyebrows:before { content: "\e726"; }
.hwf-sailing-boat:before { content: "\e6c1"; }
.hwf-sailing-boat-water:before { content: "\e6c2"; }
.hwf-search:before { content: "\e66d"; }
.hwf-search-minus:before { content: "\e66f"; }
.hwf-search-plus:before { content: "\e66e"; }
.hwf-shredder:before { content: "\e67d"; }
.hwf-shuttlecock:before { content: "\e6b1"; }
.hwf-smiling-face:before { content: "\e718"; }
.hwf-smiling-face2:before { content: "\e723"; }
.hwf-smiling-face3:before { content: "\e745"; }
.hwf-smiling-face4:before { content: "\e74b"; }
.hwf-smiling-face-eyebrows:before { content: "\e724"; }
.hwf-smirking-face:before { content: "\e71f"; }
.hwf-smirking-face-sunglasses:before { content: "\e752"; }
.hwf-snowflake:before { content: "\e712"; }
.hwf-soccer-ball:before { content: "\e69c"; }
.hwf-soccer-court:before { content: "\e69d"; }
.hwf-soccer-shoe:before { content: "\e6c7"; }
.hwf-sports-shoe:before { content: "\e6c6"; }
.hwf-star:before { content: "\e616"; }
.hwf-stars:before { content: "\e6ef"; }
.hwf-stop-watch:before { content: "\e6ad"; }
.hwf-stop-watch2:before { content: "\e6ae"; }
.hwf-stubborn-face:before { content: "\e720"; }
.hwf-sun:before { content: "\e6e5"; }
.hwf-sunglasses:before { content: "\e6ee"; }
.hwf-sunrise:before { content: "\e6e6"; }
.hwf-sunset:before { content: "\e6e7"; }
.hwf-sunset2:before { content: "\e6e8"; }
.hwf-sunset3:before { content: "\e6e9"; }
.hwf-table-tennis:before { content: "\e6ab"; }
.hwf-tag:before { content: "\e690"; }
.hwf-tag-add:before { content: "\e692"; }
.hwf-tag-cancel:before { content: "\e695"; }
.hwf-tag-checked:before { content: "\e694"; }
.hwf-tag-cord:before { content: "\e68f"; }
.hwf-tag-remove:before { content: "\e693"; }
.hwf-tags:before { content: "\e691"; }
.hwf-target:before { content: "\e6c0"; }
.hwf-target-arrow:before { content: "\e6bf"; }
.hwf-tennis-ball:before { content: "\e699"; }
.hwf-tennis-ball2:before { content: "\e6a2"; }
.hwf-tennis-racket:before { content: "\e6a9"; }
.hwf-thermometer:before { content: "\e70a"; }
.hwf-thermometer-full:before { content: "\e70f"; }
.hwf-thermometer-half:before { content: "\e70d"; }
.hwf-thermometer-low:before { content: "\e70b"; }
.hwf-thermometer-quarter:before { content: "\e70c"; }
.hwf-thermometer-three-quarters:before { content: "\e70e"; }
.hwf-three-fingers:before { content: "\e771"; }
.hwf-three-fingers-double-tap:before { content: "\e75f"; }
.hwf-three-fingers-double-tap2:before { content: "\e772"; }
.hwf-three-fingers-swipe-down:before { content: "\e770"; }
.hwf-three-fingers-swipe-left:before { content: "\e76d"; }
.hwf-three-fingers-swipe-right:before { content: "\e76e"; }
.hwf-three-fingers-swipe-up:before { content: "\e76f"; }
.hwf-thumb-down:before { content: "\e757"; }
.hwf-thumb-down2:before { content: "\e759"; }
.hwf-thumb-finger-tap:before { content: "\e76b"; }
.hwf-thumb-up:before { content: "\e756"; }
.hwf-thumb-up2:before { content: "\e758"; }
.hwf-tornado:before { content: "\e702"; }
.hwf-trash-can:before { content: "\e619"; }
.hwf-trash-can2:before { content: "\e61a"; }
.hwf-trophy:before { content: "\e6a3"; }
.hwf-trophy2:before { content: "\e6a5"; }
.hwf-trophy-one:before { content: "\e6a4"; }
.hwf-two-fingers:before { content: "\e75e"; }
.hwf-two-fingers-double-tap:before { content: "\e77d"; }
.hwf-two-fingers-resize-in:before { content: "\e761"; }
.hwf-two-fingers-resize-out:before { content: "\e760"; }
.hwf-two-fingers-rotate:before { content: "\e762"; }
.hwf-two-fingers-swipe-down:before { content: "\e75d"; }
.hwf-two-fingers-swipe-down2:before { content: "\e775"; }
.hwf-two-fingers-swipe-left:before { content: "\e75a"; }
.hwf-two-fingers-swipe-left2:before { content: "\e777"; }
.hwf-two-fingers-swipe-right:before { content: "\e75b"; }
.hwf-two-fingers-swipe-right2:before { content: "\e776"; }
.hwf-two-fingers-swipe-up:before { content: "\e75c"; }
.hwf-two-fingers-swipe-up2:before { content: "\e773"; }
.hwf-two-fingers-tap:before { content: "\e77e"; }
.hwf-umbrella:before { content: "\e6eb"; }
.hwf-unamused-face-tightly-closed-eyes:before { content: "\e73a"; }
.hwf-volleyball:before { content: "\e6ac"; }
.hwf-volleyball-water:before { content: "\e6bd"; }
.hwf-warning:before { content: "\e705"; }
.hwf-weights:before { content: "\e6a8"; }
.hwf-whistle:before { content: "\e6bc"; }
.hwf-wind:before { content: "\e6f3"; }
.hwf-wind-turbine:before { content: "\e711"; }
.hwf-winking-face:before { content: "\e71c"; }
.hwf-winking-face2:before { content: "\e72a"; }
.hwf-worried-face:before { content: "\e729"; }
.hwf-worried-face-eyebrows:before { content: "\e730"; }
.hwf-zip:before { content: "\e66c"; }