@font-face {
  font-family: 'FluentUI-Regular-Monochrome';
  src:  url('../fonts/FluentUI-Regular-Monochrome.eot?xdi73r');
  src:  url('../fonts/FluentUI-Regular-Monochrome.eot?xdi73r#iefix') format('embedded-opentype'),
    url('../fonts/FluentUI-Regular-Monochrome.ttf?xdi73r') format('truetype'),
    url('../fonts/FluentUI-Regular-Monochrome.woff?xdi73r') format('woff'),
    url('../fonts/FluentUI-Regular-Monochrome.svg?xdi73r#FluentUI-Regular-Monochrome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.flt:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FluentUI-Regular-Monochrome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Icons */
.flt-accessibility:before {
  content: "\e000";
}
.flt-access-time:before {
  content: "\e001";
}
.flt-activity:before {
  content: "\e002";
}
.flt-add:before {
  content: "\e003";
}
.flt-add-circle:before {
  content: "\e004";
}
.flt-airplane:before {
  content: "\e005";
}
.flt-airplane-take-off:before {
  content: "\e006";
}
.flt-alert:before {
  content: "\e007";
}
.flt-alert-off:before {
  content: "\e008";
}
.flt-alert-on:before {
  content: "\e009";
}
.flt-alert-snooze:before {
  content: "\e00a";
}
.flt-alert-urgent:before {
  content: "\e00b";
}
.flt-animal-dog:before {
  content: "\e00c";
}
.flt-app-folder:before {
  content: "\e00d";
}
.flt-app-generic:before {
  content: "\e00e";
}
.flt-app-recent:before {
  content: "\e00f";
}
.flt-approvals-app:before {
  content: "\e010";
}
.flt-apps:before {
  content: "\e011";
}
.flt-apps-add-in:before {
  content: "\e012";
}
.flt-apps-list:before {
  content: "\e013";
}
.flt-app-span:before {
  content: "\e014";
}
.flt-app-store:before {
  content: "\e015";
}
.flt-app-title:before {
  content: "\e016";
}
.flt-app-unspan:before {
  content: "\e017";
}
.flt-archive:before {
  content: "\e018";
}
.flt-arrow-clockwise:before {
  content: "\e019";
}
.flt-arrow-counterclockwise:before {
  content: "\e01a";
}
.flt-arrow-curve-right:before {
  content: "\e01b";
}
.flt-arrow-down:before {
  content: "\e01c";
}
.flt-arrow-down-left:before {
  content: "\e01d";
}
.flt-arrow-download:before {
  content: "\e01e";
}
.flt-arrow-down-right-circle:before {
  content: "\e01f";
}
.flt-arrow-down-square:before {
  content: "\e020";
}
.flt-arrow-enter:before {
  content: "\e021";
}
.flt-arrow-expand:before {
  content: "\e022";
}
.flt-arrow-export:before {
  content: "\e023";
}
.flt-arrow-forward:before {
  content: "\e024";
}
.flt-arrow-import:before {
  content: "\e025";
}
.flt-arrow-left:before {
  content: "\e026";
}
.flt-arrow-maximize:before {
  content: "\e027";
}
.flt-arrow-maximize-vertical:before {
  content: "\e028";
}
.flt-arrow-minimize:before {
  content: "\e029";
}
.flt-arrow-minimize-vertical:before {
  content: "\e02a";
}
.flt-arrow-move:before {
  content: "\e02b";
}
.flt-arrow-next:before {
  content: "\e02c";
}
.flt-arrow-previous:before {
  content: "\e02d";
}
.flt-arrow-redo:before {
  content: "\e02e";
}
.flt-arrow-repeat-all:before {
  content: "\e02f";
}
.flt-arrow-repeat-all-off:before {
  content: "\e030";
}
.flt-arrow-reply:before {
  content: "\e031";
}
.flt-arrow-reply-all:before {
  content: "\e032";
}
.flt-arrow-reply-down:before {
  content: "\e033";
}
.flt-arrow-right:before {
  content: "\e034";
}
.flt-arrow-right-circle:before {
  content: "\e035";
}
.flt-arrow-rotate-clockwise:before {
  content: "\e036";
}
.flt-arrow-rotate-counterclockwise:before {
  content: "\e037";
}
.flt-arrow-rotate-icon:before {
  content: "\e038";
}
.flt-arrows-bidirectional:before {
  content: "\e039";
}
.flt-arrow-sort:before {
  content: "\e03a";
}
.flt-arrow-swap:before {
  content: "\e03b";
}
.flt-arrow-sync:before {
  content: "\e03c";
}
.flt-arrow-sync-circle:before {
  content: "\e03d";
}
.flt-arrow-sync-off:before {
  content: "\e03e";
}
.flt-arrow-trending:before {
  content: "\e03f";
}
.flt-arrow-undo:before {
  content: "\e040";
}
.flt-arrow-up:before {
  content: "\e041";
}
.flt-arrow-up-circle:before {
  content: "\e042";
}
.flt-arrow-up-left:before {
  content: "\e043";
}
.flt-arrow-up-left-circle:before {
  content: "\e044";
}
.flt-arrow-upload:before {
  content: "\e045";
}
.flt-arrow-up-right:before {
  content: "\e046";
}
.flt-assignments:before {
  content: "\e047";
}
.flt-attach:before {
  content: "\e048";
}
.flt-attach-with-text:before {
  content: "\e049";
}
.flt-autocorrect:before {
  content: "\e04a";
}
.flt-autosum:before {
  content: "\e04b";
}
.flt-backspace:before {
  content: "\e04c";
}
.flt-backward:before {
  content: "\e04d";
}
.flt-badge:before {
  content: "\e04e";
}
.flt-balloon:before {
  content: "\e04f";
}
.flt-bank:before {
  content: "\e050";
}
.flt-battery-0:before {
  content: "\e051";
}
.flt-battery-1:before {
  content: "\e052";
}
.flt-battery-2:before {
  content: "\e053";
}
.flt-battery-3:before {
  content: "\e054";
}
.flt-battery-4:before {
  content: "\e055";
}
.flt-battery-5:before {
  content: "\e056";
}
.flt-battery-6:before {
  content: "\e057";
}
.flt-battery-7:before {
  content: "\e058";
}
.flt-battery-8:before {
  content: "\e059";
}
.flt-battery-9:before {
  content: "\e05a";
}
.flt-battery-charge:before {
  content: "\e05b";
}
.flt-battery-full:before {
  content: "\e05c";
}
.flt-battery-saver:before {
  content: "\e05d";
}
.flt-battery-warning:before {
  content: "\e05e";
}
.flt-beaker:before {
  content: "\e05f";
}
.flt-bed:before {
  content: "\e060";
}
.flt-block:before {
  content: "\e061";
}
.flt-bluetooth:before {
  content: "\e062";
}
.flt-bluetooth-connected:before {
  content: "\e063";
}
.flt-bluetooth-disabled:before {
  content: "\e064";
}
.flt-bluetooth-searching:before {
  content: "\e065";
}
.flt-board:before {
  content: "\e066";
}
.flt-book-formula-compatibility:before {
  content: "\e067";
}
.flt-book-formula-database:before {
  content: "\e068";
}
.flt-book-formula-date:before {
  content: "\e069";
}
.flt-book-formula-engineering:before {
  content: "\e06a";
}
.flt-book-formula-financial:before {
  content: "\e06b";
}
.flt-book-formula-information:before {
  content: "\e06c";
}
.flt-book-formula-logical:before {
  content: "\e06d";
}
.flt-book-formula-lookup:before {
  content: "\e06e";
}
.flt-book-formula-math:before {
  content: "\e06f";
}
.flt-book-formula-recent:before {
  content: "\e070";
}
.flt-book-formula-statistics:before {
  content: "\e071";
}
.flt-book-formula-text:before {
  content: "\e072";
}
.flt-book-globe:before {
  content: "\e073";
}
.flt-bookmark:before {
  content: "\e074";
}
.flt-bookmark-off:before {
  content: "\e075";
}
.flt-book-number:before {
  content: "\e076";
}
.flt-bot:before {
  content: "\e077";
}
.flt-bot-add:before {
  content: "\e078";
}
.flt-branch:before {
  content: "\e079";
}
.flt-briefcase:before {
  content: "\e07a";
}
.flt-bring-to-front:before {
  content: "\e07b";
}
.flt-broad-activity-feed:before {
  content: "\e07c";
}
.flt-broom:before {
  content: "\e07d";
}
.flt-bug-report:before {
  content: "\e07e";
}
.flt-building:before {
  content: "\e07f";
}
.flt-building-1:before {
  content: "\e080";
}
.flt-building-2:before {
  content: "\e081";
}
.flt-building-retail:before {
  content: "\e082";
}
.flt-calculator:before {
  content: "\e083";
}
.flt-calendar:before {
  content: "\e084";
}
.flt-calendar-3-day:before {
  content: "\e085";
}
.flt-calendar-add:before {
  content: "\e086";
}
.flt-calendar-agenda:before {
  content: "\e087";
}
.flt-calendar-arrow-right:before {
  content: "\e088";
}
.flt-calendar-cancel:before {
  content: "\e089";
}
.flt-calendar-checkmark:before {
  content: "\e08a";
}
.flt-calendar-clock:before {
  content: "\e08b";
}
.flt-calendar-date:before {
  content: "\e08c";
}
.flt-calendar-day:before {
  content: "\e08d";
}
.flt-calendar-empty:before {
  content: "\e08e";
}
.flt-calendar-later:before {
  content: "\e08f";
}
.flt-calendar-month:before {
  content: "\e090";
}
.flt-calendar-multiple:before {
  content: "\e091";
}
.flt-calendar-overdue:before {
  content: "\e092";
}
.flt-calendar-person:before {
  content: "\e093";
}
.flt-calendar-reply:before {
  content: "\e094";
}
.flt-calendar-settings:before {
  content: "\e095";
}
.flt-calendar-star:before {
  content: "\e096";
}
.flt-calendar-sync:before {
  content: "\e097";
}
.flt-calendar-today:before {
  content: "\e098";
}
.flt-calendar-week-numbers:before {
  content: "\e099";
}
.flt-calendar-week-start:before {
  content: "\e09a";
}
.flt-calendar-work-week:before {
  content: "\e09b";
}
.flt-call-add:before {
  content: "\e09c";
}
.flt-call-end:before {
  content: "\e09d";
}
.flt-call-forward:before {
  content: "\e09e";
}
.flt-calligraphy-pen:before {
  content: "\e09f";
}
.flt-call-inbound:before {
  content: "\e0a0";
}
.flt-call-missed:before {
  content: "\e0a1";
}
.flt-call-outbound:before {
  content: "\e0a2";
}
.flt-call-park:before {
  content: "\e0a3";
}
.flt-camera:before {
  content: "\e0a4";
}
.flt-camera-add:before {
  content: "\e0a5";
}
.flt-camera-switch:before {
  content: "\e0a6";
}
.flt-caret:before {
  content: "\e0a7";
}
.flt-caret-down:before {
  content: "\e0a8";
}
.flt-caret-left:before {
  content: "\e0a9";
}
.flt-caret-right:before {
  content: "\e0aa";
}
.flt-cart:before {
  content: "\e0ab";
}
.flt-cast:before {
  content: "\e0ac";
}
.flt-cellular-3g:before {
  content: "\e0ad";
}
.flt-cellular-4g:before {
  content: "\e0ae";
}
.flt-cellular-data-1:before {
  content: "\e0af";
}
.flt-cellular-data-2:before {
  content: "\e0b0";
}
.flt-cellular-data-3:before {
  content: "\e0b1";
}
.flt-cellular-data-4:before {
  content: "\e0b2";
}
.flt-cellular-data-5:before {
  content: "\e0b3";
}
.flt-cellular-data-off:before {
  content: "\e0b4";
}
.flt-cellular-off:before {
  content: "\e0b5";
}
.flt-cellular-unavailable:before {
  content: "\e0b6";
}
.flt-certificate:before {
  content: "\e0b7";
}
.flt-channel:before {
  content: "\e0b8";
}
.flt-channel-follow:before {
  content: "\e0b9";
}
.flt-channel-notifications:before {
  content: "\e0ba";
}
.flt-channel-unfollow:before {
  content: "\e0bb";
}
.flt-chat:before {
  content: "\e0bc";
}
.flt-chat-bubbles-question:before {
  content: "\e0bd";
}
.flt-chat-help:before {
  content: "\e0be";
}
.flt-chat-off:before {
  content: "\e0bf";
}
.flt-chat-warning:before {
  content: "\e0c0";
}
.flt-checkbox-checked:before {
  content: "\e0c1";
}
.flt-checkbox-unchecked:before {
  content: "\e0c2";
}
.flt-checkmark:before {
  content: "\e0c3";
}
.flt-checkmark-circle:before {
  content: "\e0c4";
}
.flt-checkmark-lock:before {
  content: "\e0c5";
}
.flt-checkmark-square:before {
  content: "\e0c6";
}
.flt-checkmark-underline-circle:before {
  content: "\e0c7";
}
.flt-chevron-down:before {
  content: "\e0c8";
}
.flt-chevron-down-circle:before {
  content: "\e0c9";
}
.flt-chevron-left:before {
  content: "\e0ca";
}
.flt-chevron-right:before {
  content: "\e0cb";
}
.flt-chevron-up:before {
  content: "\e0cc";
}
.flt-circle:before {
  content: "\e0cd";
}
.flt-circle-half-fill:before {
  content: "\e0ce";
}
.flt-circle-line:before {
  content: "\e0cf";
}
.flt-circle-small:before {
  content: "\e0d0";
}
.flt-city:before {
  content: "\e0d1";
}
.flt-class:before {
  content: "\e0d2";
}
.flt-classification:before {
  content: "\e0d3";
}
.flt-clear-formatting:before {
  content: "\e0d4";
}
.flt-clipboard:before {
  content: "\e0d5";
}
.flt-clipboard-code:before {
  content: "\e0d6";
}
.flt-clipboard-letter:before {
  content: "\e0d7";
}
.flt-clipboard-link:before {
  content: "\e0d8";
}
.flt-clipboard-more:before {
  content: "\e0d9";
}
.flt-clipboard-paste:before {
  content: "\e0da";
}
.flt-clipboard-search:before {
  content: "\e0db";
}
.flt-clipboard-text:before {
  content: "\e0dc";
}
.flt-clock:before {
  content: "\e0dd";
}
.flt-clock-alarm:before {
  content: "\e0de";
}
.flt-closed-caption:before {
  content: "\e0df";
}
.flt-cloud:before {
  content: "\e0e0";
}
.flt-cloud-backup:before {
  content: "\e0e1";
}
.flt-cloud-download:before {
  content: "\e0e2";
}
.flt-cloud-off:before {
  content: "\e0e3";
}
.flt-cloud-offline:before {
  content: "\e0e4";
}
.flt-cloud-sync-complete:before {
  content: "\e0e5";
}
.flt-code:before {
  content: "\e0e6";
}
.flt-collections:before {
  content: "\e0e7";
}
.flt-collections-add:before {
  content: "\e0e8";
}
.flt-color:before {
  content: "\e0e9";
}
.flt-color-background:before {
  content: "\e0ea";
}
.flt-color-fill:before {
  content: "\e0eb";
}
.flt-color-line:before {
  content: "\e0ec";
}
.flt-column-triple:before {
  content: "\e0ed";
}
.flt-comment:before {
  content: "\e0ee";
}
.flt-comment-add:before {
  content: "\e0ef";
}
.flt-comment-delete:before {
  content: "\e0f0";
}
.flt-comment-mention:before {
  content: "\e0f1";
}
.flt-comment-multiple:before {
  content: "\e0f2";
}
.flt-comment-next:before {
  content: "\e0f3";
}
.flt-comment-previous:before {
  content: "\e0f4";
}
.flt-comment-resolve:before {
  content: "\e0f5";
}
.flt-communication:before {
  content: "\e0f6";
}
.flt-compass-northwest:before {
  content: "\e0f7";
}
.flt-compose:before {
  content: "\e0f8";
}
.flt-conference-room:before {
  content: "\e0f9";
}
.flt-connector:before {
  content: "\e0fa";
}
.flt-contact-card:before {
  content: "\e0fb";
}
.flt-contact-card-group:before {
  content: "\e0fc";
}
.flt-contacts:before {
  content: "\e0fd";
}
.flt-content-settings:before {
  content: "\e0fe";
}
.flt-convert-to-table:before {
  content: "\e0ff";
}
.flt-convert-to-text:before {
  content: "\e100";
}
.flt-cookies:before {
  content: "\e101";
}
.flt-copy:before {
  content: "\e102";
}
.flt-copy-image:before {
  content: "\e103";
}
.flt-copy-link:before {
  content: "\e104";
}
.flt-copy-move:before {
  content: "\e105";
}
.flt-crop:before {
  content: "\e106";
}
.flt-crop-interim:before {
  content: "\e107";
}
.flt-crop-interim-off:before {
  content: "\e108";
}
.flt-cube:before {
  content: "\e109";
}
.flt-currency:before {
  content: "\e10a";
}
.flt-cut:before {
  content: "\e10b";
}
.flt-dark-theme:before {
  content: "\e10c";
}
.flt-data-area:before {
  content: "\e10d";
}
.flt-data-bar-horizontal:before {
  content: "\e10e";
}
.flt-data-bar-vertical:before {
  content: "\e10f";
}
.flt-data-funnel:before {
  content: "\e110";
}
.flt-data-histogram:before {
  content: "\e111";
}
.flt-data-line:before {
  content: "\e112";
}
.flt-data-pie:before {
  content: "\e113";
}
.flt-data-scatter:before {
  content: "\e114";
}
.flt-data-sunburst:before {
  content: "\e115";
}
.flt-data-treemap:before {
  content: "\e116";
}
.flt-data-usage:before {
  content: "\e117";
}
.flt-data-waterfall:before {
  content: "\e118";
}
.flt-data-whisker:before {
  content: "\e119";
}
.flt-delete:before {
  content: "\e11a";
}
.flt-delete-forever:before {
  content: "\e11b";
}
.flt-delete-off:before {
  content: "\e11c";
}
.flt-dentist:before {
  content: "\e11d";
}
.flt-design-ideas:before {
  content: "\e11e";
}
.flt-desktop:before {
  content: "\e11f";
}
.flt-developer-board:before {
  content: "\e120";
}
.flt-device-eq:before {
  content: "\e121";
}
.flt-dialpad:before {
  content: "\e122";
}
.flt-dialpad-off:before {
  content: "\e123";
}
.flt-dictionary:before {
  content: "\e124";
}
.flt-dictionary-add:before {
  content: "\e125";
}
.flt-directions:before {
  content: "\e126";
}
.flt-dismiss:before {
  content: "\e127";
}
.flt-dismiss-circle:before {
  content: "\e128";
}
.flt-divider-short:before {
  content: "\e129";
}
.flt-divider-tall:before {
  content: "\e12a";
}
.flt-dock:before {
  content: "\e12b";
}
.flt-dock-left:before {
  content: "\e12c";
}
.flt-dock-row:before {
  content: "\e12d";
}
.flt-doctor:before {
  content: "\e12e";
}
.flt-document:before {
  content: "\e12f";
}
.flt-document-autosave:before {
  content: "\e130";
}
.flt-document-briefcase:before {
  content: "\e131";
}
.flt-document-catch-up:before {
  content: "\e132";
}
.flt-document-copy:before {
  content: "\e133";
}
.flt-document-dismiss:before {
  content: "\e134";
}
.flt-document-edit:before {
  content: "\e135";
}
.flt-document-endnote:before {
  content: "\e136";
}
.flt-document-error:before {
  content: "\e137";
}
.flt-document-footer:before {
  content: "\e138";
}
.flt-document-footer-remove:before {
  content: "\e139";
}
.flt-document-header:before {
  content: "\e13a";
}
.flt-document-header-footer:before {
  content: "\e13b";
}
.flt-document-header-remove:before {
  content: "\e13c";
}
.flt-document-landscape:before {
  content: "\e13d";
}
.flt-document-margins:before {
  content: "\e13e";
}
.flt-document-none:before {
  content: "\e13f";
}
.flt-document-one-page:before {
  content: "\e140";
}
.flt-document-page:before {
  content: "\e141";
}
.flt-document-page-bottom-center:before {
  content: "\e142";
}
.flt-document-page-bottom-left:before {
  content: "\e143";
}
.flt-document-page-bottom-right:before {
  content: "\e144";
}
.flt-document-page-break:before {
  content: "\e145";
}
.flt-document-page-number:before {
  content: "\e146";
}
.flt-document-page-top-center:before {
  content: "\e147";
}
.flt-document-page-top-left:before {
  content: "\e148";
}
.flt-document-page-top-right:before {
  content: "\e149";
}
.flt-document-pdf:before {
  content: "\e14a";
}
.flt-document-search:before {
  content: "\e14b";
}
.flt-document-toolbox:before {
  content: "\e14c";
}
.flt-document-top-center:before {
  content: "\e14d";
}
.flt-document-top-left:before {
  content: "\e14e";
}
.flt-document-top-right:before {
  content: "\e14f";
}
.flt-document-unknown:before {
  content: "\e150";
}
.flt-document-width:before {
  content: "\e151";
}
.flt-double-swipe-down:before {
  content: "\e152";
}
.flt-double-swipe-up:before {
  content: "\e153";
}
.flt-double-tap-swipe-down:before {
  content: "\e154";
}
.flt-double-tap-swipe-up:before {
  content: "\e155";
}
.flt-drafts:before {
  content: "\e156";
}
.flt-drag:before {
  content: "\e157";
}
.flt-drink:before {
  content: "\e158";
}
.flt-drink-beer:before {
  content: "\e159";
}
.flt-drink-coffee:before {
  content: "\e15a";
}
.flt-drink-margarita:before {
  content: "\e15b";
}
.flt-dual-screen:before {
  content: "\e15c";
}
.flt-dual-screen-add:before {
  content: "\e15d";
}
.flt-dual-screen-arrow-right:before {
  content: "\e15e";
}
.flt-dual-screen-clock:before {
  content: "\e15f";
}
.flt-dual-screen-desktop:before {
  content: "\e160";
}
.flt-dual-screen-error:before {
  content: "\e161";
}
.flt-dual-screen-group:before {
  content: "\e162";
}
.flt-dual-screen-header:before {
  content: "\e163";
}
.flt-dual-screen-lock:before {
  content: "\e164";
}
.flt-dual-screen-mirror:before {
  content: "\e165";
}
.flt-dual-screen-pagination:before {
  content: "\e166";
}
.flt-dual-screen-settings:before {
  content: "\e167";
}
.flt-dual-screen-status-bar:before {
  content: "\e168";
}
.flt-dual-screen-tablet:before {
  content: "\e169";
}
.flt-dual-screen-update:before {
  content: "\e16a";
}
.flt-dual-screen-vertical-scroll:before {
  content: "\e16b";
}
.flt-dual-screen-vibrate:before {
  content: "\e16c";
}
.flt-earth:before {
  content: "\e16d";
}
.flt-edit:before {
  content: "\e16e";
}
.flt-emoji:before {
  content: "\e16f";
}
.flt-emoji-add:before {
  content: "\e170";
}
.flt-emoji-angry:before {
  content: "\e171";
}
.flt-emoji-laugh:before {
  content: "\e172";
}
.flt-emoji-meh:before {
  content: "\e173";
}
.flt-emoji-sad:before {
  content: "\e174";
}
.flt-emoji-surprise:before {
  content: "\e175";
}
.flt-erase:before {
  content: "\e176";
}
.flt-eraser-tool:before {
  content: "\e177";
}
.flt-error-circle:before {
  content: "\e178";
}
.flt-export:before {
  content: "\e179";
}
.flt-extended-dock:before {
  content: "\e17a";
}
.flt-extension:before {
  content: "\e17b";
}
.flt-eye-hide:before {
  content: "\e17c";
}
.flt-eye-show:before {
  content: "\e17d";
}
.flt-fast-acceleration:before {
  content: "\e17e";
}
.flt-fast-forward:before {
  content: "\e17f";
}
.flt-fast-mode:before {
  content: "\e180";
}
.flt-favorites:before {
  content: "\e181";
}
.flt-filter:before {
  content: "\e182";
}
.flt-fingerprint:before {
  content: "\e183";
}
.flt-flag:before {
  content: "\e184";
}
.flt-flag-off:before {
  content: "\e185";
}
.flt-flag-pride:before {
  content: "\e186";
}
.flt-flash-auto:before {
  content: "\e18e";
}
.flt-flashlight:before {
  content: "\e18f";
}
.flt-flashlight-off:before {
  content: "\e190";
}
.flt-flash-off:before {
  content: "\e191";
}
.flt-flash-on:before {
  content: "\e192";
}
.flt-folder:before {
  content: "\e193";
}
.flt-folder-add:before {
  content: "\e194";
}
.flt-folder-briefcase:before {
  content: "\e195";
}
.flt-folder-junk:before {
  content: "\e196";
}
.flt-folder-link:before {
  content: "\e197";
}
.flt-folder-move:before {
  content: "\e198";
}
.flt-folder-open:before {
  content: "\e199";
}
.flt-folder-open-vertical:before {
  content: "\e19a";
}
.flt-folder-public:before {
  content: "\e19b";
}
.flt-folder-zip:before {
  content: "\e19c";
}
.flt-font-decrease:before {
  content: "\e19d";
}
.flt-font-increase:before {
  content: "\e19e";
}
.flt-font-space-tracking-in:before {
  content: "\e19f";
}
.flt-font-space-tracking-out:before {
  content: "\e1a0";
}
.flt-food:before {
  content: "\e1a1";
}
.flt-food-cake:before {
  content: "\e1a2";
}
.flt-food-egg:before {
  content: "\e1a3";
}
.flt-food-toast:before {
  content: "\e1a4";
}
.flt-form-new:before {
  content: "\e1a5";
}
.flt-forward:before {
  content: "\e1a6";
}
.flt-fps-240:before {
  content: "\e1a7";
}
.flt-fps-960:before {
  content: "\e1a8";
}
.flt-full-screen-zoom:before {
  content: "\e1a9";
}
.flt-gallery:before {
  content: "\e1aa";
}
.flt-games:before {
  content: "\e1ab";
}
.flt-gesture:before {
  content: "\e1ac";
}
.flt-gif:before {
  content: "\e1ad";
}
.flt-gift:before {
  content: "\e1ae";
}
.flt-glance:before {
  content: "\e1af";
}
.flt-glasses:before {
  content: "\e1b0";
}
.flt-glasses-off:before {
  content: "\e1b1";
}
.flt-globe:before {
  content: "\e1b2";
}
.flt-globe-add:before {
  content: "\e1b3";
}
.flt-globe-clock:before {
  content: "\e1b4";
}
.flt-globe-desktop:before {
  content: "\e1b5";
}
.flt-globe-location:before {
  content: "\e1b6";
}
.flt-globe-search:before {
  content: "\e1b7";
}
.flt-globe-video:before {
  content: "\e1b8";
}
.flt-grid:before {
  content: "\e1b9";
}
.flt-group:before {
  content: "\e1ba";
}
.flt-group-list:before {
  content: "\e1bb";
}
.flt-guest:before {
  content: "\e1bc";
}
.flt-guest-add:before {
  content: "\e1bd";
}
.flt-hand-raise:before {
  content: "\e1be";
}
.flt-handshake:before {
  content: "\e1bf";
}
.flt-hdr:before {
  content: "\e1c0";
}
.flt-headphones:before {
  content: "\e1c1";
}
.flt-headset:before {
  content: "\e1c2";
}
.flt-headset-vr:before {
  content: "\e1c3";
}
.flt-heart:before {
  content: "\e1c4";
}
.flt-highlight:before {
  content: "\e1c5";
}
.flt-highlight-accent:before {
  content: "\e1c6";
}
.flt-history:before {
  content: "\e1c7";
}
.flt-home:before {
  content: "\e1c8";
}
.flt-home-add:before {
  content: "\e1c9";
}
.flt-home-checkmark:before {
  content: "\e1ca";
}
.flt-icons:before {
  content: "\e1cb";
}
.flt-image:before {
  content: "\e1cc";
}
.flt-image-add:before {
  content: "\e1cd";
}
.flt-image-alt-text:before {
  content: "\e1ce";
}
.flt-image-copy:before {
  content: "\e1cf";
}
.flt-image-edit:before {
  content: "\e1d0";
}
.flt-image-library:before {
  content: "\e1d1";
}
.flt-image-off:before {
  content: "\e1d2";
}
.flt-image-search:before {
  content: "\e1d3";
}
.flt-immersive-reader:before {
  content: "\e1d4";
}
.flt-important:before {
  content: "\e1d5";
}
.flt-incognito:before {
  content: "\e1d6";
}
.flt-info:before {
  content: "\e1d7";
}
.flt-inking-tool:before {
  content: "\e1d8";
}
.flt-inking-tool-accent:before {
  content: "\e1d9";
}
.flt-inprivate-account:before {
  content: "\e1da";
}
.flt-insert:before {
  content: "\e1db";
}
.flt-inspect:before {
  content: "\e1dc";
}
.flt-ios-arrow-left:before {
  content: "\e1dd";
}
.flt-ios-chevron:before {
  content: "\e1de";
}
.flt-ios-chevron-right:before {
  content: "\e1df";
}
.flt-javascript:before {
  content: "\e1e0";
}
.flt-key:before {
  content: "\e1e1";
}
.flt-keyboard:before {
  content: "\e1e2";
}
.flt-keyboard-dock:before {
  content: "\e1e3";
}
.flt-keyboard-layout-float:before {
  content: "\e1e4";
}
.flt-keyboard-layout-one-handed-left:before {
  content: "\e1e5";
}
.flt-keyboard-layout-resize:before {
  content: "\e1e6";
}
.flt-keyboard-layout-split:before {
  content: "\e1e7";
}
.flt-keyboard-shift:before {
  content: "\e1e8";
}
.flt-keyboard-shift-uppercase:before {
  content: "\e1e9";
}
.flt-keyboard-tab:before {
  content: "\e1ea";
}
.flt-laptop:before {
  content: "\e1eb";
}
.flt-large:before {
  content: "\e1ec";
}
.flt-lasso:before {
  content: "\e1ed";
}
.flt-launcher-settings:before {
  content: "\e1ee";
}
.flt-layer:before {
  content: "\e1ef";
}
.flt-leaf:before {
  content: "\e1f0";
}
.flt-leaf-two:before {
  content: "\e1f1";
}
.flt-library:before {
  content: "\e1f2";
}
.flt-lightbulb:before {
  content: "\e1f3";
}
.flt-lightbulb-circle:before {
  content: "\e1f4";
}
.flt-lightbulb-filament:before {
  content: "\e1f5";
}
.flt-like:before {
  content: "\e1f6";
}
.flt-likert:before {
  content: "\e1f7";
}
.flt-line-horizontal-1:before {
  content: "\e1f8";
}
.flt-line-horizontal-3:before {
  content: "\e1f9";
}
.flt-line-horizontal-5:before {
  content: "\e1fa";
}
.flt-link:before {
  content: "\e1fb";
}
.flt-link-edit:before {
  content: "\e1fc";
}
.flt-link-remove:before {
  content: "\e1fd";
}
.flt-link-square:before {
  content: "\e1fe";
}
.flt-list:before {
  content: "\e1ff";
}
.flt-live:before {
  content: "\e200";
}
.flt-local-language:before {
  content: "\e201";
}
.flt-location:before {
  content: "\e202";
}
.flt-location-live:before {
  content: "\e203";
}
.flt-location-not-found:before {
  content: "\e204";
}
.flt-lock:before {
  content: "\e205";
}
.flt-lock-shield:before {
  content: "\e206";
}
.flt-magic-wand:before {
  content: "\e207";
}
.flt-mail:before {
  content: "\e208";
}
.flt-mail-add:before {
  content: "\e209";
}
.flt-mail-all:before {
  content: "\e20a";
}
.flt-mail-all-accounts:before {
  content: "\e20b";
}
.flt-mail-clock:before {
  content: "\e20c";
}
.flt-mail-copy:before {
  content: "\e20d";
}
.flt-mail-inbox:before {
  content: "\e20e";
}
.flt-mail-inbox-add:before {
  content: "\e20f";
}
.flt-mail-inbox-dismiss:before {
  content: "\e210";
}
.flt-mail-move-to-focussed:before {
  content: "\e211";
}
.flt-mail-outbox:before {
  content: "\e212";
}
.flt-mail-read:before {
  content: "\e213";
}
.flt-mail-unread:before {
  content: "\e214";
}
.flt-mail-unsubscribe:before {
  content: "\e215";
}
.flt-malware-detected:before {
  content: "\e216";
}
.flt-manufacturer:before {
  content: "\e217";
}
.flt-map:before {
  content: "\e218";
}
.flt-map-drive:before {
  content: "\e219";
}
.flt-match-app-layout:before {
  content: "\e21a";
}
.flt-maximize:before {
  content: "\e21b";
}
.flt-meet-now:before {
  content: "\e21c";
}
.flt-megaphone:before {
  content: "\e21d";
}
.flt-megaphone-off:before {
  content: "\e21e";
}
.flt-mention:before {
  content: "\e21f";
}
.flt-merge:before {
  content: "\e220";
}
.flt-mic-off:before {
  content: "\e221";
}
.flt-mic-on:before {
  content: "\e222";
}
.flt-mic-settings:before {
  content: "\e223";
}
.flt-midi:before {
  content: "\e224";
}
.flt-missing-metadata:before {
  content: "\e225";
}
.flt-mobile-optimized:before {
  content: "\e226";
}
.flt-money:before {
  content: "\e227";
}
.flt-more:before {
  content: "\e228";
}
.flt-more-vertical:before {
  content: "\e229";
}
.flt-movies-and-tv:before {
  content: "\e22a";
}
.flt-multiselect:before {
  content: "\e22b";
}
.flt-music:before {
  content: "\e22c";
}
.flt-my-location:before {
  content: "\e22d";
}
.flt-navigation:before {
  content: "\e22e";
}
.flt-network-check:before {
  content: "\e22f";
}
.flt-new:before {
  content: "\e230";
}
.flt-news:before {
  content: "\e231";
}
.flt-next:before {
  content: "\e232";
}
.flt-note:before {
  content: "\e233";
}
.flt-note-add:before {
  content: "\e234";
}
.flt-notebook:before {
  content: "\e235";
}
.flt-notebook-error:before {
  content: "\e236";
}
.flt-notebook-lightning:before {
  content: "\e237";
}
.flt-notebook-question-mark:before {
  content: "\e238";
}
.flt-notebook-section:before {
  content: "\e239";
}
.flt-notebook-sync:before {
  content: "\e23a";
}
.flt-notepad:before {
  content: "\e23b";
}
.flt-number-row:before {
  content: "\e23c";
}
.flt-number-symbol:before {
  content: "\e23d";
}
.flt-office-apps:before {
  content: "\e23e";
}
.flt-open:before {
  content: "\e23f";
}
.flt-open-folder:before {
  content: "\e240";
}
.flt-open-in-browser:before {
  content: "\e241";
}
.flt-options:before {
  content: "\e242";
}
.flt-organization:before {
  content: "\e243";
}
.flt-owner:before {
  content: "\e244";
}
.flt-page:before {
  content: "\e245";
}
.flt-page-fit:before {
  content: "\e246";
}
.flt-paint-brush:before {
  content: "\e247";
}
.flt-paint-bucket:before {
  content: "\e248";
}
.flt-pair:before {
  content: "\e249";
}
.flt-pane-close:before {
  content: "\e24a";
}
.flt-pane-open:before {
  content: "\e24b";
}
.flt-password:before {
  content: "\e24c";
}
.flt-patient:before {
  content: "\e24d";
}
.flt-pause:before {
  content: "\e24e";
}
.flt-payment:before {
  content: "\e24f";
}
.flt-pen-settings:before {
  content: "\e250";
}
.flt-people:before {
  content: "\e251";
}
.flt-people-add:before {
  content: "\e252";
}
.flt-people-audience:before {
  content: "\e253";
}
.flt-people-community:before {
  content: "\e254";
}
.flt-people-community-add:before {
  content: "\e255";
}
.flt-people-prohibited:before {
  content: "\e256";
}
.flt-people-search:before {
  content: "\e257";
}
.flt-people-settings:before {
  content: "\e258";
}
.flt-people-team:before {
  content: "\e259";
}
.flt-person:before {
  content: "\e25a";
}
.flt-person-accounts:before {
  content: "\e25b";
}
.flt-person-add:before {
  content: "\e25c";
}
.flt-person-arrow-left:before {
  content: "\e25d";
}
.flt-person-arrow-right:before {
  content: "\e25e";
}
.flt-person-available:before {
  content: "\e25f";
}
.flt-person-block:before {
  content: "\e260";
}
.flt-person-board:before {
  content: "\e261";
}
.flt-person-call:before {
  content: "\e262";
}
.flt-person-delete:before {
  content: "\e263";
}
.flt-person-feedback:before {
  content: "\e264";
}
.flt-person-prohibited:before {
  content: "\e265";
}
.flt-person-question-mark:before {
  content: "\e266";
}
.flt-person-support:before {
  content: "\e267";
}
.flt-person-swap:before {
  content: "\e268";
}
.flt-person-voice:before {
  content: "\e269";
}
.flt-phone:before {
  content: "\e26a";
}
.flt-phone-add-new-app:before {
  content: "\e26b";
}
.flt-phone-desktop:before {
  content: "\e26c";
}
.flt-phone-error:before {
  content: "\e26d";
}
.flt-phone-home-lock:before {
  content: "\e26e";
}
.flt-phone-laptop:before {
  content: "\e26f";
}
.flt-phone-link-setup:before {
  content: "\e270";
}
.flt-phone-mobile:before {
  content: "\e271";
}
.flt-phone-page-header:before {
  content: "\e272";
}
.flt-phone-pagination:before {
  content: "\e273";
}
.flt-phone-screen-time:before {
  content: "\e274";
}
.flt-phone-shake:before {
  content: "\e275";
}
.flt-phone-status-bar:before {
  content: "\e276";
}
.flt-phone-tablet:before {
  content: "\e277";
}
.flt-phone-to-pc:before {
  content: "\e278";
}
.flt-phone-update:before {
  content: "\e279";
}
.flt-phone-vertical-scroll:before {
  content: "\e27a";
}
.flt-phone-vibrate:before {
  content: "\e27b";
}
.flt-photo-filter:before {
  content: "\e27c";
}
.flt-picture-in-picture:before {
  content: "\e27d";
}
.flt-pin:before {
  content: "\e27e";
}
.flt-pin-off:before {
  content: "\e27f";
}
.flt-play:before {
  content: "\e280";
}
.flt-play-circle:before {
  content: "\e281";
}
.flt-plug-disconnected:before {
  content: "\e282";
}
.flt-point-scan:before {
  content: "\e283";
}
.flt-poll:before {
  content: "\e284";
}
.flt-power:before {
  content: "\e285";
}
.flt-predictions:before {
  content: "\e286";
}
.flt-premium:before {
  content: "\e287";
}
.flt-presence-available:before {
  content: "\e288";
}
.flt-presence-away:before {
  content: "\e289";
}
.flt-presence-blocked:before {
  content: "\e28a";
}
.flt-presence-busy:before {
  content: "\e28b";
}
.flt-presence-dnd:before {
  content: "\e28c";
}
.flt-presence-offline:before {
  content: "\e28d";
}
.flt-presence-oof:before {
  content: "\e28e";
}
.flt-presence-unknown:before {
  content: "\e28f";
}
.flt-presenter:before {
  content: "\e290";
}
.flt-presenter-off:before {
  content: "\e291";
}
.flt-preview-link:before {
  content: "\e292";
}
.flt-previous:before {
  content: "\e293";
}
.flt-print:before {
  content: "\e294";
}
.flt-prohibited:before {
  content: "\e295";
}
.flt-proofread-language:before {
  content: "\e296";
}
.flt-protocol-handler:before {
  content: "\e297";
}
.flt-qr-code:before {
  content: "\e298";
}
.flt-question:before {
  content: "\e299";
}
.flt-question-circle:before {
  content: "\e29a";
}
.flt-quiz-new:before {
  content: "\e29b";
}
.flt-radio-button:before {
  content: "\e29c";
}
.flt-rating-mature:before {
  content: "\e29d";
}
.flt-read-aloud:before {
  content: "\e29e";
}
.flt-reading-list:before {
  content: "\e29f";
}
.flt-reading-list-add:before {
  content: "\e2a0";
}
.flt-reading-mode:before {
  content: "\e2a1";
}
.flt-reading-mode-mobile:before {
  content: "\e2a2";
}
.flt-read-only:before {
  content: "\e2a3";
}
.flt-recommended:before {
  content: "\e2a4";
}
.flt-record:before {
  content: "\e2a5";
}
.flt-remove:before {
  content: "\e2a6";
}
.flt-remove-recent:before {
  content: "\e2a7";
}
.flt-rename:before {
  content: "\e2a8";
}
.flt-re-order:before {
  content: "\e2a9";
}
.flt-re-order-dots:before {
  content: "\e2aa";
}
.flt-resize:before {
  content: "\e2ab";
}
.flt-resize-image:before {
  content: "\e2ac";
}
.flt-resize-table:before {
  content: "\e2ad";
}
.flt-resize-video:before {
  content: "\e2ae";
}
.flt-restore:before {
  content: "\e2af";
}
.flt-reward:before {
  content: "\e2b0";
}
.flt-rewind:before {
  content: "\e2b1";
}
.flt-rocket:before {
  content: "\e2b2";
}
.flt-router:before {
  content: "\e2b3";
}
.flt-row-triple:before {
  content: "\e2b4";
}
.flt-ruler:before {
  content: "\e2b5";
}
.flt-run:before {
  content: "\e2b6";
}
.flt-save:before {
  content: "\e2b7";
}
.flt-save-as:before {
  content: "\e2b8";
}
.flt-save-copy:before {
  content: "\e2b9";
}
.flt-savings:before {
  content: "\e2ba";
}
.flt-scale-fill:before {
  content: "\e2bb";
}
.flt-scale-fit:before {
  content: "\e2bc";
}
.flt-scan:before {
  content: "\e2bd";
}
.flt-scratchpad:before {
  content: "\e2be";
}
.flt-screenshot:before {
  content: "\e2bf";
}
.flt-search:before {
  content: "\e2c0";
}
.flt-search-info:before {
  content: "\e2c1";
}
.flt-search-square:before {
  content: "\e2c2";
}
.flt-select-all:before {
  content: "\e2c3";
}
.flt-select-all-off:before {
  content: "\e2c4";
}
.flt-select-object:before {
  content: "\e2c5";
}
.flt-send:before {
  content: "\e2c6";
}
.flt-send-clock:before {
  content: "\e2c7";
}
.flt-send-copy:before {
  content: "\e2c8";
}
.flt-send-logging:before {
  content: "\e2c9";
}
.flt-send-to-back:before {
  content: "\e2ca";
}
.flt-serial-port:before {
  content: "\e2cb";
}
.flt-service-bell:before {
  content: "\e2cc";
}
.flt-settings:before {
  content: "\e2cd";
}
.flt-set-top-stack:before {
  content: "\e2ce";
}
.flt-shapes:before {
  content: "\e2cf";
}
.flt-share:before {
  content: "\e2d0";
}
.flt-share-android:before {
  content: "\e2d1";
}
.flt-share-close-tray:before {
  content: "\e2d2";
}
.flt-share-desktop:before {
  content: "\e2d3";
}
.flt-share-ios:before {
  content: "\e2d4";
}
.flt-share-screen:before {
  content: "\e2d5";
}
.flt-share-stop:before {
  content: "\e2d6";
}
.flt-shield:before {
  content: "\e2d7";
}
.flt-shield-dismiss:before {
  content: "\e2d8";
}
.flt-shield-error:before {
  content: "\e2d9";
}
.flt-shield-keyhole:before {
  content: "\e2da";
}
.flt-shield-prohibited:before {
  content: "\e2db";
}
.flt-shifts:before {
  content: "\e2dc";
}
.flt-shifts-24h:before {
  content: "\e2dd";
}
.flt-shifts-30-minutes:before {
  content: "\e2de";
}
.flt-shifts-activity:before {
  content: "\e2df";
}
.flt-shifts-add:before {
  content: "\e2e0";
}
.flt-shifts-approve:before {
  content: "\e2e1";
}
.flt-shifts-availability:before {
  content: "\e2e2";
}
.flt-shifts-deny:before {
  content: "\e2e3";
}
.flt-shifts-open:before {
  content: "\e2e4";
}
.flt-shifts-pending:before {
  content: "\e2e5";
}
.flt-shifts-team:before {
  content: "\e2e6";
}
.flt-ship:before {
  content: "\e2e7";
}
.flt-signature:before {
  content: "\e2e8";
}
.flt-signed:before {
  content: "\e2e9";
}
.flt-sign-out:before {
  content: "\e2ea";
}
.flt-sim:before {
  content: "\e2eb";
}
.flt-sleep:before {
  content: "\e2ec";
}
.flt-slide-add:before {
  content: "\e2ed";
}
.flt-slide-design:before {
  content: "\e2ee";
}
.flt-slide-hide:before {
  content: "\e2ef";
}
.flt-slide-layout:before {
  content: "\e2f0";
}
.flt-slide-microphone:before {
  content: "\e2f1";
}
.flt-slide-text:before {
  content: "\e2f2";
}
.flt-slow-mode:before {
  content: "\e2f3";
}
.flt-small:before {
  content: "\e2f4";
}
.flt-snooze:before {
  content: "\e2f5";
}
.flt-sound-source:before {
  content: "\e2f6";
}
.flt-spacebar:before {
  content: "\e2f7";
}
.flt-speaker:before {
  content: "\e2f8";
}
.flt-speaker-0:before {
  content: "\e2f9";
}
.flt-speaker-1:before {
  content: "\e2fa";
}
.flt-speaker-bluetooth:before {
  content: "\e2fb";
}
.flt-speaker-edit:before {
  content: "\e2fc";
}
.flt-speaker-none:before {
  content: "\e2fd";
}
.flt-speaker-off:before {
  content: "\e2fe";
}
.flt-speaker-settings:before {
  content: "\e2ff";
}
.flt-spinner-ios:before {
  content: "\e300";
}
.flt-sports:before {
  content: "\e301";
}
.flt-star:before {
  content: "\e302";
}
.flt-star-add:before {
  content: "\e303";
}
.flt-star-arrow-right:before {
  content: "\e304";
}
.flt-star-arrow-right-start:before {
  content: "\e305";
}
.flt-star-emphasis:before {
  content: "\e306";
}
.flt-star-half:before {
  content: "\e307";
}
.flt-star-off:before {
  content: "\e308";
}
.flt-star-one-quarter:before {
  content: "\e309";
}
.flt-star-prohibited:before {
  content: "\e30a";
}
.flt-star-settings:before {
  content: "\e30b";
}
.flt-star-three-quarter:before {
  content: "\e30c";
}
.flt-status:before {
  content: "\e30d";
}
.flt-stethoscope:before {
  content: "\e30e";
}
.flt-sticker:before {
  content: "\e30f";
}
.flt-sticker-add:before {
  content: "\e310";
}
.flt-stop:before {
  content: "\e311";
}
.flt-storage:before {
  content: "\e312";
}
.flt-store:before {
  content: "\e313";
}
.flt-store-microsoft:before {
  content: "\e314";
}
.flt-style-guide:before {
  content: "\e315";
}
.flt-sub-grid:before {
  content: "\e316";
}
.flt-subway:before {
  content: "\e317";
}
.flt-suggestion:before {
  content: "\e318";
}
.flt-surface-earbuds:before {
  content: "\e319";
}
.flt-surface-hub:before {
  content: "\e31a";
}
.flt-swipe-down:before {
  content: "\e31b";
}
.flt-swipe-right:before {
  content: "\e31c";
}
.flt-swipe-up:before {
  content: "\e31d";
}
.flt-symbols:before {
  content: "\e31e";
}
.flt-sync-off:before {
  content: "\e31f";
}
.flt-system:before {
  content: "\e320";
}
.flt-tab:before {
  content: "\e321";
}
.flt-tab-desktop:before {
  content: "\e322";
}
.flt-tab-desktop-arrow-clockwise:before {
  content: "\e323";
}
.flt-tab-desktop-clock:before {
  content: "\e324";
}
.flt-tab-desktop-copy:before {
  content: "\e325";
}
.flt-tab-desktop-image:before {
  content: "\e326";
}
.flt-tab-desktop-multiple:before {
  content: "\e327";
}
.flt-tab-desktop-new-page:before {
  content: "\e328";
}
.flt-tab-in-private:before {
  content: "\e329";
}
.flt-tab-inprivate-account:before {
  content: "\e32a";
}
.flt-table:before {
  content: "\e32b";
}
.flt-table-add:before {
  content: "\e32c";
}
.flt-table-cells-merge:before {
  content: "\e32d";
}
.flt-table-cells-split:before {
  content: "\e32e";
}
.flt-table-column-delete:before {
  content: "\e32f";
}
.flt-table-column-insert:before {
  content: "\e330";
}
.flt-table-column-resize:before {
  content: "\e331";
}
.flt-table-delete:before {
  content: "\e332";
}
.flt-table-edit:before {
  content: "\e333";
}
.flt-table-freeze:before {
  content: "\e334";
}
.flt-table-freeze-column:before {
  content: "\e335";
}
.flt-table-freeze-row:before {
  content: "\e336";
}
.flt-table-insert-down:before {
  content: "\e337";
}
.flt-table-insert-left:before {
  content: "\e338";
}
.flt-table-insert-right:before {
  content: "\e339";
}
.flt-table-insert-up:before {
  content: "\e33a";
}
.flt-table-move-down:before {
  content: "\e33b";
}
.flt-table-move-left:before {
  content: "\e33c";
}
.flt-table-move-right:before {
  content: "\e33d";
}
.flt-table-move-up:before {
  content: "\e33e";
}
.flt-table-row-delete:before {
  content: "\e33f";
}
.flt-table-row-insert:before {
  content: "\e340";
}
.flt-table-row-resize:before {
  content: "\e341";
}
.flt-table-settings:before {
  content: "\e342";
}
.flt-table-switch:before {
  content: "\e343";
}
.flt-tablet:before {
  content: "\e344";
}
.flt-tab-new:before {
  content: "\e345";
}
.flt-tabs:before {
  content: "\e346";
}
.flt-tab-sweep:before {
  content: "\e347";
}
.flt-tab-tracking-prevention:before {
  content: "\e348";
}
.flt-tag:before {
  content: "\e349";
}
.flt-tap-double:before {
  content: "\e34a";
}
.flt-tap-single:before {
  content: "\e34b";
}
.flt-target:before {
  content: "\e34c";
}
.flt-target-edit:before {
  content: "\e34d";
}
.flt-task-list:before {
  content: "\e34e";
}
.flt-task-list-add:before {
  content: "\e34f";
}
.flt-tasks-app:before {
  content: "\e350";
}
.flt-team-add:before {
  content: "\e351";
}
.flt-team-delete:before {
  content: "\e352";
}
.flt-teddy:before {
  content: "\e353";
}
.flt-temperature:before {
  content: "\e354";
}
.flt-tent:before {
  content: "\e355";
}
.flt-test-call:before {
  content: "\e356";
}
.flt-text:before {
  content: "\e357";
}
.flt-text-add:before {
  content: "\e358";
}
.flt-text-add-space-after:before {
  content: "\e359";
}
.flt-text-add-space-before:before {
  content: "\e35a";
}
.flt-text-align-center:before {
  content: "\e35b";
}
.flt-text-align-distributed:before {
  content: "\e35c";
}
.flt-text-align-justify:before {
  content: "\e35d";
}
.flt-text-align-left:before {
  content: "\e35e";
}
.flt-text-align-right:before {
  content: "\e35f";
}
.flt-text-asterisk:before {
  content: "\e360";
}
.flt-text-bold:before {
  content: "\e361";
}
.flt-textbox:before {
  content: "\e362";
}
.flt-textbox-align:before {
  content: "\e363";
}
.flt-textbox-align-bottom:before {
  content: "\e364";
}
.flt-textbox-align-middle:before {
  content: "\e365";
}
.flt-textbox-align-top:before {
  content: "\e366";
}
.flt-textbox-vertical:before {
  content: "\e367";
}
.flt-text-bullet-list:before {
  content: "\e368";
}
.flt-text-bullet-list-add:before {
  content: "\e369";
}
.flt-text-bullet-list-square:before {
  content: "\e36a";
}
.flt-text-bullet-list-square-warning:before {
  content: "\e36b";
}
.flt-text-bullet-list-tree:before {
  content: "\e36c";
}
.flt-text-change-accept:before {
  content: "\e36d";
}
.flt-text-change-case:before {
  content: "\e36e";
}
.flt-text-change-next:before {
  content: "\e36f";
}
.flt-text-change-previous:before {
  content: "\e370";
}
.flt-text-change-reject:before {
  content: "\e371";
}
.flt-text-change-settings:before {
  content: "\e372";
}
.flt-text-clear-formatting:before {
  content: "\e373";
}
.flt-text-collapse:before {
  content: "\e374";
}
.flt-text-color:before {
  content: "\e375";
}
.flt-text-column-one:before {
  content: "\e376";
}
.flt-text-column-three:before {
  content: "\e377";
}
.flt-text-column-two:before {
  content: "\e378";
}
.flt-text-column-two-left:before {
  content: "\e379";
}
.flt-text-column-two-right:before {
  content: "\e37a";
}
.flt-text-description:before {
  content: "\e37b";
}
.flt-text-direction:before {
  content: "\e37c";
}
.flt-text-direction-horizontal-ltr:before {
  content: "\e37d";
}
.flt-text-direction-rotate-90:before {
  content: "\e37e";
}
.flt-text-direction-rotate-270:before {
  content: "\e37f";
}
.flt-text-direction-rotate-270-ac:before {
  content: "\e380";
}
.flt-text-direction-vertical:before {
  content: "\e381";
}
.flt-text-edit-style:before {
  content: "\e382";
}
.flt-text-effects:before {
  content: "\e383";
}
.flt-text-expand:before {
  content: "\e384";
}
.flt-text-field:before {
  content: "\e385";
}
.flt-text-first-line:before {
  content: "\e386";
}
.flt-text-font:before {
  content: "\e387";
}
.flt-text-font-size:before {
  content: "\e388";
}
.flt-text-footnote:before {
  content: "\e389";
}
.flt-text-grammar-options:before {
  content: "\e38a";
}
.flt-text-hanging:before {
  content: "\e38b";
}
.flt-text-header-1:before {
  content: "\e38c";
}
.flt-text-header-2:before {
  content: "\e38d";
}
.flt-text-header-3:before {
  content: "\e38e";
}
.flt-text-indent-decrease:before {
  content: "\e38f";
}
.flt-text-indent-increase:before {
  content: "\e390";
}
.flt-text-italic:before {
  content: "\e391";
}
.flt-text-line-spacing:before {
  content: "\e392";
}
.flt-text-number-format:before {
  content: "\e393";
}
.flt-text-number-list-ltr:before {
  content: "\e394";
}
.flt-text-number-list-rtl:before {
  content: "\e395";
}
.flt-text-paragraph-settings:before {
  content: "\e396";
}
.flt-text-proofing-tools:before {
  content: "\e397";
}
.flt-text-quote:before {
  content: "\e398";
}
.flt-text-sort-ascending:before {
  content: "\e399";
}
.flt-text-sort-descending:before {
  content: "\e39a";
}
.flt-text-strikethrough:before {
  content: "\e39b";
}
.flt-text-subscript:before {
  content: "\e39c";
}
.flt-text-superscript:before {
  content: "\e39d";
}
.flt-text-underline:before {
  content: "\e39e";
}
.flt-text-word-count:before {
  content: "\e39f";
}
.flt-text-wrap:before {
  content: "\e3a0";
}
.flt-thinking:before {
  content: "\e3a1";
}
.flt-thumb-dislike:before {
  content: "\e3a2";
}
.flt-thumb-like:before {
  content: "\e3a3";
}
.flt-ticket:before {
  content: "\e3a4";
}
.flt-time-and-weather:before {
  content: "\e3a5";
}
.flt-timeline:before {
  content: "\e3a6";
}
.flt-time-picker:before {
  content: "\e3a7";
}
.flt-timer:before {
  content: "\e3a8";
}
.flt-timer-2:before {
  content: "\e3a9";
}
.flt-timer-10:before {
  content: "\e3aa";
}
.flt-timer-off:before {
  content: "\e3ab";
}
.flt-toggle-right:before {
  content: "\e3ac";
}
.flt-toolbox:before {
  content: "\e3ad";
}
.flt-top-speed:before {
  content: "\e3ae";
}
.flt-translate:before {
  content: "\e3af";
}
.flt-trophy:before {
  content: "\e3b0";
}
.flt-uninstall-app:before {
  content: "\e3b1";
}
.flt-unlock:before {
  content: "\e3b2";
}
.flt-upload:before {
  content: "\e3b3";
}
.flt-usb-port:before {
  content: "\e3b4";
}
.flt-usb-stick:before {
  content: "\e3b5";
}
.flt-vault:before {
  content: "\e3b6";
}
.flt-vehicle-bicycle:before {
  content: "\e3b7";
}
.flt-vehicle-bus:before {
  content: "\e3b8";
}
.flt-vehicle-cab:before {
  content: "\e3b9";
}
.flt-vehicle-car:before {
  content: "\e3ba";
}
.flt-vehicle-truck:before {
  content: "\e3bb";
}
.flt-video:before {
  content: "\e3bc";
}
.flt-video-background-effect:before {
  content: "\e3bd";
}
.flt-video-clip:before {
  content: "\e3be";
}
.flt-video-off:before {
  content: "\e3bf";
}
.flt-video-person:before {
  content: "\e3c0";
}
.flt-video-person-off:before {
  content: "\e3c1";
}
.flt-video-person-star:before {
  content: "\e3c2";
}
.flt-video-play-pause:before {
  content: "\e3c3";
}
.flt-video-security:before {
  content: "\e3c4";
}
.flt-video-switch:before {
  content: "\e3c5";
}
.flt-view-desktop:before {
  content: "\e3c6";
}
.flt-view-desktop-mobile:before {
  content: "\e3c7";
}
.flt-visual-search:before {
  content: "\e3c8";
}
.flt-voicemail:before {
  content: "\e3c9";
}
.flt-walkie-talkie:before {
  content: "\e3ca";
}
.flt-wallpaper:before {
  content: "\e3cb";
}
.flt-warning:before {
  content: "\e3cc";
}
.flt-weather-blowing-snow:before {
  content: "\e3cd";
}
.flt-weather-cloudy:before {
  content: "\e3ce";
}
.flt-weather-duststorm:before {
  content: "\e3cf";
}
.flt-weather-fog:before {
  content: "\e3d0";
}
.flt-weather-hail-day:before {
  content: "\e3d1";
}
.flt-weather-hail-night:before {
  content: "\e3d2";
}
.flt-weather-moon:before {
  content: "\e3d3";
}
.flt-weather-partly-cloudy-day:before {
  content: "\e3d4";
}
.flt-weather-partly-cloudy-night:before {
  content: "\e3d5";
}
.flt-weather-rain:before {
  content: "\e3d6";
}
.flt-weather-rain-showers-day:before {
  content: "\e3d7";
}
.flt-weather-rain-showers-night:before {
  content: "\e3d8";
}
.flt-weather-rain-snow:before {
  content: "\e3d9";
}
.flt-weather-snow:before {
  content: "\e3da";
}
.flt-weather-snowflake:before {
  content: "\e3db";
}
.flt-weather-snow-shower-day:before {
  content: "\e3dc";
}
.flt-weather-snow-shower-night:before {
  content: "\e3dd";
}
.flt-weather-squalls:before {
  content: "\e3de";
}
.flt-weather-sunny:before {
  content: "\e3df";
}
.flt-weather-thunderstorm:before {
  content: "\e3e0";
}
.flt-web-asset:before {
  content: "\e3e1";
}
.flt-weekend:before {
  content: "\e3e2";
}
.flt-whiteboard:before {
  content: "\e3e3";
}
.flt-wifi-1:before {
  content: "\e3e4";
}
.flt-wifi-2:before {
  content: "\e3e5";
}
.flt-wifi-3:before {
  content: "\e3e6";
}
.flt-wifi-4:before {
  content: "\e3e7";
}
.flt-wifi-protected:before {
  content: "\e3e8";
}
.flt-window:before {
  content: "\e3e9";
}
.flt-window-ad:before {
  content: "\e3ea";
}
.flt-window-dev-tools:before {
  content: "\e3eb";
}
.flt-window-inprivate:before {
  content: "\e3ec";
}
.flt-window-inprivate-account:before {
  content: "\e3ed";
}
.flt-window-multiple:before {
  content: "\e3ee";
}
.flt-window-new:before {
  content: "\e3ef";
}
.flt-window-shield:before {
  content: "\e3f0";
}
.flt-wrench:before {
  content: "\e3f1";
}
.flt-xbox-console:before {
  content: "\e3f2";
}
.flt-zoom-in:before {
  content: "\e3f3";
}
.flt-zoom-out:before {
  content: "\e3f4";
}
