@font-face {
  font-family: 'FluentUI-Regular-Monochrome';
  src:  url('../fonts/FluentUI-Regular-Monochrome.eot?n75ocf');
  src:  url('../fonts/FluentUI-Regular-Monochrome.eot?n75ocf#iefix') format('embedded-opentype'),
    url('../fonts/FluentUI-Regular-Monochrome.ttf?n75ocf') format('truetype'),
    url('../fonts/FluentUI-Regular-Monochrome.woff?n75ocf') format('woff'),
    url('../fonts/FluentUI-Regular-Monochrome.svg?n75ocf#FluentUI-Regular-Monochrome') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.flt-rm:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FluentUI-Regular-Monochrome' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Icons */
.flt-rm-accessibility:before {
  content: "\e000";
}
.flt-rm-access-time:before {
  content: "\e001";
}
.flt-rm-activity:before {
  content: "\e002";
}
.flt-rm-add:before {
  content: "\e003";
}
.flt-rm-add-circle:before {
  content: "\e004";
}
.flt-rm-airplane:before {
  content: "\e005";
}
.flt-rm-airplane-take-off:before {
  content: "\e006";
}
.flt-rm-alert:before {
  content: "\e007";
}
.flt-rm-alert-off:before {
  content: "\e008";
}
.flt-rm-alert-on:before {
  content: "\e009";
}
.flt-rm-alert-snooze:before {
  content: "\e00a";
}
.flt-rm-alert-urgent:before {
  content: "\e00b";
}
.flt-rm-animal-dog:before {
  content: "\e00c";
}
.flt-rm-app-folder:before {
  content: "\e00d";
}
.flt-rm-app-generic:before {
  content: "\e00e";
}
.flt-rm-app-recent:before {
  content: "\e00f";
}
.flt-rm-approvals-app:before {
  content: "\e010";
}
.flt-rm-apps:before {
  content: "\e011";
}
.flt-rm-apps-add-in:before {
  content: "\e012";
}
.flt-rm-apps-list:before {
  content: "\e013";
}
.flt-rm-app-span:before {
  content: "\e014";
}
.flt-rm-app-store:before {
  content: "\e015";
}
.flt-rm-app-title:before {
  content: "\e016";
}
.flt-rm-app-unspan:before {
  content: "\e017";
}
.flt-rm-archive:before {
  content: "\e018";
}
.flt-rm-arrow-clockwise:before {
  content: "\e019";
}
.flt-rm-arrow-counterclockwise:before {
  content: "\e01a";
}
.flt-rm-arrow-curve-right:before {
  content: "\e01b";
}
.flt-rm-arrow-down:before {
  content: "\e01c";
}
.flt-rm-arrow-down-left:before {
  content: "\e01d";
}
.flt-rm-arrow-download:before {
  content: "\e01e";
}
.flt-rm-arrow-down-right-circle:before {
  content: "\e01f";
}
.flt-rm-arrow-down-square:before {
  content: "\e020";
}
.flt-rm-arrow-enter:before {
  content: "\e021";
}
.flt-rm-arrow-expand:before {
  content: "\e022";
}
.flt-rm-arrow-export:before {
  content: "\e023";
}
.flt-rm-arrow-forward:before {
  content: "\e024";
}
.flt-rm-arrow-import:before {
  content: "\e025";
}
.flt-rm-arrow-left:before {
  content: "\e026";
}
.flt-rm-arrow-maximize:before {
  content: "\e027";
}
.flt-rm-arrow-maximize-vertical:before {
  content: "\e028";
}
.flt-rm-arrow-minimize:before {
  content: "\e029";
}
.flt-rm-arrow-minimize-vertical:before {
  content: "\e02a";
}
.flt-rm-arrow-move:before {
  content: "\e02b";
}
.flt-rm-arrow-next:before {
  content: "\e02c";
}
.flt-rm-arrow-previous:before {
  content: "\e02d";
}
.flt-rm-arrow-redo:before {
  content: "\e02e";
}
.flt-rm-arrow-repeat-all:before {
  content: "\e02f";
}
.flt-rm-arrow-repeat-all-off:before {
  content: "\e030";
}
.flt-rm-arrow-reply:before {
  content: "\e031";
}
.flt-rm-arrow-reply-all:before {
  content: "\e032";
}
.flt-rm-arrow-reply-down:before {
  content: "\e033";
}
.flt-rm-arrow-right:before {
  content: "\e034";
}
.flt-rm-arrow-right-circle:before {
  content: "\e035";
}
.flt-rm-arrow-rotate-clockwise:before {
  content: "\e036";
}
.flt-rm-arrow-rotate-counterclockwise:before {
  content: "\e037";
}
.flt-rm-arrow-rotate-icon:before {
  content: "\e038";
}
.flt-rm-arrows-bidirectional:before {
  content: "\e039";
}
.flt-rm-arrow-sort:before {
  content: "\e03a";
}
.flt-rm-arrow-swap:before {
  content: "\e03b";
}
.flt-rm-arrow-sync:before {
  content: "\e03c";
}
.flt-rm-arrow-sync-circle:before {
  content: "\e03d";
}
.flt-rm-arrow-sync-off:before {
  content: "\e03e";
}
.flt-rm-arrow-trending:before {
  content: "\e03f";
}
.flt-rm-arrow-undo:before {
  content: "\e040";
}
.flt-rm-arrow-up:before {
  content: "\e041";
}
.flt-rm-arrow-up-circle:before {
  content: "\e042";
}
.flt-rm-arrow-up-left:before {
  content: "\e043";
}
.flt-rm-arrow-up-left-circle:before {
  content: "\e044";
}
.flt-rm-arrow-upload:before {
  content: "\e045";
}
.flt-rm-arrow-up-right:before {
  content: "\e046";
}
.flt-rm-assignments:before {
  content: "\e047";
}
.flt-rm-attach:before {
  content: "\e048";
}
.flt-rm-attach-with-text:before {
  content: "\e049";
}
.flt-rm-autocorrect:before {
  content: "\e04a";
}
.flt-rm-autosum:before {
  content: "\e04b";
}
.flt-rm-backspace:before {
  content: "\e04c";
}
.flt-rm-backward:before {
  content: "\e04d";
}
.flt-rm-badge:before {
  content: "\e04e";
}
.flt-rm-balloon:before {
  content: "\e04f";
}
.flt-rm-bank:before {
  content: "\e050";
}
.flt-rm-battery-0:before {
  content: "\e051";
}
.flt-rm-battery-1:before {
  content: "\e052";
}
.flt-rm-battery-2:before {
  content: "\e053";
}
.flt-rm-battery-3:before {
  content: "\e054";
}
.flt-rm-battery-4:before {
  content: "\e055";
}
.flt-rm-battery-5:before {
  content: "\e056";
}
.flt-rm-battery-6:before {
  content: "\e057";
}
.flt-rm-battery-7:before {
  content: "\e058";
}
.flt-rm-battery-8:before {
  content: "\e059";
}
.flt-rm-battery-9:before {
  content: "\e05a";
}
.flt-rm-battery-charge:before {
  content: "\e05b";
}
.flt-rm-battery-full:before {
  content: "\e05c";
}
.flt-rm-battery-saver:before {
  content: "\e05d";
}
.flt-rm-battery-warning:before {
  content: "\e05e";
}
.flt-rm-beaker:before {
  content: "\e05f";
}
.flt-rm-bed:before {
  content: "\e060";
}
.flt-rm-block:before {
  content: "\e061";
}
.flt-rm-bluetooth:before {
  content: "\e062";
}
.flt-rm-bluetooth-connected:before {
  content: "\e063";
}
.flt-rm-bluetooth-disabled:before {
  content: "\e064";
}
.flt-rm-bluetooth-searching:before {
  content: "\e065";
}
.flt-rm-board:before {
  content: "\e066";
}
.flt-rm-book-formula-compatibility:before {
  content: "\e067";
}
.flt-rm-book-formula-database:before {
  content: "\e068";
}
.flt-rm-book-formula-date:before {
  content: "\e069";
}
.flt-rm-book-formula-engineering:before {
  content: "\e06a";
}
.flt-rm-book-formula-financial:before {
  content: "\e06b";
}
.flt-rm-book-formula-information:before {
  content: "\e06c";
}
.flt-rm-book-formula-logical:before {
  content: "\e06d";
}
.flt-rm-book-formula-lookup:before {
  content: "\e06e";
}
.flt-rm-book-formula-math:before {
  content: "\e06f";
}
.flt-rm-book-formula-recent:before {
  content: "\e070";
}
.flt-rm-book-formula-statistics:before {
  content: "\e071";
}
.flt-rm-book-formula-text:before {
  content: "\e072";
}
.flt-rm-book-globe:before {
  content: "\e073";
}
.flt-rm-bookmark:before {
  content: "\e074";
}
.flt-rm-bookmark-off:before {
  content: "\e075";
}
.flt-rm-book-number:before {
  content: "\e076";
}
.flt-rm-bot:before {
  content: "\e077";
}
.flt-rm-bot-add:before {
  content: "\e078";
}
.flt-rm-branch:before {
  content: "\e079";
}
.flt-rm-briefcase:before {
  content: "\e07a";
}
.flt-rm-bring-to-front:before {
  content: "\e07b";
}
.flt-rm-broad-activity-feed:before {
  content: "\e07c";
}
.flt-rm-broom:before {
  content: "\e07d";
}
.flt-rm-bug-report:before {
  content: "\e07e";
}
.flt-rm-building:before {
  content: "\e07f";
}
.flt-rm-building-1:before {
  content: "\e080";
}
.flt-rm-building-2:before {
  content: "\e081";
}
.flt-rm-building-retail:before {
  content: "\e082";
}
.flt-rm-calculator:before {
  content: "\e083";
}
.flt-rm-calendar:before {
  content: "\e084";
}
.flt-rm-calendar-3-day:before {
  content: "\e085";
}
.flt-rm-calendar-add:before {
  content: "\e086";
}
.flt-rm-calendar-agenda:before {
  content: "\e087";
}
.flt-rm-calendar-arrow-right:before {
  content: "\e088";
}
.flt-rm-calendar-cancel:before {
  content: "\e089";
}
.flt-rm-calendar-checkmark:before {
  content: "\e08a";
}
.flt-rm-calendar-clock:before {
  content: "\e08b";
}
.flt-rm-calendar-date:before {
  content: "\e08c";
}
.flt-rm-calendar-day:before {
  content: "\e08d";
}
.flt-rm-calendar-empty:before {
  content: "\e08e";
}
.flt-rm-calendar-later:before {
  content: "\e08f";
}
.flt-rm-calendar-month:before {
  content: "\e090";
}
.flt-rm-calendar-multiple:before {
  content: "\e091";
}
.flt-rm-calendar-overdue:before {
  content: "\e092";
}
.flt-rm-calendar-person:before {
  content: "\e093";
}
.flt-rm-calendar-reply:before {
  content: "\e094";
}
.flt-rm-calendar-settings:before {
  content: "\e095";
}
.flt-rm-calendar-star:before {
  content: "\e096";
}
.flt-rm-calendar-sync:before {
  content: "\e097";
}
.flt-rm-calendar-today:before {
  content: "\e098";
}
.flt-rm-calendar-week-numbers:before {
  content: "\e099";
}
.flt-rm-calendar-week-start:before {
  content: "\e09a";
}
.flt-rm-calendar-work-week:before {
  content: "\e09b";
}
.flt-rm-call-add:before {
  content: "\e09c";
}
.flt-rm-call-end:before {
  content: "\e09d";
}
.flt-rm-call-forward:before {
  content: "\e09e";
}
.flt-rm-calligraphy-pen:before {
  content: "\e09f";
}
.flt-rm-call-inbound:before {
  content: "\e0a0";
}
.flt-rm-call-missed:before {
  content: "\e0a1";
}
.flt-rm-call-outbound:before {
  content: "\e0a2";
}
.flt-rm-call-park:before {
  content: "\e0a3";
}
.flt-rm-camera:before {
  content: "\e0a4";
}
.flt-rm-camera-add:before {
  content: "\e0a5";
}
.flt-rm-camera-switch:before {
  content: "\e0a6";
}
.flt-rm-caret:before {
  content: "\e0a7";
}
.flt-rm-caret-down:before {
  content: "\e0a8";
}
.flt-rm-caret-left:before {
  content: "\e0a9";
}
.flt-rm-caret-right:before {
  content: "\e0aa";
}
.flt-rm-cart:before {
  content: "\e0ab";
}
.flt-rm-cast:before {
  content: "\e0ac";
}
.flt-rm-cellular-3g:before {
  content: "\e0ad";
}
.flt-rm-cellular-4g:before {
  content: "\e0ae";
}
.flt-rm-cellular-data-1:before {
  content: "\e0af";
}
.flt-rm-cellular-data-2:before {
  content: "\e0b0";
}
.flt-rm-cellular-data-3:before {
  content: "\e0b1";
}
.flt-rm-cellular-data-4:before {
  content: "\e0b2";
}
.flt-rm-cellular-data-5:before {
  content: "\e0b3";
}
.flt-rm-cellular-data-off:before {
  content: "\e0b4";
}
.flt-rm-cellular-off:before {
  content: "\e0b5";
}
.flt-rm-cellular-unavailable:before {
  content: "\e0b6";
}
.flt-rm-certificate:before {
  content: "\e0b7";
}
.flt-rm-channel:before {
  content: "\e0b8";
}
.flt-rm-channel-follow:before {
  content: "\e0b9";
}
.flt-rm-channel-notifications:before {
  content: "\e0ba";
}
.flt-rm-channel-unfollow:before {
  content: "\e0bb";
}
.flt-rm-chat:before {
  content: "\e0bc";
}
.flt-rm-chat-bubbles-question:before {
  content: "\e0bd";
}
.flt-rm-chat-help:before {
  content: "\e0be";
}
.flt-rm-chat-off:before {
  content: "\e0bf";
}
.flt-rm-chat-warning:before {
  content: "\e0c0";
}
.flt-rm-checkbox-checked:before {
  content: "\e0c1";
}
.flt-rm-checkbox-unchecked:before {
  content: "\e0c2";
}
.flt-rm-checkmark:before {
  content: "\e0c3";
}
.flt-rm-checkmark-circle:before {
  content: "\e0c4";
}
.flt-rm-checkmark-lock:before {
  content: "\e0c5";
}
.flt-rm-checkmark-square:before {
  content: "\e0c6";
}
.flt-rm-checkmark-underline-circle:before {
  content: "\e0c7";
}
.flt-rm-chevron-down:before {
  content: "\e0c8";
}
.flt-rm-chevron-down-circle:before {
  content: "\e0c9";
}
.flt-rm-chevron-left:before {
  content: "\e0ca";
}
.flt-rm-chevron-right:before {
  content: "\e0cb";
}
.flt-rm-chevron-up:before {
  content: "\e0cc";
}
.flt-rm-circle:before {
  content: "\e0cd";
}
.flt-rm-circle-half-fill:before {
  content: "\e0ce";
}
.flt-rm-circle-line:before {
  content: "\e0cf";
}
.flt-rm-circle-small:before {
  content: "\e0d0";
}
.flt-rm-city:before {
  content: "\e0d1";
}
.flt-rm-class:before {
  content: "\e0d2";
}
.flt-rm-classification:before {
  content: "\e0d3";
}
.flt-rm-clear-formatting:before {
  content: "\e0d4";
}
.flt-rm-clipboard:before {
  content: "\e0d5";
}
.flt-rm-clipboard-code:before {
  content: "\e0d6";
}
.flt-rm-clipboard-letter:before {
  content: "\e0d7";
}
.flt-rm-clipboard-link:before {
  content: "\e0d8";
}
.flt-rm-clipboard-more:before {
  content: "\e0d9";
}
.flt-rm-clipboard-paste:before {
  content: "\e0da";
}
.flt-rm-clipboard-search:before {
  content: "\e0db";
}
.flt-rm-clipboard-text:before {
  content: "\e0dc";
}
.flt-rm-clock:before {
  content: "\e0dd";
}
.flt-rm-clock-alarm:before {
  content: "\e0de";
}
.flt-rm-closed-caption:before {
  content: "\e0df";
}
.flt-rm-cloud:before {
  content: "\e0e0";
}
.flt-rm-cloud-backup:before {
  content: "\e0e1";
}
.flt-rm-cloud-download:before {
  content: "\e0e2";
}
.flt-rm-cloud-off:before {
  content: "\e0e3";
}
.flt-rm-cloud-offline:before {
  content: "\e0e4";
}
.flt-rm-cloud-sync-complete:before {
  content: "\e0e5";
}
.flt-rm-code:before {
  content: "\e0e6";
}
.flt-rm-collections:before {
  content: "\e0e7";
}
.flt-rm-collections-add:before {
  content: "\e0e8";
}
.flt-rm-color:before {
  content: "\e0e9";
}
.flt-rm-color-background:before {
  content: "\e0ea";
}
.flt-rm-color-fill:before {
  content: "\e0eb";
}
.flt-rm-color-line:before {
  content: "\e0ec";
}
.flt-rm-column-triple:before {
  content: "\e0ed";
}
.flt-rm-comment:before {
  content: "\e0ee";
}
.flt-rm-comment-add:before {
  content: "\e0ef";
}
.flt-rm-comment-delete:before {
  content: "\e0f0";
}
.flt-rm-comment-mention:before {
  content: "\e0f1";
}
.flt-rm-comment-multiple:before {
  content: "\e0f2";
}
.flt-rm-comment-next:before {
  content: "\e0f3";
}
.flt-rm-comment-previous:before {
  content: "\e0f4";
}
.flt-rm-comment-resolve:before {
  content: "\e0f5";
}
.flt-rm-communication:before {
  content: "\e0f6";
}
.flt-rm-compass-northwest:before {
  content: "\e0f7";
}
.flt-rm-compose:before {
  content: "\e0f8";
}
.flt-rm-conference-room:before {
  content: "\e0f9";
}
.flt-rm-connector:before {
  content: "\e0fa";
}
.flt-rm-contact-card:before {
  content: "\e0fb";
}
.flt-rm-contact-card-group:before {
  content: "\e0fc";
}
.flt-rm-contacts:before {
  content: "\e0fd";
}
.flt-rm-content-settings:before {
  content: "\e0fe";
}
.flt-rm-convert-to-table:before {
  content: "\e0ff";
}
.flt-rm-convert-to-text:before {
  content: "\e100";
}
.flt-rm-cookies:before {
  content: "\e101";
}
.flt-rm-copy:before {
  content: "\e102";
}
.flt-rm-copy-image:before {
  content: "\e103";
}
.flt-rm-copy-link:before {
  content: "\e104";
}
.flt-rm-copy-move:before {
  content: "\e105";
}
.flt-rm-crop:before {
  content: "\e106";
}
.flt-rm-crop-interim:before {
  content: "\e107";
}
.flt-rm-crop-interim-off:before {
  content: "\e108";
}
.flt-rm-cube:before {
  content: "\e109";
}
.flt-rm-currency:before {
  content: "\e10a";
}
.flt-rm-cut:before {
  content: "\e10b";
}
.flt-rm-dark-theme:before {
  content: "\e10c";
}
.flt-rm-data-area:before {
  content: "\e10d";
}
.flt-rm-data-bar-horizontal:before {
  content: "\e10e";
}
.flt-rm-data-bar-vertical:before {
  content: "\e10f";
}
.flt-rm-data-funnel:before {
  content: "\e110";
}
.flt-rm-data-histogram:before {
  content: "\e111";
}
.flt-rm-data-line:before {
  content: "\e112";
}
.flt-rm-data-pie:before {
  content: "\e113";
}
.flt-rm-data-scatter:before {
  content: "\e114";
}
.flt-rm-data-sunburst:before {
  content: "\e115";
}
.flt-rm-data-treemap:before {
  content: "\e116";
}
.flt-rm-data-usage:before {
  content: "\e117";
}
.flt-rm-data-waterfall:before {
  content: "\e118";
}
.flt-rm-data-whisker:before {
  content: "\e119";
}
.flt-rm-delete:before {
  content: "\e11a";
}
.flt-rm-delete-forever:before {
  content: "\e11b";
}
.flt-rm-delete-off:before {
  content: "\e11c";
}
.flt-rm-dentist:before {
  content: "\e11d";
}
.flt-rm-design-ideas:before {
  content: "\e11e";
}
.flt-rm-desktop:before {
  content: "\e11f";
}
.flt-rm-developer-board:before {
  content: "\e120";
}
.flt-rm-device-eq:before {
  content: "\e121";
}
.flt-rm-dialpad:before {
  content: "\e122";
}
.flt-rm-dialpad-off:before {
  content: "\e123";
}
.flt-rm-dictionary:before {
  content: "\e124";
}
.flt-rm-dictionary-add:before {
  content: "\e125";
}
.flt-rm-directions:before {
  content: "\e126";
}
.flt-rm-dismiss:before {
  content: "\e127";
}
.flt-rm-dismiss-circle:before {
  content: "\e128";
}
.flt-rm-divider-short:before {
  content: "\e129";
}
.flt-rm-divider-tall:before {
  content: "\e12a";
}
.flt-rm-dock:before {
  content: "\e12b";
}
.flt-rm-dock-left:before {
  content: "\e12c";
}
.flt-rm-dock-row:before {
  content: "\e12d";
}
.flt-rm-doctor:before {
  content: "\e12e";
}
.flt-rm-document:before {
  content: "\e12f";
}
.flt-rm-document-autosave:before {
  content: "\e130";
}
.flt-rm-document-briefcase:before {
  content: "\e131";
}
.flt-rm-document-catch-up:before {
  content: "\e132";
}
.flt-rm-document-copy:before {
  content: "\e133";
}
.flt-rm-document-dismiss:before {
  content: "\e134";
}
.flt-rm-document-edit:before {
  content: "\e135";
}
.flt-rm-document-endnote:before {
  content: "\e136";
}
.flt-rm-document-error:before {
  content: "\e137";
}
.flt-rm-document-footer:before {
  content: "\e138";
}
.flt-rm-document-footer-remove:before {
  content: "\e139";
}
.flt-rm-document-header:before {
  content: "\e13a";
}
.flt-rm-document-header-footer:before {
  content: "\e13b";
}
.flt-rm-document-header-remove:before {
  content: "\e13c";
}
.flt-rm-document-landscape:before {
  content: "\e13d";
}
.flt-rm-document-margins:before {
  content: "\e13e";
}
.flt-rm-document-none:before {
  content: "\e13f";
}
.flt-rm-document-one-page:before {
  content: "\e140";
}
.flt-rm-document-page:before {
  content: "\e141";
}
.flt-rm-document-page-bottom-center:before {
  content: "\e142";
}
.flt-rm-document-page-bottom-left:before {
  content: "\e143";
}
.flt-rm-document-page-bottom-right:before {
  content: "\e144";
}
.flt-rm-document-page-break:before {
  content: "\e145";
}
.flt-rm-document-page-number:before {
  content: "\e146";
}
.flt-rm-document-page-top-center:before {
  content: "\e147";
}
.flt-rm-document-page-top-left:before {
  content: "\e148";
}
.flt-rm-document-page-top-right:before {
  content: "\e149";
}
.flt-rm-document-pdf:before {
  content: "\e14a";
}
.flt-rm-document-search:before {
  content: "\e14b";
}
.flt-rm-document-toolbox:before {
  content: "\e14c";
}
.flt-rm-document-top-center:before {
  content: "\e14d";
}
.flt-rm-document-top-left:before {
  content: "\e14e";
}
.flt-rm-document-top-right:before {
  content: "\e14f";
}
.flt-rm-document-unknown:before {
  content: "\e150";
}
.flt-rm-document-width:before {
  content: "\e151";
}
.flt-rm-double-swipe-down:before {
  content: "\e152";
}
.flt-rm-double-swipe-up:before {
  content: "\e153";
}
.flt-rm-double-tap-swipe-down:before {
  content: "\e154";
}
.flt-rm-double-tap-swipe-up:before {
  content: "\e155";
}
.flt-rm-drafts:before {
  content: "\e156";
}
.flt-rm-drag:before {
  content: "\e157";
}
.flt-rm-drink:before {
  content: "\e158";
}
.flt-rm-drink-beer:before {
  content: "\e159";
}
.flt-rm-drink-coffee:before {
  content: "\e15a";
}
.flt-rm-drink-margarita:before {
  content: "\e15b";
}
.flt-rm-dual-screen:before {
  content: "\e15c";
}
.flt-rm-dual-screen-add:before {
  content: "\e15d";
}
.flt-rm-dual-screen-arrow-right:before {
  content: "\e15e";
}
.flt-rm-dual-screen-clock:before {
  content: "\e15f";
}
.flt-rm-dual-screen-desktop:before {
  content: "\e160";
}
.flt-rm-dual-screen-error:before {
  content: "\e161";
}
.flt-rm-dual-screen-group:before {
  content: "\e162";
}
.flt-rm-dual-screen-header:before {
  content: "\e163";
}
.flt-rm-dual-screen-lock:before {
  content: "\e164";
}
.flt-rm-dual-screen-mirror:before {
  content: "\e165";
}
.flt-rm-dual-screen-pagination:before {
  content: "\e166";
}
.flt-rm-dual-screen-settings:before {
  content: "\e167";
}
.flt-rm-dual-screen-status-bar:before {
  content: "\e168";
}
.flt-rm-dual-screen-tablet:before {
  content: "\e169";
}
.flt-rm-dual-screen-update:before {
  content: "\e16a";
}
.flt-rm-dual-screen-vertical-scroll:before {
  content: "\e16b";
}
.flt-rm-dual-screen-vibrate:before {
  content: "\e16c";
}
.flt-rm-earth:before {
  content: "\e16d";
}
.flt-rm-edit:before {
  content: "\e16e";
}
.flt-rm-emoji:before {
  content: "\e16f";
}
.flt-rm-emoji-add:before {
  content: "\e170";
}
.flt-rm-emoji-angry:before {
  content: "\e171";
}
.flt-rm-emoji-laugh:before {
  content: "\e172";
}
.flt-rm-emoji-meh:before {
  content: "\e173";
}
.flt-rm-emoji-sad:before {
  content: "\e174";
}
.flt-rm-emoji-surprise:before {
  content: "\e175";
}
.flt-rm-erase:before {
  content: "\e176";
}
.flt-rm-eraser-tool:before {
  content: "\e177";
}
.flt-rm-error-circle:before {
  content: "\e178";
}
.flt-rm-export:before {
  content: "\e179";
}
.flt-rm-extended-dock:before {
  content: "\e17a";
}
.flt-rm-extension:before {
  content: "\e17b";
}
.flt-rm-eye-hide:before {
  content: "\e17c";
}
.flt-rm-eye-show:before {
  content: "\e17d";
}
.flt-rm-fast-acceleration:before {
  content: "\e17e";
}
.flt-rm-fast-forward:before {
  content: "\e17f";
}
.flt-rm-fast-mode:before {
  content: "\e180";
}
.flt-rm-favorites:before {
  content: "\e181";
}
.flt-rm-filter:before {
  content: "\e182";
}
.flt-rm-fingerprint:before {
  content: "\e183";
}
.flt-rm-flag:before {
  content: "\e184";
}
.flt-rm-flag-off:before {
  content: "\e185";
}
.flt-rm-flag-pride:before {
  content: "\e186";
}
.flt-rm-flash-auto:before {
  content: "\e18e";
}
.flt-rm-flashlight:before {
  content: "\e18f";
}
.flt-rm-flashlight-off:before {
  content: "\e190";
}
.flt-rm-flash-off:before {
  content: "\e191";
}
.flt-rm-flash-on:before {
  content: "\e192";
}
.flt-rm-folder:before {
  content: "\e193";
}
.flt-rm-folder-add:before {
  content: "\e194";
}
.flt-rm-folder-briefcase:before {
  content: "\e195";
}
.flt-rm-folder-junk:before {
  content: "\e196";
}
.flt-rm-folder-link:before {
  content: "\e197";
}
.flt-rm-folder-move:before {
  content: "\e198";
}
.flt-rm-folder-open:before {
  content: "\e199";
}
.flt-rm-folder-open-vertical:before {
  content: "\e19a";
}
.flt-rm-folder-public:before {
  content: "\e19b";
}
.flt-rm-folder-zip:before {
  content: "\e19c";
}
.flt-rm-font-decrease:before {
  content: "\e19d";
}
.flt-rm-font-increase:before {
  content: "\e19e";
}
.flt-rm-font-space-tracking-in:before {
  content: "\e19f";
}
.flt-rm-font-space-tracking-out:before {
  content: "\e1a0";
}
.flt-rm-food:before {
  content: "\e1a1";
}
.flt-rm-food-cake:before {
  content: "\e1a2";
}
.flt-rm-food-egg:before {
  content: "\e1a3";
}
.flt-rm-food-toast:before {
  content: "\e1a4";
}
.flt-rm-form-new:before {
  content: "\e1a5";
}
.flt-rm-forward:before {
  content: "\e1a6";
}
.flt-rm-fps-240:before {
  content: "\e1a7";
}
.flt-rm-fps-960:before {
  content: "\e1a8";
}
.flt-rm-full-screen-zoom:before {
  content: "\e1a9";
}
.flt-rm-gallery:before {
  content: "\e1aa";
}
.flt-rm-games:before {
  content: "\e1ab";
}
.flt-rm-gesture:before {
  content: "\e1ac";
}
.flt-rm-gif:before {
  content: "\e1ad";
}
.flt-rm-gift:before {
  content: "\e1ae";
}
.flt-rm-glance:before {
  content: "\e1af";
}
.flt-rm-glasses:before {
  content: "\e1b0";
}
.flt-rm-glasses-off:before {
  content: "\e1b1";
}
.flt-rm-globe:before {
  content: "\e1b2";
}
.flt-rm-globe-add:before {
  content: "\e1b3";
}
.flt-rm-globe-clock:before {
  content: "\e1b4";
}
.flt-rm-globe-desktop:before {
  content: "\e1b5";
}
.flt-rm-globe-location:before {
  content: "\e1b6";
}
.flt-rm-globe-search:before {
  content: "\e1b7";
}
.flt-rm-globe-video:before {
  content: "\e1b8";
}
.flt-rm-grid:before {
  content: "\e1b9";
}
.flt-rm-group:before {
  content: "\e1ba";
}
.flt-rm-group-list:before {
  content: "\e1bb";
}
.flt-rm-guest:before {
  content: "\e1bc";
}
.flt-rm-guest-add:before {
  content: "\e1bd";
}
.flt-rm-hand-raise:before {
  content: "\e1be";
}
.flt-rm-handshake:before {
  content: "\e1bf";
}
.flt-rm-hdr:before {
  content: "\e1c0";
}
.flt-rm-headphones:before {
  content: "\e1c1";
}
.flt-rm-headset:before {
  content: "\e1c2";
}
.flt-rm-headset-vr:before {
  content: "\e1c3";
}
.flt-rm-heart:before {
  content: "\e1c4";
}
.flt-rm-highlight:before {
  content: "\e1c5";
}
.flt-rm-highlight-accent:before {
  content: "\e1c6";
}
.flt-rm-history:before {
  content: "\e1c7";
}
.flt-rm-home:before {
  content: "\e1c8";
}
.flt-rm-home-add:before {
  content: "\e1c9";
}
.flt-rm-home-checkmark:before {
  content: "\e1ca";
}
.flt-rm-icons:before {
  content: "\e1cb";
}
.flt-rm-image:before {
  content: "\e1cc";
}
.flt-rm-image-add:before {
  content: "\e1cd";
}
.flt-rm-image-alt-text:before {
  content: "\e1ce";
}
.flt-rm-image-copy:before {
  content: "\e1cf";
}
.flt-rm-image-edit:before {
  content: "\e1d0";
}
.flt-rm-image-library:before {
  content: "\e1d1";
}
.flt-rm-image-off:before {
  content: "\e1d2";
}
.flt-rm-image-search:before {
  content: "\e1d3";
}
.flt-rm-immersive-reader:before {
  content: "\e1d4";
}
.flt-rm-important:before {
  content: "\e1d5";
}
.flt-rm-incognito:before {
  content: "\e1d6";
}
.flt-rm-info:before {
  content: "\e1d7";
}
.flt-rm-inking-tool:before {
  content: "\e1d8";
}
.flt-rm-inking-tool-accent:before {
  content: "\e1d9";
}
.flt-rm-inprivate-account:before {
  content: "\e1da";
}
.flt-rm-insert:before {
  content: "\e1db";
}
.flt-rm-inspect:before {
  content: "\e1dc";
}
.flt-rm-ios-arrow-left:before {
  content: "\e1dd";
}
.flt-rm-ios-chevron:before {
  content: "\e1de";
}
.flt-rm-ios-chevron-right:before {
  content: "\e1df";
}
.flt-rm-javascript:before {
  content: "\e1e0";
}
.flt-rm-key:before {
  content: "\e1e1";
}
.flt-rm-keyboard:before {
  content: "\e1e2";
}
.flt-rm-keyboard-dock:before {
  content: "\e1e3";
}
.flt-rm-keyboard-layout-float:before {
  content: "\e1e4";
}
.flt-rm-keyboard-layout-one-handed-left:before {
  content: "\e1e5";
}
.flt-rm-keyboard-layout-resize:before {
  content: "\e1e6";
}
.flt-rm-keyboard-layout-split:before {
  content: "\e1e7";
}
.flt-rm-keyboard-shift:before {
  content: "\e1e8";
}
.flt-rm-keyboard-shift-uppercase:before {
  content: "\e1e9";
}
.flt-rm-keyboard-tab:before {
  content: "\e1ea";
}
.flt-rm-laptop:before {
  content: "\e1eb";
}
.flt-rm-large:before {
  content: "\e1ec";
}
.flt-rm-lasso:before {
  content: "\e1ed";
}
.flt-rm-launcher-settings:before {
  content: "\e1ee";
}
.flt-rm-layer:before {
  content: "\e1ef";
}
.flt-rm-leaf:before {
  content: "\e1f0";
}
.flt-rm-leaf-two:before {
  content: "\e1f1";
}
.flt-rm-library:before {
  content: "\e1f2";
}
.flt-rm-lightbulb:before {
  content: "\e1f3";
}
.flt-rm-lightbulb-circle:before {
  content: "\e1f4";
}
.flt-rm-lightbulb-filament:before {
  content: "\e1f5";
}
.flt-rm-like:before {
  content: "\e1f6";
}
.flt-rm-likert:before {
  content: "\e1f7";
}
.flt-rm-line-horizontal-1:before {
  content: "\e1f8";
}
.flt-rm-line-horizontal-3:before {
  content: "\e1f9";
}
.flt-rm-line-horizontal-5:before {
  content: "\e1fa";
}
.flt-rm-link:before {
  content: "\e1fb";
}
.flt-rm-link-edit:before {
  content: "\e1fc";
}
.flt-rm-link-remove:before {
  content: "\e1fd";
}
.flt-rm-link-square:before {
  content: "\e1fe";
}
.flt-rm-list:before {
  content: "\e1ff";
}
.flt-rm-live:before {
  content: "\e200";
}
.flt-rm-local-language:before {
  content: "\e201";
}
.flt-rm-location:before {
  content: "\e202";
}
.flt-rm-location-live:before {
  content: "\e203";
}
.flt-rm-location-not-found:before {
  content: "\e204";
}
.flt-rm-lock:before {
  content: "\e205";
}
.flt-rm-lock-shield:before {
  content: "\e206";
}
.flt-rm-magic-wand:before {
  content: "\e207";
}
.flt-rm-mail:before {
  content: "\e208";
}
.flt-rm-mail-add:before {
  content: "\e209";
}
.flt-rm-mail-all:before {
  content: "\e20a";
}
.flt-rm-mail-all-accounts:before {
  content: "\e20b";
}
.flt-rm-mail-clock:before {
  content: "\e20c";
}
.flt-rm-mail-copy:before {
  content: "\e20d";
}
.flt-rm-mail-inbox:before {
  content: "\e20e";
}
.flt-rm-mail-inbox-add:before {
  content: "\e20f";
}
.flt-rm-mail-inbox-dismiss:before {
  content: "\e210";
}
.flt-rm-mail-move-to-focussed:before {
  content: "\e211";
}
.flt-rm-mail-outbox:before {
  content: "\e212";
}
.flt-rm-mail-read:before {
  content: "\e213";
}
.flt-rm-mail-unread:before {
  content: "\e214";
}
.flt-rm-mail-unsubscribe:before {
  content: "\e215";
}
.flt-rm-malware-detected:before {
  content: "\e216";
}
.flt-rm-manufacturer:before {
  content: "\e217";
}
.flt-rm-map:before {
  content: "\e218";
}
.flt-rm-map-drive:before {
  content: "\e219";
}
.flt-rm-match-app-layout:before {
  content: "\e21a";
}
.flt-rm-maximize:before {
  content: "\e21b";
}
.flt-rm-meet-now:before {
  content: "\e21c";
}
.flt-rm-megaphone:before {
  content: "\e21d";
}
.flt-rm-megaphone-off:before {
  content: "\e21e";
}
.flt-rm-mention:before {
  content: "\e21f";
}
.flt-rm-merge:before {
  content: "\e220";
}
.flt-rm-mic-off:before {
  content: "\e221";
}
.flt-rm-mic-on:before {
  content: "\e222";
}
.flt-rm-mic-settings:before {
  content: "\e223";
}
.flt-rm-midi:before {
  content: "\e224";
}
.flt-rm-missing-metadata:before {
  content: "\e225";
}
.flt-rm-mobile-optimized:before {
  content: "\e226";
}
.flt-rm-money:before {
  content: "\e227";
}
.flt-rm-more:before {
  content: "\e228";
}
.flt-rm-more-vertical:before {
  content: "\e229";
}
.flt-rm-movies-and-tv:before {
  content: "\e22a";
}
.flt-rm-multiselect:before {
  content: "\e22b";
}
.flt-rm-music:before {
  content: "\e22c";
}
.flt-rm-my-location:before {
  content: "\e22d";
}
.flt-rm-navigation:before {
  content: "\e22e";
}
.flt-rm-network-check:before {
  content: "\e22f";
}
.flt-rm-new:before {
  content: "\e230";
}
.flt-rm-news:before {
  content: "\e231";
}
.flt-rm-next:before {
  content: "\e232";
}
.flt-rm-note:before {
  content: "\e233";
}
.flt-rm-note-add:before {
  content: "\e234";
}
.flt-rm-notebook:before {
  content: "\e235";
}
.flt-rm-notebook-error:before {
  content: "\e236";
}
.flt-rm-notebook-lightning:before {
  content: "\e237";
}
.flt-rm-notebook-question-mark:before {
  content: "\e238";
}
.flt-rm-notebook-section:before {
  content: "\e239";
}
.flt-rm-notebook-sync:before {
  content: "\e23a";
}
.flt-rm-notepad:before {
  content: "\e23b";
}
.flt-rm-number-row:before {
  content: "\e23c";
}
.flt-rm-number-symbol:before {
  content: "\e23d";
}
.flt-rm-office-apps:before {
  content: "\e23e";
}
.flt-rm-open:before {
  content: "\e23f";
}
.flt-rm-open-folder:before {
  content: "\e240";
}
.flt-rm-open-in-browser:before {
  content: "\e241";
}
.flt-rm-options:before {
  content: "\e242";
}
.flt-rm-organization:before {
  content: "\e243";
}
.flt-rm-owner:before {
  content: "\e244";
}
.flt-rm-page:before {
  content: "\e245";
}
.flt-rm-page-fit:before {
  content: "\e246";
}
.flt-rm-paint-brush:before {
  content: "\e247";
}
.flt-rm-paint-bucket:before {
  content: "\e248";
}
.flt-rm-pair:before {
  content: "\e249";
}
.flt-rm-pane-close:before {
  content: "\e24a";
}
.flt-rm-pane-open:before {
  content: "\e24b";
}
.flt-rm-password:before {
  content: "\e24c";
}
.flt-rm-patient:before {
  content: "\e24d";
}
.flt-rm-pause:before {
  content: "\e24e";
}
.flt-rm-payment:before {
  content: "\e24f";
}
.flt-rm-pen-settings:before {
  content: "\e250";
}
.flt-rm-people:before {
  content: "\e251";
}
.flt-rm-people-add:before {
  content: "\e252";
}
.flt-rm-people-audience:before {
  content: "\e253";
}
.flt-rm-people-community:before {
  content: "\e254";
}
.flt-rm-people-community-add:before {
  content: "\e255";
}
.flt-rm-people-prohibited:before {
  content: "\e256";
}
.flt-rm-people-search:before {
  content: "\e257";
}
.flt-rm-people-settings:before {
  content: "\e258";
}
.flt-rm-people-team:before {
  content: "\e259";
}
.flt-rm-person:before {
  content: "\e25a";
}
.flt-rm-person-accounts:before {
  content: "\e25b";
}
.flt-rm-person-add:before {
  content: "\e25c";
}
.flt-rm-person-arrow-left:before {
  content: "\e25d";
}
.flt-rm-person-arrow-right:before {
  content: "\e25e";
}
.flt-rm-person-available:before {
  content: "\e25f";
}
.flt-rm-person-block:before {
  content: "\e260";
}
.flt-rm-person-board:before {
  content: "\e261";
}
.flt-rm-person-call:before {
  content: "\e262";
}
.flt-rm-person-delete:before {
  content: "\e263";
}
.flt-rm-person-feedback:before {
  content: "\e264";
}
.flt-rm-person-prohibited:before {
  content: "\e265";
}
.flt-rm-person-question-mark:before {
  content: "\e266";
}
.flt-rm-person-support:before {
  content: "\e267";
}
.flt-rm-person-swap:before {
  content: "\e268";
}
.flt-rm-person-voice:before {
  content: "\e269";
}
.flt-rm-phone:before {
  content: "\e26a";
}
.flt-rm-phone-add-new-app:before {
  content: "\e26b";
}
.flt-rm-phone-desktop:before {
  content: "\e26c";
}
.flt-rm-phone-error:before {
  content: "\e26d";
}
.flt-rm-phone-home-lock:before {
  content: "\e26e";
}
.flt-rm-phone-laptop:before {
  content: "\e26f";
}
.flt-rm-phone-link-setup:before {
  content: "\e270";
}
.flt-rm-phone-mobile:before {
  content: "\e271";
}
.flt-rm-phone-page-header:before {
  content: "\e272";
}
.flt-rm-phone-pagination:before {
  content: "\e273";
}
.flt-rm-phone-screen-time:before {
  content: "\e274";
}
.flt-rm-phone-shake:before {
  content: "\e275";
}
.flt-rm-phone-status-bar:before {
  content: "\e276";
}
.flt-rm-phone-tablet:before {
  content: "\e277";
}
.flt-rm-phone-to-pc:before {
  content: "\e278";
}
.flt-rm-phone-update:before {
  content: "\e279";
}
.flt-rm-phone-vertical-scroll:before {
  content: "\e27a";
}
.flt-rm-phone-vibrate:before {
  content: "\e27b";
}
.flt-rm-photo-filter:before {
  content: "\e27c";
}
.flt-rm-picture-in-picture:before {
  content: "\e27d";
}
.flt-rm-pin:before {
  content: "\e27e";
}
.flt-rm-pin-off:before {
  content: "\e27f";
}
.flt-rm-play:before {
  content: "\e280";
}
.flt-rm-play-circle:before {
  content: "\e281";
}
.flt-rm-plug-disconnected:before {
  content: "\e282";
}
.flt-rm-point-scan:before {
  content: "\e283";
}
.flt-rm-poll:before {
  content: "\e284";
}
.flt-rm-power:before {
  content: "\e285";
}
.flt-rm-predictions:before {
  content: "\e286";
}
.flt-rm-premium:before {
  content: "\e287";
}
.flt-rm-presence-available:before {
  content: "\e288";
}
.flt-rm-presence-away:before {
  content: "\e289";
}
.flt-rm-presence-blocked:before {
  content: "\e28a";
}
.flt-rm-presence-busy:before {
  content: "\e28b";
}
.flt-rm-presence-dnd:before {
  content: "\e28c";
}
.flt-rm-presence-offline:before {
  content: "\e28d";
}
.flt-rm-presence-oof:before {
  content: "\e28e";
}
.flt-rm-presence-unknown:before {
  content: "\e28f";
}
.flt-rm-presenter:before {
  content: "\e290";
}
.flt-rm-presenter-off:before {
  content: "\e291";
}
.flt-rm-preview-link:before {
  content: "\e292";
}
.flt-rm-previous:before {
  content: "\e293";
}
.flt-rm-print:before {
  content: "\e294";
}
.flt-rm-prohibited:before {
  content: "\e295";
}
.flt-rm-proofread-language:before {
  content: "\e296";
}
.flt-rm-protocol-handler:before {
  content: "\e297";
}
.flt-rm-qr-code:before {
  content: "\e298";
}
.flt-rm-question:before {
  content: "\e299";
}
.flt-rm-question-circle:before {
  content: "\e29a";
}
.flt-rm-quiz-new:before {
  content: "\e29b";
}
.flt-rm-radio-button:before {
  content: "\e29c";
}
.flt-rm-rating-mature:before {
  content: "\e29d";
}
.flt-rm-read-aloud:before {
  content: "\e29e";
}
.flt-rm-reading-list:before {
  content: "\e29f";
}
.flt-rm-reading-list-add:before {
  content: "\e2a0";
}
.flt-rm-reading-mode:before {
  content: "\e2a1";
}
.flt-rm-reading-mode-mobile:before {
  content: "\e2a2";
}
.flt-rm-read-only:before {
  content: "\e2a3";
}
.flt-rm-recommended:before {
  content: "\e2a4";
}
.flt-rm-record:before {
  content: "\e2a5";
}
.flt-rm-remove:before {
  content: "\e2a6";
}
.flt-rm-remove-recent:before {
  content: "\e2a7";
}
.flt-rm-rename:before {
  content: "\e2a8";
}
.flt-rm-re-order:before {
  content: "\e2a9";
}
.flt-rm-re-order-dots:before {
  content: "\e2aa";
}
.flt-rm-resize:before {
  content: "\e2ab";
}
.flt-rm-resize-image:before {
  content: "\e2ac";
}
.flt-rm-resize-table:before {
  content: "\e2ad";
}
.flt-rm-resize-video:before {
  content: "\e2ae";
}
.flt-rm-restore:before {
  content: "\e2af";
}
.flt-rm-reward:before {
  content: "\e2b0";
}
.flt-rm-rewind:before {
  content: "\e2b1";
}
.flt-rm-rocket:before {
  content: "\e2b2";
}
.flt-rm-router:before {
  content: "\e2b3";
}
.flt-rm-row-triple:before {
  content: "\e2b4";
}
.flt-rm-ruler:before {
  content: "\e2b5";
}
.flt-rm-run:before {
  content: "\e2b6";
}
.flt-rm-save:before {
  content: "\e2b7";
}
.flt-rm-save-as:before {
  content: "\e2b8";
}
.flt-rm-save-copy:before {
  content: "\e2b9";
}
.flt-rm-savings:before {
  content: "\e2ba";
}
.flt-rm-scale-fill:before {
  content: "\e2bb";
}
.flt-rm-scale-fit:before {
  content: "\e2bc";
}
.flt-rm-scan:before {
  content: "\e2bd";
}
.flt-rm-scratchpad:before {
  content: "\e2be";
}
.flt-rm-screenshot:before {
  content: "\e2bf";
}
.flt-rm-search:before {
  content: "\e2c0";
}
.flt-rm-search-info:before {
  content: "\e2c1";
}
.flt-rm-search-square:before {
  content: "\e2c2";
}
.flt-rm-select-all:before {
  content: "\e2c3";
}
.flt-rm-select-all-off:before {
  content: "\e2c4";
}
.flt-rm-select-object:before {
  content: "\e2c5";
}
.flt-rm-send:before {
  content: "\e2c6";
}
.flt-rm-send-clock:before {
  content: "\e2c7";
}
.flt-rm-send-copy:before {
  content: "\e2c8";
}
.flt-rm-send-logging:before {
  content: "\e2c9";
}
.flt-rm-send-to-back:before {
  content: "\e2ca";
}
.flt-rm-serial-port:before {
  content: "\e2cb";
}
.flt-rm-service-bell:before {
  content: "\e2cc";
}
.flt-rm-settings:before {
  content: "\e2cd";
}
.flt-rm-set-top-stack:before {
  content: "\e2ce";
}
.flt-rm-shapes:before {
  content: "\e2cf";
}
.flt-rm-share:before {
  content: "\e2d0";
}
.flt-rm-share-android:before {
  content: "\e2d1";
}
.flt-rm-share-close-tray:before {
  content: "\e2d2";
}
.flt-rm-share-desktop:before {
  content: "\e2d3";
}
.flt-rm-share-ios:before {
  content: "\e2d4";
}
.flt-rm-share-screen:before {
  content: "\e2d5";
}
.flt-rm-share-stop:before {
  content: "\e2d6";
}
.flt-rm-shield:before {
  content: "\e2d7";
}
.flt-rm-shield-dismiss:before {
  content: "\e2d8";
}
.flt-rm-shield-error:before {
  content: "\e2d9";
}
.flt-rm-shield-keyhole:before {
  content: "\e2da";
}
.flt-rm-shield-prohibited:before {
  content: "\e2db";
}
.flt-rm-shifts:before {
  content: "\e2dc";
}
.flt-rm-shifts-24h:before {
  content: "\e2dd";
}
.flt-rm-shifts-30-minutes:before {
  content: "\e2de";
}
.flt-rm-shifts-activity:before {
  content: "\e2df";
}
.flt-rm-shifts-add:before {
  content: "\e2e0";
}
.flt-rm-shifts-approve:before {
  content: "\e2e1";
}
.flt-rm-shifts-availability:before {
  content: "\e2e2";
}
.flt-rm-shifts-deny:before {
  content: "\e2e3";
}
.flt-rm-shifts-open:before {
  content: "\e2e4";
}
.flt-rm-shifts-pending:before {
  content: "\e2e5";
}
.flt-rm-shifts-team:before {
  content: "\e2e6";
}
.flt-rm-ship:before {
  content: "\e2e7";
}
.flt-rm-signature:before {
  content: "\e2e8";
}
.flt-rm-signed:before {
  content: "\e2e9";
}
.flt-rm-sign-out:before {
  content: "\e2ea";
}
.flt-rm-sim:before {
  content: "\e2eb";
}
.flt-rm-sleep:before {
  content: "\e2ec";
}
.flt-rm-slide-add:before {
  content: "\e2ed";
}
.flt-rm-slide-design:before {
  content: "\e2ee";
}
.flt-rm-slide-hide:before {
  content: "\e2ef";
}
.flt-rm-slide-layout:before {
  content: "\e2f0";
}
.flt-rm-slide-microphone:before {
  content: "\e2f1";
}
.flt-rm-slide-text:before {
  content: "\e2f2";
}
.flt-rm-slow-mode:before {
  content: "\e2f3";
}
.flt-rm-small:before {
  content: "\e2f4";
}
.flt-rm-snooze:before {
  content: "\e2f5";
}
.flt-rm-sound-source:before {
  content: "\e2f6";
}
.flt-rm-spacebar:before {
  content: "\e2f7";
}
.flt-rm-speaker:before {
  content: "\e2f8";
}
.flt-rm-speaker-0:before {
  content: "\e2f9";
}
.flt-rm-speaker-1:before {
  content: "\e2fa";
}
.flt-rm-speaker-bluetooth:before {
  content: "\e2fb";
}
.flt-rm-speaker-edit:before {
  content: "\e2fc";
}
.flt-rm-speaker-none:before {
  content: "\e2fd";
}
.flt-rm-speaker-off:before {
  content: "\e2fe";
}
.flt-rm-speaker-settings:before {
  content: "\e2ff";
}
.flt-rm-spinner-ios:before {
  content: "\e300";
}
.flt-rm-sports:before {
  content: "\e301";
}
.flt-rm-star:before {
  content: "\e302";
}
.flt-rm-star-add:before {
  content: "\e303";
}
.flt-rm-star-arrow-right:before {
  content: "\e304";
}
.flt-rm-star-arrow-right-start:before {
  content: "\e305";
}
.flt-rm-star-emphasis:before {
  content: "\e306";
}
.flt-rm-star-half:before {
  content: "\e307";
}
.flt-rm-star-off:before {
  content: "\e308";
}
.flt-rm-star-one-quarter:before {
  content: "\e309";
}
.flt-rm-star-prohibited:before {
  content: "\e30a";
}
.flt-rm-star-settings:before {
  content: "\e30b";
}
.flt-rm-star-three-quarter:before {
  content: "\e30c";
}
.flt-rm-status:before {
  content: "\e30d";
}
.flt-rm-stethoscope:before {
  content: "\e30e";
}
.flt-rm-sticker:before {
  content: "\e30f";
}
.flt-rm-sticker-add:before {
  content: "\e310";
}
.flt-rm-stop:before {
  content: "\e311";
}
.flt-rm-storage:before {
  content: "\e312";
}
.flt-rm-store:before {
  content: "\e313";
}
.flt-rm-store-microsoft:before {
  content: "\e314";
}
.flt-rm-style-guide:before {
  content: "\e315";
}
.flt-rm-sub-grid:before {
  content: "\e316";
}
.flt-rm-subway:before {
  content: "\e317";
}
.flt-rm-suggestion:before {
  content: "\e318";
}
.flt-rm-surface-earbuds:before {
  content: "\e319";
}
.flt-rm-surface-hub:before {
  content: "\e31a";
}
.flt-rm-swipe-down:before {
  content: "\e31b";
}
.flt-rm-swipe-right:before {
  content: "\e31c";
}
.flt-rm-swipe-up:before {
  content: "\e31d";
}
.flt-rm-symbols:before {
  content: "\e31e";
}
.flt-rm-sync-off:before {
  content: "\e31f";
}
.flt-rm-system:before {
  content: "\e320";
}
.flt-rm-tab:before {
  content: "\e321";
}
.flt-rm-tab-desktop:before {
  content: "\e322";
}
.flt-rm-tab-desktop-arrow-clockwise:before {
  content: "\e323";
}
.flt-rm-tab-desktop-clock:before {
  content: "\e324";
}
.flt-rm-tab-desktop-copy:before {
  content: "\e325";
}
.flt-rm-tab-desktop-image:before {
  content: "\e326";
}
.flt-rm-tab-desktop-multiple:before {
  content: "\e327";
}
.flt-rm-tab-desktop-new-page:before {
  content: "\e328";
}
.flt-rm-tab-in-private:before {
  content: "\e329";
}
.flt-rm-tab-inprivate-account:before {
  content: "\e32a";
}
.flt-rm-table:before {
  content: "\e32b";
}
.flt-rm-table-add:before {
  content: "\e32c";
}
.flt-rm-table-cells-merge:before {
  content: "\e32d";
}
.flt-rm-table-cells-split:before {
  content: "\e32e";
}
.flt-rm-table-column-delete:before {
  content: "\e32f";
}
.flt-rm-table-column-insert:before {
  content: "\e330";
}
.flt-rm-table-column-resize:before {
  content: "\e331";
}
.flt-rm-table-delete:before {
  content: "\e332";
}
.flt-rm-table-edit:before {
  content: "\e333";
}
.flt-rm-table-freeze:before {
  content: "\e334";
}
.flt-rm-table-freeze-column:before {
  content: "\e335";
}
.flt-rm-table-freeze-row:before {
  content: "\e336";
}
.flt-rm-table-insert-down:before {
  content: "\e337";
}
.flt-rm-table-insert-left:before {
  content: "\e338";
}
.flt-rm-table-insert-right:before {
  content: "\e339";
}
.flt-rm-table-insert-up:before {
  content: "\e33a";
}
.flt-rm-table-move-down:before {
  content: "\e33b";
}
.flt-rm-table-move-left:before {
  content: "\e33c";
}
.flt-rm-table-move-right:before {
  content: "\e33d";
}
.flt-rm-table-move-up:before {
  content: "\e33e";
}
.flt-rm-table-row-delete:before {
  content: "\e33f";
}
.flt-rm-table-row-insert:before {
  content: "\e340";
}
.flt-rm-table-row-resize:before {
  content: "\e341";
}
.flt-rm-table-settings:before {
  content: "\e342";
}
.flt-rm-table-switch:before {
  content: "\e343";
}
.flt-rm-tablet:before {
  content: "\e344";
}
.flt-rm-tab-new:before {
  content: "\e345";
}
.flt-rm-tabs:before {
  content: "\e346";
}
.flt-rm-tab-sweep:before {
  content: "\e347";
}
.flt-rm-tab-tracking-prevention:before {
  content: "\e348";
}
.flt-rm-tag:before {
  content: "\e349";
}
.flt-rm-tap-double:before {
  content: "\e34a";
}
.flt-rm-tap-single:before {
  content: "\e34b";
}
.flt-rm-target:before {
  content: "\e34c";
}
.flt-rm-target-edit:before {
  content: "\e34d";
}
.flt-rm-task-list:before {
  content: "\e34e";
}
.flt-rm-task-list-add:before {
  content: "\e34f";
}
.flt-rm-tasks-app:before {
  content: "\e350";
}
.flt-rm-team-add:before {
  content: "\e351";
}
.flt-rm-team-delete:before {
  content: "\e352";
}
.flt-rm-teddy:before {
  content: "\e353";
}
.flt-rm-temperature:before {
  content: "\e354";
}
.flt-rm-tent:before {
  content: "\e355";
}
.flt-rm-test-call:before {
  content: "\e356";
}
.flt-rm-text:before {
  content: "\e357";
}
.flt-rm-text-add:before {
  content: "\e358";
}
.flt-rm-text-add-space-after:before {
  content: "\e359";
}
.flt-rm-text-add-space-before:before {
  content: "\e35a";
}
.flt-rm-text-align-center:before {
  content: "\e35b";
}
.flt-rm-text-align-distributed:before {
  content: "\e35c";
}
.flt-rm-text-align-justify:before {
  content: "\e35d";
}
.flt-rm-text-align-left:before {
  content: "\e35e";
}
.flt-rm-text-align-right:before {
  content: "\e35f";
}
.flt-rm-text-asterisk:before {
  content: "\e360";
}
.flt-rm-text-bold:before {
  content: "\e361";
}
.flt-rm-textbox:before {
  content: "\e362";
}
.flt-rm-textbox-align:before {
  content: "\e363";
}
.flt-rm-textbox-align-bottom:before {
  content: "\e364";
}
.flt-rm-textbox-align-middle:before {
  content: "\e365";
}
.flt-rm-textbox-align-top:before {
  content: "\e366";
}
.flt-rm-textbox-vertical:before {
  content: "\e367";
}
.flt-rm-text-bullet-list:before {
  content: "\e368";
}
.flt-rm-text-bullet-list-add:before {
  content: "\e369";
}
.flt-rm-text-bullet-list-square:before {
  content: "\e36a";
}
.flt-rm-text-bullet-list-square-warning:before {
  content: "\e36b";
}
.flt-rm-text-bullet-list-tree:before {
  content: "\e36c";
}
.flt-rm-text-change-accept:before {
  content: "\e36d";
}
.flt-rm-text-change-case:before {
  content: "\e36e";
}
.flt-rm-text-change-next:before {
  content: "\e36f";
}
.flt-rm-text-change-previous:before {
  content: "\e370";
}
.flt-rm-text-change-reject:before {
  content: "\e371";
}
.flt-rm-text-change-settings:before {
  content: "\e372";
}
.flt-rm-text-clear-formatting:before {
  content: "\e373";
}
.flt-rm-text-collapse:before {
  content: "\e374";
}
.flt-rm-text-color:before {
  content: "\e375";
}
.flt-rm-text-column-one:before {
  content: "\e376";
}
.flt-rm-text-column-three:before {
  content: "\e377";
}
.flt-rm-text-column-two:before {
  content: "\e378";
}
.flt-rm-text-column-two-left:before {
  content: "\e379";
}
.flt-rm-text-column-two-right:before {
  content: "\e37a";
}
.flt-rm-text-description:before {
  content: "\e37b";
}
.flt-rm-text-direction:before {
  content: "\e37c";
}
.flt-rm-text-direction-horizontal-ltr:before {
  content: "\e37d";
}
.flt-rm-text-direction-rotate-90:before {
  content: "\e37e";
}
.flt-rm-text-direction-rotate-270:before {
  content: "\e37f";
}
.flt-rm-text-direction-rotate-270-ac:before {
  content: "\e380";
}
.flt-rm-text-direction-vertical:before {
  content: "\e381";
}
.flt-rm-text-edit-style:before {
  content: "\e382";
}
.flt-rm-text-effects:before {
  content: "\e383";
}
.flt-rm-text-expand:before {
  content: "\e384";
}
.flt-rm-text-field:before {
  content: "\e385";
}
.flt-rm-text-first-line:before {
  content: "\e386";
}
.flt-rm-text-font:before {
  content: "\e387";
}
.flt-rm-text-font-size:before {
  content: "\e388";
}
.flt-rm-text-footnote:before {
  content: "\e389";
}
.flt-rm-text-grammar-options:before {
  content: "\e38a";
}
.flt-rm-text-hanging:before {
  content: "\e38b";
}
.flt-rm-text-header-1:before {
  content: "\e38c";
}
.flt-rm-text-header-2:before {
  content: "\e38d";
}
.flt-rm-text-header-3:before {
  content: "\e38e";
}
.flt-rm-text-indent-decrease:before {
  content: "\e38f";
}
.flt-rm-text-indent-increase:before {
  content: "\e390";
}
.flt-rm-text-italic:before {
  content: "\e391";
}
.flt-rm-text-line-spacing:before {
  content: "\e392";
}
.flt-rm-text-number-format:before {
  content: "\e393";
}
.flt-rm-text-number-list-ltr:before {
  content: "\e394";
}
.flt-rm-text-number-list-rtl:before {
  content: "\e395";
}
.flt-rm-text-paragraph-settings:before {
  content: "\e396";
}
.flt-rm-text-proofing-tools:before {
  content: "\e397";
}
.flt-rm-text-quote:before {
  content: "\e398";
}
.flt-rm-text-sort-ascending:before {
  content: "\e399";
}
.flt-rm-text-sort-descending:before {
  content: "\e39a";
}
.flt-rm-text-strikethrough:before {
  content: "\e39b";
}
.flt-rm-text-subscript:before {
  content: "\e39c";
}
.flt-rm-text-superscript:before {
  content: "\e39d";
}
.flt-rm-text-underline:before {
  content: "\e39e";
}
.flt-rm-text-word-count:before {
  content: "\e39f";
}
.flt-rm-text-wrap:before {
  content: "\e3a0";
}
.flt-rm-thinking:before {
  content: "\e3a1";
}
.flt-rm-thumb-dislike:before {
  content: "\e3a2";
}
.flt-rm-thumb-like:before {
  content: "\e3a3";
}
.flt-rm-ticket:before {
  content: "\e3a4";
}
.flt-rm-time-and-weather:before {
  content: "\e3a5";
}
.flt-rm-timeline:before {
  content: "\e3a6";
}
.flt-rm-time-picker:before {
  content: "\e3a7";
}
.flt-rm-timer:before {
  content: "\e3a8";
}
.flt-rm-timer-2:before {
  content: "\e3a9";
}
.flt-rm-timer-10:before {
  content: "\e3aa";
}
.flt-rm-timer-off:before {
  content: "\e3ab";
}
.flt-rm-toggle-right:before {
  content: "\e3ac";
}
.flt-rm-toolbox:before {
  content: "\e3ad";
}
.flt-rm-top-speed:before {
  content: "\e3ae";
}
.flt-rm-translate:before {
  content: "\e3af";
}
.flt-rm-trophy:before {
  content: "\e3b0";
}
.flt-rm-uninstall-app:before {
  content: "\e3b1";
}
.flt-rm-unlock:before {
  content: "\e3b2";
}
.flt-rm-upload:before {
  content: "\e3b3";
}
.flt-rm-usb-port:before {
  content: "\e3b4";
}
.flt-rm-usb-stick:before {
  content: "\e3b5";
}
.flt-rm-vault:before {
  content: "\e3b6";
}
.flt-rm-vehicle-bicycle:before {
  content: "\e3b7";
}
.flt-rm-vehicle-bus:before {
  content: "\e3b8";
}
.flt-rm-vehicle-cab:before {
  content: "\e3b9";
}
.flt-rm-vehicle-car:before {
  content: "\e3ba";
}
.flt-rm-vehicle-truck:before {
  content: "\e3bb";
}
.flt-rm-video:before {
  content: "\e3bc";
}
.flt-rm-video-background-effect:before {
  content: "\e3bd";
}
.flt-rm-video-clip:before {
  content: "\e3be";
}
.flt-rm-video-off:before {
  content: "\e3bf";
}
.flt-rm-video-person:before {
  content: "\e3c0";
}
.flt-rm-video-person-off:before {
  content: "\e3c1";
}
.flt-rm-video-person-star:before {
  content: "\e3c2";
}
.flt-rm-video-play-pause:before {
  content: "\e3c3";
}
.flt-rm-video-security:before {
  content: "\e3c4";
}
.flt-rm-video-switch:before {
  content: "\e3c5";
}
.flt-rm-view-desktop:before {
  content: "\e3c6";
}
.flt-rm-view-desktop-mobile:before {
  content: "\e3c7";
}
.flt-rm-visual-search:before {
  content: "\e3c8";
}
.flt-rm-voicemail:before {
  content: "\e3c9";
}
.flt-rm-walkie-talkie:before {
  content: "\e3ca";
}
.flt-rm-wallpaper:before {
  content: "\e3cb";
}
.flt-rm-warning:before {
  content: "\e3cc";
}
.flt-rm-weather-blowing-snow:before {
  content: "\e3cd";
}
.flt-rm-weather-cloudy:before {
  content: "\e3ce";
}
.flt-rm-weather-duststorm:before {
  content: "\e3cf";
}
.flt-rm-weather-fog:before {
  content: "\e3d0";
}
.flt-rm-weather-hail-day:before {
  content: "\e3d1";
}
.flt-rm-weather-hail-night:before {
  content: "\e3d2";
}
.flt-rm-weather-moon:before {
  content: "\e3d3";
}
.flt-rm-weather-partly-cloudy-day:before {
  content: "\e3d4";
}
.flt-rm-weather-partly-cloudy-night:before {
  content: "\e3d5";
}
.flt-rm-weather-rain:before {
  content: "\e3d6";
}
.flt-rm-weather-rain-showers-day:before {
  content: "\e3d7";
}
.flt-rm-weather-rain-showers-night:before {
  content: "\e3d8";
}
.flt-rm-weather-rain-snow:before {
  content: "\e3d9";
}
.flt-rm-weather-snow:before {
  content: "\e3da";
}
.flt-rm-weather-snowflake:before {
  content: "\e3db";
}
.flt-rm-weather-snow-shower-day:before {
  content: "\e3dc";
}
.flt-rm-weather-snow-shower-night:before {
  content: "\e3dd";
}
.flt-rm-weather-squalls:before {
  content: "\e3de";
}
.flt-rm-weather-sunny:before {
  content: "\e3df";
}
.flt-rm-weather-thunderstorm:before {
  content: "\e3e0";
}
.flt-rm-web-asset:before {
  content: "\e3e1";
}
.flt-rm-weekend:before {
  content: "\e3e2";
}
.flt-rm-whiteboard:before {
  content: "\e3e3";
}
.flt-rm-wifi-1:before {
  content: "\e3e4";
}
.flt-rm-wifi-2:before {
  content: "\e3e5";
}
.flt-rm-wifi-3:before {
  content: "\e3e6";
}
.flt-rm-wifi-4:before {
  content: "\e3e7";
}
.flt-rm-wifi-protected:before {
  content: "\e3e8";
}
.flt-rm-window:before {
  content: "\e3e9";
}
.flt-rm-window-ad:before {
  content: "\e3ea";
}
.flt-rm-window-dev-tools:before {
  content: "\e3eb";
}
.flt-rm-window-inprivate:before {
  content: "\e3ec";
}
.flt-rm-window-inprivate-account:before {
  content: "\e3ed";
}
.flt-rm-window-multiple:before {
  content: "\e3ee";
}
.flt-rm-window-new:before {
  content: "\e3ef";
}
.flt-rm-window-shield:before {
  content: "\e3f0";
}
.flt-rm-wrench:before {
  content: "\e3f1";
}
.flt-rm-xbox-console:before {
  content: "\e3f2";
}
.flt-rm-zoom-in:before {
  content: "\e3f3";
}
.flt-rm-zoom-out:before {
  content: "\e3f4";
}
