@font-face {
  font-family: 'Subway-Icons';
  src:  url('../fonts/Subway-Icons.eot?nqe6p0');
  src:  url('../fonts/Subway-Icons.eot?nqe6p0#iefix') format('embedded-opentype'),
    url('../fonts/Subway-Icons.ttf?nqe6p0') format('truetype'),
    url('../fonts/Subway-Icons.woff?nqe6p0') format('woff'),
    url('../fonts/Subway-Icons.svg?nqe6p0#Subway-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="subway-"], [class*=" subway-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Subway-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.subway-at:before {
  content: "\e900";
}
.subway-add-1:before {
  content: "\e901";
}
.subway-add-playlist:before {
  content: "\e902";
}
.subway-add:before {
  content: "\e903";
}
.subway-admin-1:before {
  content: "\e904";
}
.subway-admin-2:before {
  content: "\e905";
}
.subway-admin:before {
  content: "\e906";
}
.subway-airplane-mode:before {
  content: "\e907";
}
.subway-alam:before {
  content: "\e908";
}
.subway-backward:before {
  content: "\e909";
}
.subway-backward-1:before {
  content: "\e90a";
}
.subway-bag:before {
  content: "\e90b";
}
.subway-basket:before {
  content: "\e90c";
}
.subway-bell:before {
  content: "\e90d";
}
.subway-black-white:before {
  content: "\e90e";
}
.subway-bluetooth:before {
  content: "\e90f";
}
.subway-blur:before {
  content: "\e910";
}
.subway-book-1:before {
  content: "\e911";
}
.subway-book:before {
  content: "\e912";
}
.subway-box-1:before {
  content: "\e913";
}
.subway-box:before {
  content: "\e914";
}
.subway-brightest:before {
  content: "\e915";
}
.subway-brush:before {
  content: "\e916";
}
.subway-c:before {
  content: "\e917";
}
.subway-cain:before {
  content: "\e918";
}
.subway-calendar-1:before {
  content: "\e919";
}
.subway-calendar-2:before {
  content: "\e91a";
}
.subway-calendar-3:before {
  content: "\e91b";
}
.subway-calendar-4:before {
  content: "\e91c";
}
.subway-calendar-5:before {
  content: "\e91d";
}
.subway-calendar-6:before {
  content: "\e91e";
}
.subway-calendar:before {
  content: "\e91f";
}
.subway-call-1:before {
  content: "\e920";
}
.subway-call-2:before {
  content: "\e921";
}
.subway-call-3:before {
  content: "\e922";
}
.subway-call-4:before {
  content: "\e923";
}
.subway-call:before {
  content: "\e924";
}
.subway-camera:before {
  content: "\e925";
}
.subway-cercle-1:before {
  content: "\e926";
}
.subway-cercle-2:before {
  content: "\e927";
}
.subway-cercle-3:before {
  content: "\e928";
}
.subway-cercle-4:before {
  content: "\e929";
}
.subway-cercle-5:before {
  content: "\e92a";
}
.subway-cercle-6:before {
  content: "\e92b";
}
.subway-cercle-7:before {
  content: "\e92c";
}
.subway-cercle-8:before {
  content: "\e92d";
}
.subway-circle:before {
  content: "\e92e";
}
.subway-close-2:before {
  content: "\e92f";
}
.subway-close-corner-arrow-1:before {
  content: "\e930";
}
.subway-close-corner-arrow-2:before {
  content: "\e931";
}
.subway-cloth-1:before {
  content: "\e932";
}
.subway-cloth:before {
  content: "\e933";
}
.subway-cloud-download:before {
  content: "\e934";
}
.subway-cloud-reload:before {
  content: "\e935";
}
.subway-cloud-upload:before {
  content: "\e936";
}
.subway-cloud:before {
  content: "\e937";
}
.subway-coin-1:before {
  content: "\e938";
}
.subway-coin:before {
  content: "\e939";
}
.subway-compass-1:before {
  content: "\e93a";
}
.subway-compass-2:before {
  content: "\e93b";
}
.subway-compass:before {
  content: "\e93c";
}
.subway-compose:before {
  content: "\e93d";
}
.subway-cover:before {
  content: "\e93e";
}
.subway-crop:before {
  content: "\e93f";
}
.subway-crpss:before {
  content: "\e940";
}
.subway-dail-pad:before {
  content: "\e941";
}
.subway-delete:before {
  content: "\e942";
}
.subway-divide-1:before {
  content: "\e943";
}
.subway-divide:before {
  content: "\e944";
}
.subway-document-1:before {
  content: "\e945";
}
.subway-document-2:before {
  content: "\e946";
}
.subway-document-3:before {
  content: "\e947";
}
.subway-document:before {
  content: "\e948";
}
.subway-down-2:before {
  content: "\e949";
}
.subway-down-arrow-1:before {
  content: "\e94a";
}
.subway-down-arrow:before {
  content: "\e94b";
}
.subway-down:before {
  content: "\e94c";
}
.subway-download-1:before {
  content: "\e94d";
}
.subway-download-2:before {
  content: "\e94e";
}
.subway-download-3:before {
  content: "\e94f";
}
.subway-download-4:before {
  content: "\e950";
}
.subway-duble-corner-arrow-1:before {
  content: "\e951";
}
.subway-duble-corner-arrow-3:before {
  content: "\e952";
}
.subway-duble-corner-arrow-4:before {
  content: "\e953";
}
.subway-duble-corner-arrow-5:before {
  content: "\e954";
}
.subway-duble-corner-arrow-6:before {
  content: "\e955";
}
.subway-duble-corner-arrow-blod-2:before {
  content: "\e956";
}
.subway-equal-1:before {
  content: "\e957";
}
.subway-equal:before {
  content: "\e958";
}
.subway-equalizer-1:before {
  content: "\e959";
}
.subway-equalizer-2:before {
  content: "\e95a";
}
.subway-equalizer:before {
  content: "\e95b";
}
.subway-error:before {
  content: "\e95c";
}
.subway-euro:before {
  content: "\e95d";
}
.subway-exit:before {
  content: "\e95e";
}
.subway-eye:before {
  content: "\e95f";
}
.subway-f:before {
  content: "\e960";
}
.subway-feed:before {
  content: "\e961";
}
.subway-file-1:before {
  content: "\e962";
}
.subway-file-2:before {
  content: "\e963";
}
.subway-file-3:before {
  content: "\e964";
}
.subway-file-4:before {
  content: "\e965";
}
.subway-file-5:before {
  content: "\e966";
}
.subway-file-6:before {
  content: "\e967";
}
.subway-file-7:before {
  content: "\e968";
}
.subway-file-8:before {
  content: "\e969";
}
.subway-file-9:before {
  content: "\e96a";
}
.subway-file-10:before {
  content: "\e96b";
}
.subway-file-11:before {
  content: "\e96c";
}
.subway-file-12:before {
  content: "\e96d";
}
.subway-file-13:before {
  content: "\e96e";
}
.subway-file:before {
  content: "\e96f";
}
.subway-folder-1:before {
  content: "\e970";
}
.subway-folder-2:before {
  content: "\e971";
}
.subway-folder-3:before {
  content: "\e972";
}
.subway-folder:before {
  content: "\e973";
}
.subway-fot-screen:before {
  content: "\e974";
}
.subway-four-box:before {
  content: "\e975";
}
.subway-froward-1:before {
  content: "\e976";
}
.subway-froward:before {
  content: "\e977";
}
.subway-fullscreen:before {
  content: "\e978";
}
.subway-glass:before {
  content: "\e979";
}
.subway-home-1:before {
  content: "\e97a";
}
.subway-home-2:before {
  content: "\e97b";
}
.subway-home-3:before {
  content: "\e97c";
}
.subway-home:before {
  content: "\e97d";
}
.subway-hulf-of-circle-2:before {
  content: "\e97e";
}
.subway-hurt-1:before {
  content: "\e97f";
}
.subway-hurt-3:before {
  content: "\e980";
}
.subway-hurt:before {
  content: "\e981";
}
.subway-id-card-1:before {
  content: "\e982";
}
.subway-id-card:before {
  content: "\e983";
}
.subway-image:before {
  content: "\e984";
}
.subway-join-corner-arrow-1:before {
  content: "\e985";
}
.subway-join-corner-arrow-2:before {
  content: "\e986";
}
.subway-join-corner-arrow-3:before {
  content: "\e987";
}
.subway-join-corner-arrow-4:before {
  content: "\e988";
}
.subway-join-corner-arrow-5:before {
  content: "\e989";
}
.subway-join-corner-arrow-6:before {
  content: "\e98a";
}
.subway-key:before {
  content: "\e98b";
}
.subway-left-arrow-1:before {
  content: "\e98c";
}
.subway-left-arrow:before {
  content: "\e98d";
}
.subway-left-down-corner-arrow-1:before {
  content: "\e98e";
}
.subway-left-down-corner-arrow:before {
  content: "\e98f";
}
.subway-left-up-corner-arrow-1:before {
  content: "\e990";
}
.subway-left-up-corner-arrow:before {
  content: "\e991";
}
.subway-like:before {
  content: "\e992";
}
.subway-location-1:before {
  content: "\e993";
}
.subway-location-2:before {
  content: "\e994";
}
.subway-location-3:before {
  content: "\e995";
}
.subway-location:before {
  content: "\e996";
}
.subway-lock-1:before {
  content: "\e997";
}
.subway-lock-2:before {
  content: "\e998";
}
.subway-lock:before {
  content: "\e999";
}
.subway-magic:before {
  content: "\e99a";
}
.subway-mail-icon-1:before {
  content: "\e99b";
}
.subway-mail-icon-2:before {
  content: "\e99c";
}
.subway-mail-icon:before {
  content: "\e99d";
}
.subway-mark-1:before {
  content: "\e99e";
}
.subway-mark-2:before {
  content: "\e99f";
}
.subway-mark-3:before {
  content: "\e9a0";
}
.subway-mark-4:before {
  content: "\e9a1";
}
.subway-mark:before {
  content: "\e9a2";
}
.subway-massage-1:before {
  content: "\e9a3";
}
.subway-massage:before {
  content: "\e9a4";
}
.subway-media:before {
  content: "\e9a5";
}
.subway-memori-card:before {
  content: "\e9a6";
}
.subway-menu:before {
  content: "\e9a7";
}
.subway-mic:before {
  content: "\e9a8";
}
.subway-missing:before {
  content: "\e9a9";
}
.subway-move-1:before {
  content: "\e9aa";
}
.subway-move-2:before {
  content: "\e9ab";
}
.subway-move:before {
  content: "\e9ac";
}
.subway-movie:before {
  content: "\e9ad";
}
.subway-multiply-1:before {
  content: "\e9ae";
}
.subway-multiply:before {
  content: "\e9af";
}
.subway-music:before {
  content: "\e9b0";
}
.subway-musk:before {
  content: "\e9b1";
}
.subway-mute:before {
  content: "\e9b2";
}
.subway-netwark:before {
  content: "\e9b3";
}
.subway-next-1:before {
  content: "\e9b4";
}
.subway-next:before {
  content: "\e9b5";
}
.subway-paragraph-2:before {
  content: "\e9b6";
}
.subway-paragraph-3:before {
  content: "\e9b7";
}
.subway-paragraph-4:before {
  content: "\e9b8";
}
.subway-paragraph-5:before {
  content: "\e9b9";
}
.subway-paragraph-6:before {
  content: "\e9ba";
}
.subway-paragraph-7:before {
  content: "\e9bb";
}
.subway-paragraph-8:before {
  content: "\e9bc";
}
.subway-paragraph-9:before {
  content: "\e9bd";
}
.subway-paragraph:before {
  content: "\e9be";
}
.subway-part-of-circle-1:before {
  content: "\e9bf";
}
.subway-part-of-circle-2:before {
  content: "\e9c0";
}
.subway-part-of-circle-3:before {
  content: "\e9c1";
}
.subway-part-of-circle-4:before {
  content: "\e9c2";
}
.subway-part-of-circle-5:before {
  content: "\e9c3";
}
.subway-part-of-circle:before {
  content: "\e9c4";
}
.subway-passing:before {
  content: "\e9c5";
}
.subway-pause-1:before {
  content: "\e9c6";
}
.subway-pause:before {
  content: "\e9c7";
}
.subway-pencil:before {
  content: "\e9c8";
}
.subway-pin-1:before {
  content: "\e9c9";
}
.subway-pin:before {
  content: "\e9ca";
}
.subway-play-1:before {
  content: "\e9cb";
}
.subway-play:before {
  content: "\e9cc";
}
.subway-pound:before {
  content: "\e9cd";
}
.subway-power-batton:before {
  content: "\e9ce";
}
.subway-power:before {
  content: "\e9cf";
}
.subway-previous-1:before {
  content: "\e9d0";
}
.subway-previous:before {
  content: "\e9d1";
}
.subway-print:before {
  content: "\e9d2";
}
.subway-random:before {
  content: "\e9d3";
}
.subway-rectangle-1:before {
  content: "\e9d4";
}
.subway-rectangle-2:before {
  content: "\e9d5";
}
.subway-rectangle-3:before {
  content: "\e9d6";
}
.subway-rectangle-4:before {
  content: "\e9d7";
}
.subway-rectangle:before {
  content: "\e9d8";
}
.subway-rectangular:before {
  content: "\e9d9";
}
.subway-redo-1:before {
  content: "\e9da";
}
.subway-redo-icon:before {
  content: "\e9db";
}
.subway-redo:before {
  content: "\e9dc";
}
.subway-refresh-time:before {
  content: "\e9dd";
}
.subway-remove-playlist:before {
  content: "\e9de";
}
.subway-reply:before {
  content: "\e9df";
}
.subway-right-arrow-1:before {
  content: "\e9e0";
}
.subway-right-arrow:before {
  content: "\e9e1";
}
.subway-right-down-corner-arrow-1:before {
  content: "\e9e2";
}
.subway-right-down-corner-arrow:before {
  content: "\e9e3";
}
.subway-right-up-corner-arrow-1:before {
  content: "\e9e4";
}
.subway-right-up-corner-arrow:before {
  content: "\e9e5";
}
.subway-round-arrow-1:before {
  content: "\e9e6";
}
.subway-round-arrow-2:before {
  content: "\e9e7";
}
.subway-round-arrow-3:before {
  content: "\e9e8";
}
.subway-round-arrow-4:before {
  content: "\e9e9";
}
.subway-round-arrow-5:before {
  content: "\e9ea";
}
.subway-round-arrow-6:before {
  content: "\e9eb";
}
.subway-save:before {
  content: "\e9ec";
}
.subway-search:before {
  content: "\e9ed";
}
.subway-settong:before {
  content: "\e9ee";
}
.subway-share-1:before {
  content: "\e9ef";
}
.subway-share:before {
  content: "\e9f0";
}
.subway-sharing-1:before {
  content: "\e9f1";
}
.subway-sharing:before {
  content: "\e9f2";
}
.subway-shuffile:before {
  content: "\e9f3";
}
.subway-sms-1:before {
  content: "\e9f4";
}
.subway-sms-2:before {
  content: "\e9f5";
}
.subway-sms-3:before {
  content: "\e9f6";
}
.subway-sms-4:before {
  content: "\e9f7";
}
.subway-sms-5:before {
  content: "\e9f8";
}
.subway-sms-6:before {
  content: "\e9f9";
}
.subway-sms-7:before {
  content: "\e9fa";
}
.subway-sms-8:before {
  content: "\e9fb";
}
.subway-sms-9:before {
  content: "\e9fc";
}
.subway-sms:before {
  content: "\e9fd";
}
.subway-sound-1:before {
  content: "\e9fe";
}
.subway-sound-2:before {
  content: "\e9ff";
}
.subway-sound:before {
  content: "\ea00";
}
.subway-star-1:before {
  content: "\ea01";
}
.subway-star:before {
  content: "\ea02";
}
.subway-step-1:before {
  content: "\ea03";
}
.subway-step-2:before {
  content: "\ea04";
}
.subway-step:before {
  content: "\ea05";
}
.subway-stop-1:before {
  content: "\ea06";
}
.subway-stop:before {
  content: "\ea07";
}
.subway-subtraction-1:before {
  content: "\ea08";
}
.subway-subtraction:before {
  content: "\ea09";
}
.subway-switch:before {
  content: "\ea0a";
}
.subway-symbol-1:before {
  content: "\ea0b";
}
.subway-symbol-2:before {
  content: "\ea0c";
}
.subway-symbol:before {
  content: "\ea0d";
}
.subway-tep:before {
  content: "\ea0e";
}
.subway-tick:before {
  content: "\ea0f";
}
.subway-time-1:before {
  content: "\ea10";
}
.subway-time-2:before {
  content: "\ea11";
}
.subway-time-3:before {
  content: "\ea12";
}
.subway-time-4:before {
  content: "\ea13";
}
.subway-time-5:before {
  content: "\ea14";
}
.subway-time:before {
  content: "\ea15";
}
.subway-title:before {
  content: "\ea16";
}
.subway-tool-box-1:before {
  content: "\ea17";
}
.subway-tool-box:before {
  content: "\ea18";
}
.subway-undo-1:before {
  content: "\ea19";
}
.subway-undo-icon:before {
  content: "\ea1a";
}
.subway-undo:before {
  content: "\ea1b";
}
.subway-unlike:before {
  content: "\ea1c";
}
.subway-unlock-1:before {
  content: "\ea1d";
}
.subway-unlock:before {
  content: "\ea1e";
}
.subway-up-2:before {
  content: "\ea1f";
}
.subway-up-arrow-1:before {
  content: "\ea20";
}
.subway-up-arrow:before {
  content: "\ea21";
}
.subway-up:before {
  content: "\ea22";
}
.subway-upload-1:before {
  content: "\ea23";
}
.subway-upload-2:before {
  content: "\ea24";
}
.subway-upload-3:before {
  content: "\ea25";
}
.subway-upload-4:before {
  content: "\ea26";
}
.subway-usd:before {
  content: "\ea27";
}
.subway-video-1:before {
  content: "\ea28";
}
.subway-video:before {
  content: "\ea29";
}
.subway-webcam:before {
  content: "\ea2a";
}
.subway-world-1:before {
  content: "\ea2b";
}
.subway-world:before {
  content: "\ea2c";
}
.subway-write-1:before {
  content: "\ea2d";
}
.subway-write:before {
  content: "\ea2e";
}
.subway-zip:before {
  content: "\ea2f";
}
.subway-zoom-out:before {
  content: "\ea30";
}
.subway-zoom-in:before {
  content: "\ea31";
}
