@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?hy0xsg');
    src: url('../fonts/icomoon.eot?hy0xsg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?hy0xsg') format('truetype'),
    url('../fonts/icomoon.woff?hy0xsg') format('woff'),
    url('../fonts/icomoon.svg?hy0xsg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icm:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icm-home:before {
    content: "\e900";
}

.icm-home2:before {
    content: "\e901";
}

.icm-home3:before {
    content: "\e902";
}

.icm-office:before {
    content: "\e903";
}

.icm-newspaper:before {
    content: "\e904";
}

.icm-pencil:before {
    content: "\e905";
}

.icm-pencil2:before {
    content: "\e906";
}

.icm-quill:before {
    content: "\e907";
}

.icm-pen:before {
    content: "\e908";
}

.icm-blog:before {
    content: "\e909";
}

.icm-eyedropper:before {
    content: "\e90a";
}

.icm-droplet:before {
    content: "\e90b";
}

.icm-paint-format:before {
    content: "\e90c";
}

.icm-image:before {
    content: "\e90d";
}

.icm-images:before {
    content: "\e90e";
}

.icm-camera:before {
    content: "\e90f";
}

.icm-headphones:before {
    content: "\e910";
}

.icm-music:before {
    content: "\e911";
}

.icm-play:before {
    content: "\e912";
}

.icm-film:before {
    content: "\e913";
}

.icm-video-camera:before {
    content: "\e914";
}

.icm-dice:before {
    content: "\e915";
}

.icm-pacman:before {
    content: "\e916";
}

.icm-spades:before {
    content: "\e917";
}

.icm-clubs:before {
    content: "\e918";
}

.icm-diamonds:before {
    content: "\e919";
}

.icm-bullhorn:before {
    content: "\e91a";
}

.icm-connection:before {
    content: "\e91b";
}

.icm-podcast:before {
    content: "\e91c";
}

.icm-feed:before {
    content: "\e91d";
}

.icm-mic:before {
    content: "\e91e";
}

.icm-book:before {
    content: "\e91f";
}

.icm-books:before {
    content: "\e920";
}

.icm-library:before {
    content: "\e921";
}

.icm-file-text:before {
    content: "\e922";
}

.icm-profile:before {
    content: "\e923";
}

.icm-file-empty:before {
    content: "\e924";
}

.icm-files-empty:before {
    content: "\e925";
}

.icm-file-text2:before {
    content: "\e926";
}

.icm-file-picture:before {
    content: "\e927";
}

.icm-file-music:before {
    content: "\e928";
}

.icm-file-play:before {
    content: "\e929";
}

.icm-file-video:before {
    content: "\e92a";
}

.icm-file-zip:before {
    content: "\e92b";
}

.icm-copy:before {
    content: "\e92c";
}

.icm-paste:before {
    content: "\e92d";
}

.icm-stack:before {
    content: "\e92e";
}

.icm-folder:before {
    content: "\e92f";
}

.icm-folder-open:before {
    content: "\e930";
}

.icm-folder-plus:before {
    content: "\e931";
}

.icm-folder-minus:before {
    content: "\e932";
}

.icm-folder-download:before {
    content: "\e933";
}

.icm-folder-upload:before {
    content: "\e934";
}

.icm-price-tag:before {
    content: "\e935";
}

.icm-price-tags:before {
    content: "\e936";
}

.icm-barcode:before {
    content: "\e937";
}

.icm-qrcode:before {
    content: "\e938";
}

.icm-ticket:before {
    content: "\e939";
}

.icm-cart:before {
    content: "\e93a";
}

.icm-coin-dollar:before {
    content: "\e93b";
}

.icm-coin-euro:before {
    content: "\e93c";
}

.icm-coin-pound:before {
    content: "\e93d";
}

.icm-coin-yen:before {
    content: "\e93e";
}

.icm-credit-card:before {
    content: "\e93f";
}

.icm-calculator:before {
    content: "\e940";
}

.icm-lifebuoy:before {
    content: "\e941";
}

.icm-phone:before {
    content: "\e942";
}

.icm-phone-hang-up:before {
    content: "\e943";
}

.icm-address-book:before {
    content: "\e944";
}

.icm-envelop:before {
    content: "\e945";
}

.icm-pushpin:before {
    content: "\e946";
}

.icm-location:before {
    content: "\e947";
}

.icm-location2:before {
    content: "\e948";
}

.icm-compass:before {
    content: "\e949";
}

.icm-compass2:before {
    content: "\e94a";
}

.icm-map:before {
    content: "\e94b";
}

.icm-map2:before {
    content: "\e94c";
}

.icm-history:before {
    content: "\e94d";
}

.icm-clock:before {
    content: "\e94e";
}

.icm-clock2:before {
    content: "\e94f";
}

.icm-alarm:before {
    content: "\e950";
}

.icm-bell:before {
    content: "\e951";
}

.icm-stopwatch:before {
    content: "\e952";
}

.icm-calendar:before {
    content: "\e953";
}

.icm-printer:before {
    content: "\e954";
}

.icm-keyboard:before {
    content: "\e955";
}

.icm-display:before {
    content: "\e956";
}

.icm-laptop:before {
    content: "\e957";
}

.icm-mobile:before {
    content: "\e958";
}

.icm-mobile2:before {
    content: "\e959";
}

.icm-tablet:before {
    content: "\e95a";
}

.icm-tv:before {
    content: "\e95b";
}

.icm-drawer:before {
    content: "\e95c";
}

.icm-drawer2:before {
    content: "\e95d";
}

.icm-box-add:before {
    content: "\e95e";
}

.icm-box-remove:before {
    content: "\e95f";
}

.icm-download:before {
    content: "\e960";
}

.icm-upload:before {
    content: "\e961";
}

.icm-floppy-disk:before {
    content: "\e962";
}

.icm-drive:before {
    content: "\e963";
}

.icm-database:before {
    content: "\e964";
}

.icm-undo:before {
    content: "\e965";
}

.icm-redo:before {
    content: "\e966";
}

.icm-undo2:before {
    content: "\e967";
}

.icm-redo2:before {
    content: "\e968";
}

.icm-forward:before {
    content: "\e969";
}

.icm-reply:before {
    content: "\e96a";
}

.icm-bubble:before {
    content: "\e96b";
}

.icm-bubbles:before {
    content: "\e96c";
}

.icm-bubbles2:before {
    content: "\e96d";
}

.icm-bubble2:before {
    content: "\e96e";
}

.icm-bubbles3:before {
    content: "\e96f";
}

.icm-bubbles4:before {
    content: "\e970";
}

.icm-user:before {
    content: "\e971";
}

.icm-users:before {
    content: "\e972";
}

.icm-user-plus:before {
    content: "\e973";
}

.icm-user-minus:before {
    content: "\e974";
}

.icm-user-check:before {
    content: "\e975";
}

.icm-user-tie:before {
    content: "\e976";
}

.icm-quotes-left:before {
    content: "\e977";
}

.icm-quotes-right:before {
    content: "\e978";
}

.icm-hour-glass:before {
    content: "\e979";
}

.icm-spinner:before {
    content: "\e97a";
}

.icm-spinner2:before {
    content: "\e97b";
}

.icm-spinner3:before {
    content: "\e97c";
}

.icm-spinner4:before {
    content: "\e97d";
}

.icm-spinner5:before {
    content: "\e97e";
}

.icm-spinner6:before {
    content: "\e97f";
}

.icm-spinner7:before {
    content: "\e980";
}

.icm-spinner8:before {
    content: "\e981";
}

.icm-spinner9:before {
    content: "\e982";
}

.icm-spinner10:before {
    content: "\e983";
}

.icm-spinner11:before {
    content: "\e984";
}

.icm-binoculars:before {
    content: "\e985";
}

.icm-search:before {
    content: "\e986";
}

.icm-zoom-in:before {
    content: "\e987";
}

.icm-zoom-out:before {
    content: "\e988";
}

.icm-enlarge:before {
    content: "\e989";
}

.icm-shrink:before {
    content: "\e98a";
}

.icm-enlarge2:before {
    content: "\e98b";
}

.icm-shrink2:before {
    content: "\e98c";
}

.icm-key:before {
    content: "\e98d";
}

.icm-key2:before {
    content: "\e98e";
}

.icm-lock:before {
    content: "\e98f";
}

.icm-unlocked:before {
    content: "\e990";
}

.icm-wrench:before {
    content: "\e991";
}

.icm-equalizer:before {
    content: "\e992";
}

.icm-equalizer2:before {
    content: "\e993";
}

.icm-cog:before {
    content: "\e994";
}

.icm-cogs:before {
    content: "\e995";
}

.icm-hammer:before {
    content: "\e996";
}

.icm-magic-wand:before {
    content: "\e997";
}

.icm-aid-kit:before {
    content: "\e998";
}

.icm-bug:before {
    content: "\e999";
}

.icm-pie-chart:before {
    content: "\e99a";
}

.icm-stats-dots:before {
    content: "\e99b";
}

.icm-stats-bars:before {
    content: "\e99c";
}

.icm-stats-bars2:before {
    content: "\e99d";
}

.icm-trophy:before {
    content: "\e99e";
}

.icm-gift:before {
    content: "\e99f";
}

.icm-glass:before {
    content: "\e9a0";
}

.icm-glass2:before {
    content: "\e9a1";
}

.icm-mug:before {
    content: "\e9a2";
}

.icm-spoon-knife:before {
    content: "\e9a3";
}

.icm-leaf:before {
    content: "\e9a4";
}

.icm-rocket:before {
    content: "\e9a5";
}

.icm-meter:before {
    content: "\e9a6";
}

.icm-meter2:before {
    content: "\e9a7";
}

.icm-hammer2:before {
    content: "\e9a8";
}

.icm-fire:before {
    content: "\e9a9";
}

.icm-lab:before {
    content: "\e9aa";
}

.icm-magnet:before {
    content: "\e9ab";
}

.icm-bin:before {
    content: "\e9ac";
}

.icm-bin2:before {
    content: "\e9ad";
}

.icm-briefcase:before {
    content: "\e9ae";
}

.icm-airplane:before {
    content: "\e9af";
}

.icm-truck:before {
    content: "\e9b0";
}

.icm-road:before {
    content: "\e9b1";
}

.icm-accessibility:before {
    content: "\e9b2";
}

.icm-target:before {
    content: "\e9b3";
}

.icm-shield:before {
    content: "\e9b4";
}

.icm-power:before {
    content: "\e9b5";
}

.icm-switch:before {
    content: "\e9b6";
}

.icm-power-cord:before {
    content: "\e9b7";
}

.icm-clipboard:before {
    content: "\e9b8";
}

.icm-list-numbered:before {
    content: "\e9b9";
}

.icm-list:before {
    content: "\e9ba";
}

.icm-list2:before {
    content: "\e9bb";
}

.icm-tree:before {
    content: "\e9bc";
}

.icm-menu:before {
    content: "\e9bd";
}

.icm-menu2:before {
    content: "\e9be";
}

.icm-menu3:before {
    content: "\e9bf";
}

.icm-menu4:before {
    content: "\e9c0";
}

.icm-cloud:before {
    content: "\e9c1";
}

.icm-cloud-download:before {
    content: "\e9c2";
}

.icm-cloud-upload:before {
    content: "\e9c3";
}

.icm-cloud-check:before {
    content: "\e9c4";
}

.icm-download2:before {
    content: "\e9c5";
}

.icm-upload2:before {
    content: "\e9c6";
}

.icm-download3:before {
    content: "\e9c7";
}

.icm-upload3:before {
    content: "\e9c8";
}

.icm-sphere:before {
    content: "\e9c9";
}

.icm-earth:before {
    content: "\e9ca";
}

.icm-link:before {
    content: "\e9cb";
}

.icm-flag:before {
    content: "\e9cc";
}

.icm-attachment:before {
    content: "\e9cd";
}

.icm-eye:before {
    content: "\e9ce";
}

.icm-eye-plus:before {
    content: "\e9cf";
}

.icm-eye-minus:before {
    content: "\e9d0";
}

.icm-eye-blocked:before {
    content: "\e9d1";
}

.icm-bookmark:before {
    content: "\e9d2";
}

.icm-bookmarks:before {
    content: "\e9d3";
}

.icm-sun:before {
    content: "\e9d4";
}

.icm-contrast:before {
    content: "\e9d5";
}

.icm-brightness-contrast:before {
    content: "\e9d6";
}

.icm-star-empty:before {
    content: "\e9d7";
}

.icm-star-half:before {
    content: "\e9d8";
}

.icm-star-full:before {
    content: "\e9d9";
}

.icm-heart:before {
    content: "\e9da";
}

.icm-heart-broken:before {
    content: "\e9db";
}

.icm-man:before {
    content: "\e9dc";
}

.icm-woman:before {
    content: "\e9dd";
}

.icm-man-woman:before {
    content: "\e9de";
}

.icm-happy:before {
    content: "\e9df";
}

.icm-happy2:before {
    content: "\e9e0";
}

.icm-smile:before {
    content: "\e9e1";
}

.icm-smile2:before {
    content: "\e9e2";
}

.icm-tongue:before {
    content: "\e9e3";
}

.icm-tongue2:before {
    content: "\e9e4";
}

.icm-sad:before {
    content: "\e9e5";
}

.icm-sad2:before {
    content: "\e9e6";
}

.icm-wink:before {
    content: "\e9e7";
}

.icm-wink2:before {
    content: "\e9e8";
}

.icm-grin:before {
    content: "\e9e9";
}

.icm-grin2:before {
    content: "\e9ea";
}

.icm-cool:before {
    content: "\e9eb";
}

.icm-cool2:before {
    content: "\e9ec";
}

.icm-angry:before {
    content: "\e9ed";
}

.icm-angry2:before {
    content: "\e9ee";
}

.icm-evil:before {
    content: "\e9ef";
}

.icm-evil2:before {
    content: "\e9f0";
}

.icm-shocked:before {
    content: "\e9f1";
}

.icm-shocked2:before {
    content: "\e9f2";
}

.icm-baffled:before {
    content: "\e9f3";
}

.icm-baffled2:before {
    content: "\e9f4";
}

.icm-confused:before {
    content: "\e9f5";
}

.icm-confused2:before {
    content: "\e9f6";
}

.icm-neutral:before {
    content: "\e9f7";
}

.icm-neutral2:before {
    content: "\e9f8";
}

.icm-hipster:before {
    content: "\e9f9";
}

.icm-hipster2:before {
    content: "\e9fa";
}

.icm-wondering:before {
    content: "\e9fb";
}

.icm-wondering2:before {
    content: "\e9fc";
}

.icm-sleepy:before {
    content: "\e9fd";
}

.icm-sleepy2:before {
    content: "\e9fe";
}

.icm-frustrated:before {
    content: "\e9ff";
}

.icm-frustrated2:before {
    content: "\ea00";
}

.icm-crying:before {
    content: "\ea01";
}

.icm-crying2:before {
    content: "\ea02";
}

.icm-point-up:before {
    content: "\ea03";
}

.icm-point-right:before {
    content: "\ea04";
}

.icm-point-down:before {
    content: "\ea05";
}

.icm-point-left:before {
    content: "\ea06";
}

.icm-warning:before {
    content: "\ea07";
}

.icm-notification:before {
    content: "\ea08";
}

.icm-question:before {
    content: "\ea09";
}

.icm-plus:before {
    content: "\ea0a";
}

.icm-minus:before {
    content: "\ea0b";
}

.icm-info:before {
    content: "\ea0c";
}

.icm-cancel-circle:before {
    content: "\ea0d";
}

.icm-blocked:before {
    content: "\ea0e";
}

.icm-cross:before {
    content: "\ea0f";
}

.icm-checkmark:before {
    content: "\ea10";
}

.icm-checkmark2:before {
    content: "\ea11";
}

.icm-spell-check:before {
    content: "\ea12";
}

.icm-enter:before {
    content: "\ea13";
}

.icm-exit:before {
    content: "\ea14";
}

.icm-play2:before {
    content: "\ea15";
}

.icm-pause:before {
    content: "\ea16";
}

.icm-stop:before {
    content: "\ea17";
}

.icm-previous:before {
    content: "\ea18";
}

.icm-next:before {
    content: "\ea19";
}

.icm-backward:before {
    content: "\ea1a";
}

.icm-forward2:before {
    content: "\ea1b";
}

.icm-play3:before {
    content: "\ea1c";
}

.icm-pause2:before {
    content: "\ea1d";
}

.icm-stop2:before {
    content: "\ea1e";
}

.icm-backward2:before {
    content: "\ea1f";
}

.icm-forward3:before {
    content: "\ea20";
}

.icm-first:before {
    content: "\ea21";
}

.icm-last:before {
    content: "\ea22";
}

.icm-previous2:before {
    content: "\ea23";
}

.icm-next2:before {
    content: "\ea24";
}

.icm-eject:before {
    content: "\ea25";
}

.icm-volume-high:before {
    content: "\ea26";
}

.icm-volume-medium:before {
    content: "\ea27";
}

.icm-volume-low:before {
    content: "\ea28";
}

.icm-volume-mute:before {
    content: "\ea29";
}

.icm-volume-mute2:before {
    content: "\ea2a";
}

.icm-volume-increase:before {
    content: "\ea2b";
}

.icm-volume-decrease:before {
    content: "\ea2c";
}

.icm-loop:before {
    content: "\ea2d";
}

.icm-loop2:before {
    content: "\ea2e";
}

.icm-infinite:before {
    content: "\ea2f";
}

.icm-shuffle:before {
    content: "\ea30";
}

.icm-arrow-up-left:before {
    content: "\ea31";
}

.icm-arrow-up:before {
    content: "\ea32";
}

.icm-arrow-up-right:before {
    content: "\ea33";
}

.icm-arrow-right:before {
    content: "\ea34";
}

.icm-arrow-down-right:before {
    content: "\ea35";
}

.icm-arrow-down:before {
    content: "\ea36";
}

.icm-arrow-down-left:before {
    content: "\ea37";
}

.icm-arrow-left:before {
    content: "\ea38";
}

.icm-arrow-up-left2:before {
    content: "\ea39";
}

.icm-arrow-up2:before {
    content: "\ea3a";
}

.icm-arrow-up-right2:before {
    content: "\ea3b";
}

.icm-arrow-right2:before {
    content: "\ea3c";
}

.icm-arrow-down-right2:before {
    content: "\ea3d";
}

.icm-arrow-down2:before {
    content: "\ea3e";
}

.icm-arrow-down-left2:before {
    content: "\ea3f";
}

.icm-arrow-left2:before {
    content: "\ea40";
}

.icm-circle-up:before {
    content: "\ea41";
}

.icm-circle-right:before {
    content: "\ea42";
}

.icm-circle-down:before {
    content: "\ea43";
}

.icm-circle-left:before {
    content: "\ea44";
}

.icm-tab:before {
    content: "\ea45";
}

.icm-move-up:before {
    content: "\ea46";
}

.icm-move-down:before {
    content: "\ea47";
}

.icm-sort-alpha-asc:before {
    content: "\ea48";
}

.icm-sort-alpha-desc:before {
    content: "\ea49";
}

.icm-sort-numeric-asc:before {
    content: "\ea4a";
}

.icm-sort-numberic-desc:before {
    content: "\ea4b";
}

.icm-sort-amount-asc:before {
    content: "\ea4c";
}

.icm-sort-amount-desc:before {
    content: "\ea4d";
}

.icm-command:before {
    content: "\ea4e";
}

.icm-shift:before {
    content: "\ea4f";
}

.icm-ctrl:before {
    content: "\ea50";
}

.icm-opt:before {
    content: "\ea51";
}

.icm-checkbox-checked:before {
    content: "\ea52";
}

.icm-checkbox-unchecked:before {
    content: "\ea53";
}

.icm-radio-checked:before {
    content: "\ea54";
}

.icm-radio-checked2:before {
    content: "\ea55";
}

.icm-radio-unchecked:before {
    content: "\ea56";
}

.icm-crop:before {
    content: "\ea57";
}

.icm-make-group:before {
    content: "\ea58";
}

.icm-ungroup:before {
    content: "\ea59";
}

.icm-scissors:before {
    content: "\ea5a";
}

.icm-filter:before {
    content: "\ea5b";
}

.icm-font:before {
    content: "\ea5c";
}

.icm-ligature:before {
    content: "\ea5d";
}

.icm-ligature2:before {
    content: "\ea5e";
}

.icm-text-height:before {
    content: "\ea5f";
}

.icm-text-width:before {
    content: "\ea60";
}

.icm-font-size:before {
    content: "\ea61";
}

.icm-bold:before {
    content: "\ea62";
}

.icm-underline:before {
    content: "\ea63";
}

.icm-italic:before {
    content: "\ea64";
}

.icm-strikethrough:before {
    content: "\ea65";
}

.icm-omega:before {
    content: "\ea66";
}

.icm-sigma:before {
    content: "\ea67";
}

.icm-page-break:before {
    content: "\ea68";
}

.icm-superscript:before {
    content: "\ea69";
}

.icm-subscript:before {
    content: "\ea6a";
}

.icm-superscript2:before {
    content: "\ea6b";
}

.icm-subscript2:before {
    content: "\ea6c";
}

.icm-text-color:before {
    content: "\ea6d";
}

.icm-pagebreak:before {
    content: "\ea6e";
}

.icm-clear-formatting:before {
    content: "\ea6f";
}

.icm-table:before {
    content: "\ea70";
}

.icm-table2:before {
    content: "\ea71";
}

.icm-insert-template:before {
    content: "\ea72";
}

.icm-pilcrow:before {
    content: "\ea73";
}

.icm-ltr:before {
    content: "\ea74";
}

.icm-rtl:before {
    content: "\ea75";
}

.icm-section:before {
    content: "\ea76";
}

.icm-paragraph-left:before {
    content: "\ea77";
}

.icm-paragraph-center:before {
    content: "\ea78";
}

.icm-paragraph-right:before {
    content: "\ea79";
}

.icm-paragraph-justify:before {
    content: "\ea7a";
}

.icm-indent-increase:before {
    content: "\ea7b";
}

.icm-indent-decrease:before {
    content: "\ea7c";
}

.icm-share:before {
    content: "\ea7d";
}

.icm-new-tab:before {
    content: "\ea7e";
}

.icm-embed:before {
    content: "\ea7f";
}

.icm-embed2:before {
    content: "\ea80";
}

.icm-terminal:before {
    content: "\ea81";
}

.icm-share2:before {
    content: "\ea82";
}

.icm-mail:before {
    content: "\ea83";
}

.icm-mail2:before {
    content: "\ea84";
}

.icm-mail3:before {
    content: "\ea85";
}

.icm-mail4:before {
    content: "\ea86";
}

.icm-amazon:before {
    content: "\ea87";
}

.icm-google:before {
    content: "\ea88";
}

.icm-google2:before {
    content: "\ea89";
}

.icm-google3:before {
    content: "\ea8a";
}

.icm-google-plus:before {
    content: "\ea8b";
}

.icm-google-plus2:before {
    content: "\ea8c";
}

.icm-google-plus3:before {
    content: "\ea8d";
}

.icm-hangouts:before {
    content: "\ea8e";
}

.icm-google-drive:before {
    content: "\ea8f";
}

.icm-facebook:before {
    content: "\ea90";
}

.icm-facebook2:before {
    content: "\ea91";
}

.icm-instagram:before {
    content: "\ea92";
}

.icm-whatsapp:before {
    content: "\ea93";
}

.icm-spotify:before {
    content: "\ea94";
}

.icm-telegram:before {
    content: "\ea95";
}

.icm-twitter:before {
    content: "\ea96";
}

.icm-vine:before {
    content: "\ea97";
}

.icm-vk:before {
    content: "\ea98";
}

.icm-renren:before {
    content: "\ea99";
}

.icm-sina-weibo:before {
    content: "\ea9a";
}

.icm-rss:before {
    content: "\ea9b";
}

.icm-rss2:before {
    content: "\ea9c";
}

.icm-youtube:before {
    content: "\ea9d";
}

.icm-youtube2:before {
    content: "\ea9e";
}

.icm-twitch:before {
    content: "\ea9f";
}

.icm-vimeo:before {
    content: "\eaa0";
}

.icm-vimeo2:before {
    content: "\eaa1";
}

.icm-lanyrd:before {
    content: "\eaa2";
}

.icm-flickr:before {
    content: "\eaa3";
}

.icm-flickr2:before {
    content: "\eaa4";
}

.icm-flickr3:before {
    content: "\eaa5";
}

.icm-flickr4:before {
    content: "\eaa6";
}

.icm-dribbble:before {
    content: "\eaa7";
}

.icm-behance:before {
    content: "\eaa8";
}

.icm-behance2:before {
    content: "\eaa9";
}

.icm-deviantart:before {
    content: "\eaaa";
}

.icm-500px:before {
    content: "\eaab";
}

.icm-steam:before {
    content: "\eaac";
}

.icm-steam2:before {
    content: "\eaad";
}

.icm-dropbox:before {
    content: "\eaae";
}

.icm-onedrive:before {
    content: "\eaaf";
}

.icm-github:before {
    content: "\eab0";
}

.icm-npm:before {
    content: "\eab1";
}

.icm-basecamp:before {
    content: "\eab2";
}

.icm-trello:before {
    content: "\eab3";
}

.icm-wordpress:before {
    content: "\eab4";
}

.icm-joomla:before {
    content: "\eab5";
}

.icm-ello:before {
    content: "\eab6";
}

.icm-blogger:before {
    content: "\eab7";
}

.icm-blogger2:before {
    content: "\eab8";
}

.icm-tumblr:before {
    content: "\eab9";
}

.icm-tumblr2:before {
    content: "\eaba";
}

.icm-yahoo:before {
    content: "\eabb";
}

.icm-yahoo2:before {
    content: "\eabc";
}

.icm-tux:before {
    content: "\eabd";
}

.icm-appleinc:before {
    content: "\eabe";
}

.icm-finder:before {
    content: "\eabf";
}

.icm-android:before {
    content: "\eac0";
}

.icm-windows:before {
    content: "\eac1";
}

.icm-windows8:before {
    content: "\eac2";
}

.icm-soundcloud:before {
    content: "\eac3";
}

.icm-soundcloud2:before {
    content: "\eac4";
}

.icm-skype:before {
    content: "\eac5";
}

.icm-reddit:before {
    content: "\eac6";
}

.icm-hackernews:before {
    content: "\eac7";
}

.icm-wikipedia:before {
    content: "\eac8";
}

.icm-linkedin:before {
    content: "\eac9";
}

.icm-linkedin2:before {
    content: "\eaca";
}

.icm-lastfm:before {
    content: "\eacb";
}

.icm-lastfm2:before {
    content: "\eacc";
}

.icm-delicious:before {
    content: "\eacd";
}

.icm-stumbleupon:before {
    content: "\eace";
}

.icm-stumbleupon2:before {
    content: "\eacf";
}

.icm-stackoverflow:before {
    content: "\ead0";
}

.icm-pinterest:before {
    content: "\ead1";
}

.icm-pinterest2:before {
    content: "\ead2";
}

.icm-xing:before {
    content: "\ead3";
}

.icm-xing2:before {
    content: "\ead4";
}

.icm-flattr:before {
    content: "\ead5";
}

.icm-foursquare:before {
    content: "\ead6";
}

.icm-yelp:before {
    content: "\ead7";
}

.icm-paypal:before {
    content: "\ead8";
}

.icm-chrome:before {
    content: "\ead9";
}

.icm-firefox:before {
    content: "\eada";
}

.icm-IE:before {
    content: "\eadb";
}

.icm-edge:before {
    content: "\eadc";
}

.icm-safari:before {
    content: "\eadd";
}

.icm-opera:before {
    content: "\eade";
}

.icm-file-pdf:before {
    content: "\eadf";
}

.icm-file-openoffice:before {
    content: "\eae0";
}

.icm-file-word:before {
    content: "\eae1";
}

.icm-file-excel:before {
    content: "\eae2";
}

.icm-libreoffice:before {
    content: "\eae3";
}

.icm-html-five:before {
    content: "\eae4";
}

.icm-html-five2:before {
    content: "\eae5";
}

.icm-css3:before {
    content: "\eae6";
}

.icm-git:before {
    content: "\eae7";
}

.icm-codepen:before {
    content: "\eae8";
}

.icm-svg:before {
    content: "\eae9";
}

.icm-IcoMoon:before {
    content: "\eaea";
}

