@font-face {
	font-family: 'captainicon';
	src:url('../fonts/captainicon.eot?-1i2a56');
	src:url('../fonts/captainicon.eot?#iefix-1i2a56') format('embedded-opentype'),
		url('../fonts/captainicon.woff?-1i2a56') format('woff'),
		url('../fonts/captainicon.ttf?-1i2a56') format('truetype'),
		url('../fonts/captainicon.svg?-1i2a56#captainicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="captainicon-"], [class*=" captainicon-"] {
	font-family: 'captainicon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.captainicon-001:before {
	content: "\e600";
}
.captainicon-002:before {
	content: "\e601";
}
.captainicon-003:before {
	content: "\e602";
}
.captainicon-004:before {
	content: "\e603";
}
.captainicon-005:before {
	content: "\e604";
}
.captainicon-006:before {
	content: "\e605";
}
.captainicon-007:before {
	content: "\e606";
}
.captainicon-008:before {
	content: "\e607";
}
.captainicon-009:before {
	content: "\e608";
}
.captainicon-010:before {
	content: "\e609";
}
.captainicon-011:before {
	content: "\e60a";
}
.captainicon-012:before {
	content: "\e60b";
}
.captainicon-013:before {
	content: "\e60c";
}
.captainicon-014:before {
	content: "\e60d";
}
.captainicon-015:before {
	content: "\e60e";
}
.captainicon-016:before {
	content: "\e60f";
}
.captainicon-017:before {
	content: "\e610";
}
.captainicon-018:before {
	content: "\e611";
}
.captainicon-019:before {
	content: "\e612";
}
.captainicon-020:before {
	content: "\e613";
}
.captainicon-021:before {
	content: "\e614";
}
.captainicon-022:before {
	content: "\e615";
}
.captainicon-023:before {
	content: "\e616";
}
.captainicon-024:before {
	content: "\e617";
}
.captainicon-025:before {
	content: "\e618";
}
.captainicon-026:before {
	content: "\e619";
}
.captainicon-027:before {
	content: "\e61a";
}
.captainicon-028:before {
	content: "\e61b";
}
.captainicon-029:before {
	content: "\e61c";
}
.captainicon-030:before {
	content: "\e61d";
}
.captainicon-031:before {
	content: "\e61e";
}
.captainicon-032:before {
	content: "\e61f";
}
.captainicon-033:before {
	content: "\e620";
}
.captainicon-034:before {
	content: "\e621";
}
.captainicon-035:before {
	content: "\e622";
}
.captainicon-036:before {
	content: "\e623";
}
.captainicon-037:before {
	content: "\e624";
}
.captainicon-038:before {
	content: "\e625";
}
.captainicon-039:before {
	content: "\e626";
}
.captainicon-040:before {
	content: "\e627";
}
.captainicon-041:before {
	content: "\e628";
}
.captainicon-042:before {
	content: "\e629";
}
.captainicon-043:before {
	content: "\e62a";
}
.captainicon-044:before {
	content: "\e62b";
}
.captainicon-045:before {
	content: "\e62c";
}
.captainicon-046:before {
	content: "\e62d";
}
.captainicon-047:before {
	content: "\e62e";
}
.captainicon-048:before {
	content: "\e62f";
}
.captainicon-049:before {
	content: "\e630";
}
.captainicon-050:before {
	content: "\e631";
}
.captainicon-051:before {
	content: "\e632";
}
.captainicon-052:before {
	content: "\e633";
}
.captainicon-053:before {
	content: "\e634";
}
.captainicon-054:before {
	content: "\e635";
}
.captainicon-055:before {
	content: "\e636";
}
.captainicon-056:before {
	content: "\e637";
}
.captainicon-057:before {
	content: "\e638";
}
.captainicon-058:before {
	content: "\e639";
}
.captainicon-059:before {
	content: "\e63a";
}
.captainicon-060:before {
	content: "\e63b";
}
.captainicon-061:before {
	content: "\e63c";
}
.captainicon-062:before {
	content: "\e63d";
}
.captainicon-063:before {
	content: "\e63e";
}
.captainicon-064:before {
	content: "\e63f";
}
.captainicon-065:before {
	content: "\e640";
}
.captainicon-066:before {
	content: "\e641";
}
.captainicon-067:before {
	content: "\e642";
}
.captainicon-068:before {
	content: "\e643";
}
.captainicon-069:before {
	content: "\e644";
}
.captainicon-070:before {
	content: "\e645";
}
.captainicon-071:before {
	content: "\e646";
}
.captainicon-072:before {
	content: "\e647";
}
.captainicon-073:before {
	content: "\e648";
}
.captainicon-074:before {
	content: "\e649";
}
.captainicon-075:before {
	content: "\e64a";
}
.captainicon-076:before {
	content: "\e64b";
}
.captainicon-077:before {
	content: "\e64c";
}
.captainicon-078:before {
	content: "\e64d";
}
.captainicon-079:before {
	content: "\e64e";
}
.captainicon-080:before {
	content: "\e64f";
}
.captainicon-081:before {
	content: "\e650";
}
.captainicon-082:before {
	content: "\e651";
}
.captainicon-083:before {
	content: "\e652";
}
.captainicon-084:before {
	content: "\e653";
}
.captainicon-085:before {
	content: "\e654";
}
.captainicon-086:before {
	content: "\e655";
}
.captainicon-087:before {
	content: "\e656";
}
.captainicon-088:before {
	content: "\e657";
}
.captainicon-089:before {
	content: "\e658";
}
.captainicon-090:before {
	content: "\e659";
}
.captainicon-091:before {
	content: "\e65a";
}
.captainicon-092:before {
	content: "\e65b";
}
.captainicon-093:before {
	content: "\e65c";
}
.captainicon-094:before {
	content: "\e65d";
}
.captainicon-095:before {
	content: "\e65e";
}
.captainicon-096:before {
	content: "\e65f";
}
.captainicon-097:before {
	content: "\e660";
}
.captainicon-098:before {
	content: "\e661";
}
.captainicon-099:before {
	content: "\e662";
}
.captainicon-100:before {
	content: "\e663";
}
.captainicon-101:before {
	content: "\e664";
}
.captainicon-102:before {
	content: "\e665";
}
.captainicon-103:before {
	content: "\e666";
}
.captainicon-104:before {
	content: "\e667";
}
.captainicon-105:before {
	content: "\e668";
}
.captainicon-106:before {
	content: "\e669";
}
.captainicon-107:before {
	content: "\e66a";
}
.captainicon-108:before {
	content: "\e66b";
}
.captainicon-109:before {
	content: "\e66c";
}
.captainicon-110:before {
	content: "\e66d";
}
.captainicon-111:before {
	content: "\e66e";
}
.captainicon-112:before {
	content: "\e66f";
}
.captainicon-113:before {
	content: "\e670";
}
.captainicon-114:before {
	content: "\e671";
}
.captainicon-115:before {
	content: "\e672";
}
.captainicon-116:before {
	content: "\e673";
}
.captainicon-117:before {
	content: "\e674";
}
.captainicon-118:before {
	content: "\e675";
}
.captainicon-119:before {
	content: "\e676";
}
.captainicon-120:before {
	content: "\e677";
}
.captainicon-121:before {
	content: "\e678";
}
.captainicon-122:before {
	content: "\e679";
}
.captainicon-123:before {
	content: "\e67a";
}
.captainicon-124:before {
	content: "\e67b";
}
.captainicon-125:before {
	content: "\e67c";
}
.captainicon-126:before {
	content: "\e67d";
}
.captainicon-127:before {
	content: "\e67e";
}
.captainicon-128:before {
	content: "\e67f";
}
.captainicon-129:before {
	content: "\e680";
}
.captainicon-130:before {
	content: "\e681";
}
.captainicon-131:before {
	content: "\e682";
}
.captainicon-132:before {
	content: "\e683";
}
.captainicon-133:before {
	content: "\e684";
}
.captainicon-134:before {
	content: "\e685";
}
.captainicon-135:before {
	content: "\e686";
}
.captainicon-136:before {
	content: "\e687";
}
.captainicon-137:before {
	content: "\e688";
}
.captainicon-138:before {
	content: "\e689";
}
.captainicon-139:before {
	content: "\e68a";
}
.captainicon-140:before {
	content: "\e68b";
}
.captainicon-141:before {
	content: "\e68c";
}
.captainicon-142:before {
	content: "\e68d";
}
.captainicon-143:before {
	content: "\e68e";
}
.captainicon-144:before {
	content: "\e68f";
}
.captainicon-145:before {
	content: "\e690";
}
.captainicon-146:before {
	content: "\e691";
}
.captainicon-147:before {
	content: "\e692";
}
.captainicon-148:before {
	content: "\e693";
}
.captainicon-149:before {
	content: "\e694";
}
.captainicon-150:before {
	content: "\e695";
}
.captainicon-151:before {
	content: "\e696";
}
.captainicon-152:before {
	content: "\e697";
}
.captainicon-153:before {
	content: "\e698";
}
.captainicon-154:before {
	content: "\e699";
}
.captainicon-155:before {
	content: "\e69a";
}
.captainicon-156:before {
	content: "\e69b";
}
.captainicon-157:before {
	content: "\e69c";
}
.captainicon-158:before {
	content: "\e69d";
}
.captainicon-159:before {
	content: "\e69e";
}
.captainicon-160:before {
	content: "\e69f";
}
.captainicon-161:before {
	content: "\e6a0";
}
.captainicon-162:before {
	content: "\e6a1";
}
.captainicon-163:before {
	content: "\e6a2";
}
.captainicon-164:before {
	content: "\e6a3";
}
.captainicon-165:before {
	content: "\e6a4";
}
.captainicon-166:before {
	content: "\e6a5";
}
.captainicon-167:before {
	content: "\e6a6";
}
.captainicon-168:before {
	content: "\e6a7";
}
.captainicon-169:before {
	content: "\e6a8";
}
.captainicon-170:before {
	content: "\e6a9";
}
.captainicon-171:before {
	content: "\e6aa";
}
.captainicon-172:before {
	content: "\e6ab";
}
.captainicon-173:before {
	content: "\e6ac";
}
.captainicon-174:before {
	content: "\e6ad";
}
.captainicon-175:before {
	content: "\e6ae";
}
.captainicon-176:before {
	content: "\e6af";
}
.captainicon-177:before {
	content: "\e6b0";
}
.captainicon-178:before {
	content: "\e6b1";
}
.captainicon-179:before {
	content: "\e6b2";
}
.captainicon-180:before {
	content: "\e6b3";
}
.captainicon-181:before {
	content: "\e6b4";
}
.captainicon-182:before {
	content: "\e6b5";
}
.captainicon-183:before {
	content: "\e6b6";
}
.captainicon-184:before {
	content: "\e6b7";
}
.captainicon-185:before {
	content: "\e6b8";
}
.captainicon-186:before {
	content: "\e6b9";
}
.captainicon-187:before {
	content: "\e6ba";
}
.captainicon-188:before {
	content: "\e6bb";
}
.captainicon-189:before {
	content: "\e6bc";
}
.captainicon-190:before {
	content: "\e6bd";
}
.captainicon-191:before {
	content: "\e6be";
}
.captainicon-192:before {
	content: "\e6bf";
}
.captainicon-193:before {
	content: "\e6c0";
}
.captainicon-194:before {
	content: "\e6c1";
}
.captainicon-195:before {
	content: "\e6c2";
}
.captainicon-196:before {
	content: "\e6c3";
}
.captainicon-197:before {
	content: "\e6c4";
}
.captainicon-198:before {
	content: "\e6c5";
}
.captainicon-199:before {
	content: "\e6c6";
}
.captainicon-200:before {
	content: "\e6c7";
}
.captainicon-201:before {
	content: "\e6c8";
}
.captainicon-202:before {
	content: "\e6c9";
}
.captainicon-203:before {
	content: "\e6ca";
}
.captainicon-204:before {
	content: "\e6cb";
}
.captainicon-205:before {
	content: "\e6cc";
}
.captainicon-206:before {
	content: "\e6cd";
}
.captainicon-207:before {
	content: "\e6ce";
}
.captainicon-208:before {
	content: "\e6cf";
}
.captainicon-209:before {
	content: "\e6d0";
}
.captainicon-210:before {
	content: "\e6d1";
}
.captainicon-211:before {
	content: "\e6d2";
}
.captainicon-212:before {
	content: "\e6d3";
}
.captainicon-213:before {
	content: "\e6d4";
}
.captainicon-214:before {
	content: "\e6d5";
}
.captainicon-215:before {
	content: "\e6d6";
}
.captainicon-216:before {
	content: "\e6d7";
}
.captainicon-217:before {
	content: "\e6d8";
}
.captainicon-218:before {
	content: "\e6d9";
}
.captainicon-219:before {
	content: "\e6da";
}
.captainicon-220:before {
	content: "\e6db";
}
.captainicon-221:before {
	content: "\e6dc";
}
.captainicon-222:before {
	content: "\e6dd";
}
.captainicon-223:before {
	content: "\e6de";
}
.captainicon-224:before {
	content: "\e6df";
}
.captainicon-225:before {
	content: "\e6e0";
}
.captainicon-226:before {
	content: "\e6e1";
}
.captainicon-227:before {
	content: "\e6e2";
}
.captainicon-228:before {
	content: "\e6e3";
}
.captainicon-229:before {
	content: "\e6e4";
}
.captainicon-230:before {
	content: "\e6e5";
}
.captainicon-231:before {
	content: "\e6e6";
}
.captainicon-232:before {
	content: "\e6e7";
}
.captainicon-233:before {
	content: "\e6e8";
}
.captainicon-234:before {
	content: "\e6e9";
}
.captainicon-235:before {
	content: "\e6ea";
}
.captainicon-236:before {
	content: "\e6eb";
}
.captainicon-237:before {
	content: "\e6ec";
}
.captainicon-238:before {
	content: "\e6ed";
}
.captainicon-239:before {
	content: "\e6ee";
}
.captainicon-240:before {
	content: "\e6ef";
}
.captainicon-241:before {
	content: "\e6f0";
}
.captainicon-242:before {
	content: "\e6f1";
}
.captainicon-243:before {
	content: "\e6f2";
}
.captainicon-244:before {
	content: "\e6f3";
}
.captainicon-245:before {
	content: "\e6f4";
}
.captainicon-246:before {
	content: "\e6f5";
}
.captainicon-247:before {
	content: "\e6f6";
}
.captainicon-248:before {
	content: "\e6f7";
}
.captainicon-249:before {
	content: "\e6f8";
}
.captainicon-250:before {
	content: "\e6f9";
}
.captainicon-251:before {
	content: "\e6fa";
}
.captainicon-252:before {
	content: "\e6fb";
}
.captainicon-253:before {
	content: "\e6fc";
}
.captainicon-254:before {
	content: "\e6fd";
}
.captainicon-255:before {
	content: "\e6fe";
}
.captainicon-256:before {
	content: "\e6ff";
}
.captainicon-257:before {
	content: "\e700";
}
.captainicon-258:before {
	content: "\e701";
}
.captainicon-259:before {
	content: "\e702";
}
.captainicon-260:before {
	content: "\e703";
}
.captainicon-261:before {
	content: "\e704";
}
.captainicon-262:before {
	content: "\e705";
}
.captainicon-263:before {
	content: "\e706";
}
.captainicon-264:before {
	content: "\e707";
}
.captainicon-265:before {
	content: "\e708";
}
.captainicon-266:before {
	content: "\e709";
}
.captainicon-267:before {
	content: "\e70a";
}
.captainicon-268:before {
	content: "\e70b";
}
.captainicon-269:before {
	content: "\e70c";
}
.captainicon-270:before {
	content: "\e70d";
}
.captainicon-271:before {
	content: "\e70e";
}
.captainicon-272:before {
	content: "\e70f";
}
.captainicon-273:before {
	content: "\e710";
}
.captainicon-274:before {
	content: "\e711";
}
.captainicon-275:before {
	content: "\e712";
}
.captainicon-276:before {
	content: "\e713";
}
.captainicon-277:before {
	content: "\e714";
}
.captainicon-278:before {
	content: "\e715";
}
.captainicon-279:before {
	content: "\e716";
}
.captainicon-280:before {
	content: "\e717";
}
.captainicon-281:before {
	content: "\e718";
}
.captainicon-282:before {
	content: "\e719";
}
.captainicon-283:before {
	content: "\e71a";
}
.captainicon-284:before {
	content: "\e71b";
}
.captainicon-285:before {
	content: "\e71c";
}
.captainicon-286:before {
	content: "\e71d";
}
.captainicon-287:before {
	content: "\e71e";
}
.captainicon-288:before {
	content: "\e71f";
}
.captainicon-289:before {
	content: "\e720";
}
.captainicon-290:before {
	content: "\e721";
}
.captainicon-291:before {
	content: "\e722";
}
.captainicon-292:before {
	content: "\e723";
}
.captainicon-293:before {
	content: "\e724";
}
.captainicon-294:before {
	content: "\e725";
}
.captainicon-295:before {
	content: "\e726";
}
.captainicon-296:before {
	content: "\e727";
}
.captainicon-297:before {
	content: "\e728";
}
.captainicon-298:before {
	content: "\e729";
}
.captainicon-299:before {
	content: "\e72a";
}
.captainicon-300:before {
	content: "\e72b";
}
.captainicon-301:before {
	content: "\e72c";
}
.captainicon-302:before {
	content: "\e72d";
}
.captainicon-303:before {
	content: "\e72e";
}
.captainicon-304:before {
	content: "\e72f";
}
.captainicon-305:before {
	content: "\e730";
}
.captainicon-306:before {
	content: "\e731";
}
.captainicon-307:before {
	content: "\e732";
}
.captainicon-308:before {
	content: "\e733";
}
.captainicon-309:before {
	content: "\e734";
}
.captainicon-310:before {
	content: "\e735";
}
.captainicon-311:before {
	content: "\e736";
}
.captainicon-312:before {
	content: "\e737";
}
.captainicon-313:before {
	content: "\e738";
}
.captainicon-314:before {
	content: "\e739";
}
.captainicon-315:before {
	content: "\e73a";
}
.captainicon-316:before {
	content: "\e73b";
}
.captainicon-317:before {
	content: "\e73c";
}
.captainicon-318:before {
	content: "\e73d";
}
.captainicon-319:before {
	content: "\e73e";
}
.captainicon-320:before {
	content: "\e73f";
}
.captainicon-321:before {
	content: "\e740";
}
.captainicon-322:before {
	content: "\e741";
}
.captainicon-323:before {
	content: "\e742";
}
.captainicon-324:before {
	content: "\e743";
}
.captainicon-325:before {
	content: "\e744";
}
.captainicon-326:before {
	content: "\e745";
}
.captainicon-327:before {
	content: "\e746";
}
.captainicon-328:before {
	content: "\e747";
}
.captainicon-329:before {
	content: "\e748";
}
.captainicon-330:before {
	content: "\e749";
}
.captainicon-331:before {
	content: "\e74a";
}
.captainicon-332:before {
	content: "\e74b";
}
.captainicon-333:before {
	content: "\e74c";
}
.captainicon-334:before {
	content: "\e74d";
}
.captainicon-335:before {
	content: "\e74e";
}
.captainicon-336:before {
	content: "\e74f";
}
.captainicon-337:before {
	content: "\e750";
}
.captainicon-338:before {
	content: "\e751";
}
.captainicon-339:before {
	content: "\e752";
}
.captainicon-340:before {
	content: "\e753";
}
.captainicon-341:before {
	content: "\e754";
}
.captainicon-342:before {
	content: "\e755";
}
.captainicon-343:before {
	content: "\e756";
}
.captainicon-344:before {
	content: "\e757";
}
.captainicon-345:before {
	content: "\e758";
}
.captainicon-346:before {
	content: "\e759";
}
.captainicon-347:before {
	content: "\e75a";
}
.captainicon-348:before {
	content: "\e75b";
}
.captainicon-349:before {
	content: "\e75c";
}
.captainicon-350:before {
	content: "\e75d";
}
.captainicon-351:before {
	content: "\e75e";
}
.captainicon-352:before {
	content: "\e75f";
}
.captainicon-353:before {
	content: "\e760";
}
.captainicon-354:before {
	content: "\e761";
}
.captainicon-355:before {
	content: "\e762";
}
.captainicon-356:before {
	content: "\e763";
}
.captainicon-357:before {
	content: "\e764";
}
.captainicon-358:before {
	content: "\e765";
}
.captainicon-359:before {
	content: "\e766";
}
.captainicon-360:before {
	content: "\e767";
}
.captainicon-361:before {
	content: "\e768";
}
.captainicon-362:before {
	content: "\e769";
}
.captainicon-363:before {
	content: "\e76a";
}
.captainicon-364:before {
	content: "\e76b";
}
.captainicon-365:before {
	content: "\e76c";
}
.captainicon-366:before {
	content: "\e76d";
}
.captainicon-367:before {
	content: "\e76e";
}
.captainicon-368:before {
	content: "\e76f";
}
.captainicon-369:before {
	content: "\e770";
}
.captainicon-370:before {
	content: "\e771";
}
.captainicon-371:before {
	content: "\e772";
}
.captainicon-372:before {
	content: "\e773";
}
.captainicon-373:before {
	content: "\e774";
}
.captainicon-374:before {
	content: "\e775";
}
.captainicon-375:before {
	content: "\e776";
}