@font-face {
    font-family: 'FeatherIcons';
    src: url('../fonts/feather.eot?7wkbcu');
    src: url('../fonts/feather.eot?7wkbcu#iefix') format('embedded-opentype'),
    url('../fonts/feather.ttf?7wkbcu') format('truetype'),
    url('../fonts/feather.woff?7wkbcu') format('woff'),
    url('../fonts/feather.svg?7wkbcu#FeatherIcons') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.fth:before {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'FeatherIcons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fth-activity:before {
    content: "\e000";
}
.fth-airplay:before {
    content: "\e001";
}
.fth-alert-circle:before {
    content: "\e002";
}
.fth-alert-octagon:before {
    content: "\e003";
}
.fth-alert-triangle:before {
    content: "\e004";
}
.fth-align-center:before {
    content: "\e005";
}
.fth-align-justify:before {
    content: "\e006";
}
.fth-align-left:before {
    content: "\e007";
}
.fth-align-right:before {
    content: "\e008";
}
.fth-anchor:before {
    content: "\e009";
}
.fth-aperture:before {
    content: "\e00a";
}
.fth-archive:before {
    content: "\e00b";
}
.fth-arrow-down:before {
    content: "\e00c";
}
.fth-arrow-down-circle:before {
    content: "\e00d";
}
.fth-arrow-down-left:before {
    content: "\e00e";
}
.fth-arrow-down-right:before {
    content: "\e00f";
}
.fth-arrow-left:before {
    content: "\e010";
}
.fth-arrow-left-circle:before {
    content: "\e011";
}
.fth-arrow-right:before {
    content: "\e012";
}
.fth-arrow-right-circle:before {
    content: "\e013";
}
.fth-arrow-up:before {
    content: "\e014";
}
.fth-arrow-up-circle:before {
    content: "\e015";
}
.fth-arrow-up-left:before {
    content: "\e016";
}
.fth-arrow-up-right:before {
    content: "\e017";
}
.fth-at-sign:before {
    content: "\e018";
}
.fth-award:before {
    content: "\e019";
}
.fth-bar-chart:before {
    content: "\e01a";
}
.fth-bar-chart-2:before {
    content: "\e01b";
}
.fth-battery:before {
    content: "\e01c";
}
.fth-battery-charging:before {
    content: "\e01d";
}
.fth-bell:before {
    content: "\e01e";
}
.fth-bell-off:before {
    content: "\e01f";
}
.fth-bluetooth:before {
    content: "\e020";
}
.fth-bold:before {
    content: "\e021";
}
.fth-book:before {
    content: "\e022";
}
.fth-bookmark:before {
    content: "\e023";
}
.fth-book-open:before {
    content: "\e024";
}
.fth-box:before {
    content: "\e025";
}
.fth-briefcase:before {
    content: "\e026";
}
.fth-calendar:before {
    content: "\e027";
}
.fth-camera:before {
    content: "\e028";
}
.fth-camera-off:before {
    content: "\e029";
}
.fth-cast:before {
    content: "\e02a";
}
.fth-check:before {
    content: "\e02b";
}
.fth-check-circle:before {
    content: "\e02c";
}
.fth-check-square:before {
    content: "\e02d";
}
.fth-chevron-down:before {
    content: "\e02e";
}
.fth-chevron-left:before {
    content: "\e02f";
}
.fth-chevron-right:before {
    content: "\e030";
}
.fth-chevrons-down:before {
    content: "\e031";
}
.fth-chevrons-left:before {
    content: "\e032";
}
.fth-chevrons-right:before {
    content: "\e033";
}
.fth-chevrons-up:before {
    content: "\e034";
}
.fth-chevron-up:before {
    content: "\e035";
}
.fth-chrome:before {
    content: "\e036";
}
.fth-circle:before {
    content: "\e037";
}
.fth-clipboard:before {
    content: "\e038";
}
.fth-clock:before {
    content: "\e039";
}
.fth-cloud:before {
    content: "\e03a";
}
.fth-cloud-drizzle:before {
    content: "\e03b";
}
.fth-cloud-lightning:before {
    content: "\e03c";
}
.fth-cloud-off:before {
    content: "\e03d";
}
.fth-cloud-rain:before {
    content: "\e03e";
}
.fth-cloud-snow:before {
    content: "\e03f";
}
.fth-code:before {
    content: "\e040";
}
.fth-codepen:before {
    content: "\e041";
}
.fth-codesandbox:before {
    content: "\e042";
}
.fth-coffee:before {
    content: "\e043";
}
.fth-columns:before {
    content: "\e044";
}
.fth-command:before {
    content: "\e045";
}
.fth-compass:before {
    content: "\e046";
}
.fth-copy:before {
    content: "\e047";
}
.fth-corner-down-left:before {
    content: "\e048";
}
.fth-corner-down-right:before {
    content: "\e049";
}
.fth-corner-left-down:before {
    content: "\e04a";
}
.fth-corner-left-up:before {
    content: "\e04b";
}
.fth-corner-right-down:before {
    content: "\e04c";
}
.fth-corner-right-up:before {
    content: "\e04d";
}
.fth-corner-up-left:before {
    content: "\e04e";
}
.fth-corner-up-right:before {
    content: "\e04f";
}
.fth-cpu:before {
    content: "\e050";
}
.fth-credit-card:before {
    content: "\e051";
}
.fth-crop:before {
    content: "\e052";
}
.fth-crosshair:before {
    content: "\e053";
}
.fth-database:before {
    content: "\e054";
}
.fth-delete:before {
    content: "\e055";
}
.fth-disc:before {
    content: "\e056";
}
.fth-divide:before {
    content: "\e057";
}
.fth-divide-circle:before {
    content: "\e058";
}
.fth-divide-square:before {
    content: "\e059";
}
.fth-dollar-sign:before {
    content: "\e05a";
}
.fth-download:before {
    content: "\e05b";
}
.fth-download-cloud:before {
    content: "\e05c";
}
.fth-dribbble:before {
    content: "\e05d";
}
.fth-droplet:before {
    content: "\e05e";
}
.fth-edit:before {
    content: "\e05f";
}
.fth-edit-2:before {
    content: "\e060";
}
.fth-edit-3:before {
    content: "\e061";
}
.fth-external-link:before {
    content: "\e062";
}
.fth-eye:before {
    content: "\e063";
}
.fth-eye-off:before {
    content: "\e064";
}
.fth-facebook:before {
    content: "\e065";
}
.fth-fast-forward:before {
    content: "\e066";
}
.fth-feather:before {
    content: "\e067";
}
.fth-figma:before {
    content: "\e068";
}
.fth-file:before {
    content: "\e069";
}
.fth-file-minus:before {
    content: "\e06a";
}
.fth-file-plus:before {
    content: "\e06b";
}
.fth-file-text:before {
    content: "\e06c";
}
.fth-film:before {
    content: "\e06d";
}
.fth-filter:before {
    content: "\e06e";
}
.fth-flag:before {
    content: "\e06f";
}
.fth-folder:before {
    content: "\e070";
}
.fth-folder-minus:before {
    content: "\e071";
}
.fth-folder-plus:before {
    content: "\e072";
}
.fth-framer:before {
    content: "\e073";
}
.fth-frown:before {
    content: "\e074";
}
.fth-gift:before {
    content: "\e075";
}
.fth-git-branch:before {
    content: "\e076";
}
.fth-git-commit:before {
    content: "\e077";
}
.fth-github:before {
    content: "\e078";
}
.fth-gitlab:before {
    content: "\e079";
}
.fth-git-merge:before {
    content: "\e07a";
}
.fth-git-pull-request:before {
    content: "\e07b";
}
.fth-globe:before {
    content: "\e07c";
}
.fth-grid:before {
    content: "\e07d";
}
.fth-hard-drive:before {
    content: "\e07e";
}
.fth-hash:before {
    content: "\e07f";
}
.fth-headphones:before {
    content: "\e080";
}
.fth-heart:before {
    content: "\e081";
}
.fth-help-circle:before {
    content: "\e082";
}
.fth-hexagon:before {
    content: "\e083";
}
.fth-home:before {
    content: "\e084";
}
.fth-image:before {
    content: "\e085";
}
.fth-inbox:before {
    content: "\e086";
}
.fth-info:before {
    content: "\e087";
}
.fth-instagram:before {
    content: "\e088";
}
.fth-italic:before {
    content: "\e089";
}
.fth-key:before {
    content: "\e08a";
}
.fth-layers:before {
    content: "\e08b";
}
.fth-layout:before {
    content: "\e08c";
}
.fth-life-buoy:before {
    content: "\e08d";
}
.fth-link:before {
    content: "\e08e";
}
.fth-link-2:before {
    content: "\e08f";
}
.fth-linkedin:before {
    content: "\e090";
}
.fth-list:before {
    content: "\e091";
}
.fth-loader:before {
    content: "\e092";
}
.fth-lock:before {
    content: "\e093";
}
.fth-log-in:before {
    content: "\e094";
}
.fth-log-out:before {
    content: "\e095";
}
.fth-mail:before {
    content: "\e096";
}
.fth-map:before {
    content: "\e097";
}
.fth-map-pin:before {
    content: "\e098";
}
.fth-maximize:before {
    content: "\e099";
}
.fth-maximize-2:before {
    content: "\e09a";
}
.fth-meh:before {
    content: "\e09b";
}
.fth-menu:before {
    content: "\e09c";
}
.fth-message-circle:before {
    content: "\e09d";
}
.fth-message-square:before {
    content: "\e09e";
}
.fth-mic:before {
    content: "\e09f";
}
.fth-mic-off:before {
    content: "\e0a0";
}
.fth-minimize:before {
    content: "\e0a1";
}
.fth-minimize-2:before {
    content: "\e0a2";
}
.fth-minus:before {
    content: "\e0a3";
}
.fth-minus-circle:before {
    content: "\e0a4";
}
.fth-minus-square:before {
    content: "\e0a5";
}
.fth-monitor:before {
    content: "\e0a6";
}
.fth-moon:before {
    content: "\e0a7";
}
.fth-more-horizontal:before {
    content: "\e0a8";
}
.fth-more-vertical:before {
    content: "\e0a9";
}
.fth-mouse-pointer:before {
    content: "\e0aa";
}
.fth-move:before {
    content: "\e0ab";
}
.fth-music:before {
    content: "\e0ac";
}
.fth-navigation:before {
    content: "\e0ad";
}
.fth-navigation-2:before {
    content: "\e0ae";
}
.fth-octagon:before {
    content: "\e0af";
}
.fth-package:before {
    content: "\e0b0";
}
.fth-paperclip:before {
    content: "\e0b1";
}
.fth-pause:before {
    content: "\e0b2";
}
.fth-pause-circle:before {
    content: "\e0b3";
}
.fth-pen-tool:before {
    content: "\e0b4";
}
.fth-percent:before {
    content: "\e0b5";
}
.fth-phone:before {
    content: "\e0b6";
}
.fth-phone-call:before {
    content: "\e0b7";
}
.fth-phone-forwarded:before {
    content: "\e0b8";
}
.fth-phone-incoming:before {
    content: "\e0b9";
}
.fth-phone-missed:before {
    content: "\e0ba";
}
.fth-phone-off:before {
    content: "\e0bb";
}
.fth-phone-outgoing:before {
    content: "\e0bc";
}
.fth-pie-chart:before {
    content: "\e0bd";
}
.fth-play:before {
    content: "\e0be";
}
.fth-play-circle:before {
    content: "\e0bf";
}
.fth-plus:before {
    content: "\e0c0";
}
.fth-plus-circle:before {
    content: "\e0c1";
}
.fth-plus-square:before {
    content: "\e0c2";
}
.fth-pocket:before {
    content: "\e0c3";
}
.fth-power:before {
    content: "\e0c4";
}
.fth-printer:before {
    content: "\e0c5";
}
.fth-radio:before {
    content: "\e0c6";
}
.fth-refresh-ccw:before {
    content: "\e0c7";
}
.fth-refresh-cw:before {
    content: "\e0c8";
}
.fth-repeat:before {
    content: "\e0c9";
}
.fth-rewind:before {
    content: "\e0ca";
}
.fth-rotate-ccw:before {
    content: "\e0cb";
}
.fth-rotate-cw:before {
    content: "\e0cc";
}
.fth-rss:before {
    content: "\e0cd";
}
.fth-save:before {
    content: "\e0ce";
}
.fth-scissors:before {
    content: "\e0cf";
}
.fth-search:before {
    content: "\e0d0";
}
.fth-send:before {
    content: "\e0d1";
}
.fth-server:before {
    content: "\e0d2";
}
.fth-settings:before {
    content: "\e0d3";
}
.fth-share:before {
    content: "\e0d4";
}
.fth-share-2:before {
    content: "\e0d5";
}
.fth-shield:before {
    content: "\e0d6";
}
.fth-shield-off:before {
    content: "\e0d7";
}
.fth-shopping-bag:before {
    content: "\e0d8";
}
.fth-shopping-cart:before {
    content: "\e0d9";
}
.fth-shuffle:before {
    content: "\e0da";
}
.fth-sidebar:before {
    content: "\e0db";
}
.fth-skip-back:before {
    content: "\e0dc";
}
.fth-skip-forward:before {
    content: "\e0dd";
}
.fth-slack:before {
    content: "\e0de";
}
.fth-slash:before {
    content: "\e0df";
}
.fth-sliders:before {
    content: "\e0e0";
}
.fth-smartphone:before {
    content: "\e0e1";
}
.fth-smile:before {
    content: "\e0e2";
}
.fth-speaker:before {
    content: "\e0e3";
}
.fth-square:before {
    content: "\e0e4";
}
.fth-star:before {
    content: "\e0e5";
}
.fth-stop-circle:before {
    content: "\e0e6";
}
.fth-sun:before {
    content: "\e0e7";
}
.fth-sunrise:before {
    content: "\e0e8";
}
.fth-sunset:before {
    content: "\e0e9";
}
.fth-tablet:before {
    content: "\e0ea";
}
.fth-tag:before {
    content: "\e0eb";
}
.fth-target:before {
    content: "\e0ec";
}
.fth-terminal:before {
    content: "\e0ed";
}
.fth-thermometer:before {
    content: "\e0ee";
}
.fth-thumbs-down:before {
    content: "\e0ef";
}
.fth-thumbs-up:before {
    content: "\e0f0";
}
.fth-toggle-left:before {
    content: "\e0f1";
}
.fth-toggle-right:before {
    content: "\e0f2";
}
.fth-tool:before {
    content: "\e0f3";
}
.fth-trash:before {
    content: "\e0f4";
}
.fth-trash-2:before {
    content: "\e0f5";
}
.fth-trello:before {
    content: "\e0f6";
}
.fth-trending-down:before {
    content: "\e0f7";
}
.fth-trending-up:before {
    content: "\e0f8";
}
.fth-triangle:before {
    content: "\e0f9";
}
.fth-truck:before {
    content: "\e0fa";
}
.fth-tv:before {
    content: "\e0fb";
}
.fth-twitch:before {
    content: "\e0fc";
}
.fth-twitter:before {
    content: "\e0fd";
}
.fth-type:before {
    content: "\e0fe";
}
.fth-umbrella:before {
    content: "\e0ff";
}
.fth-underline:before {
    content: "\e100";
}
.fth-unlock:before {
    content: "\e101";
}
.fth-upload:before {
    content: "\e102";
}
.fth-upload-cloud:before {
    content: "\e103";
}
.fth-user:before {
    content: "\e104";
}
.fth-user-check:before {
    content: "\e105";
}
.fth-user-minus:before {
    content: "\e106";
}
.fth-user-plus:before {
    content: "\e107";
}
.fth-users:before {
    content: "\e108";
}
.fth-user-x:before {
    content: "\e109";
}
.fth-video:before {
    content: "\e10a";
}
.fth-video-off:before {
    content: "\e10b";
}
.fth-voicemail:before {
    content: "\e10c";
}
.fth-volume:before {
    content: "\e10d";
}
.fth-volume-1:before {
    content: "\e10e";
}
.fth-volume-2:before {
    content: "\e10f";
}
.fth-volume-x:before {
    content: "\e110";
}
.fth-watch:before {
    content: "\e111";
}
.fth-wifi:before {
    content: "\e112";
}
.fth-wifi-off:before {
    content: "\e113";
}
.fth-wind:before {
    content: "\e114";
}
.fth-x:before {
    content: "\e115";
}
.fth-x-circle:before {
    content: "\e116";
}
.fth-x-octagon:before {
    content: "\e117";
}
.fth-x-square:before {
    content: "\e118";
}
.fth-youtube:before {
    content: "\e119";
}
.fth-zap:before {
    content: "\e11a";
}
.fth-zap-off:before {
    content: "\e11b";
}
.fth-zoom-in:before {
    content: "\e11c";
}
.fth-zoom-out:before {
    content: "\e11d";
}
