.desktoppane,
.internal-window-content {
    -fx-background-color: white;
    -fx-border-color: darkgrey;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.taskbar-icon .label,
.internal-window .internal-window-titlebar-title {
    -fx-text-fill: white;
}

.internal-window:active,
.internal-window:active .internal-window-titlebar {
    -fx-background-color: #120caf, linear-gradient(#1f52ff 10%, #120caf 30%, #1f52ff 100%);
    -fx-border-color: #120caf;
}

.internal-window,
.internal-window .internal-window-titlebar {
    -fx-background-color: #1f52ff, linear-gradient(#5ca6ff 10%, #1f52ff 30%, #5ca6ff 100%);
    -fx-border-color: #1f52ff;
}

.taskbar-icon {
    -fx-background-color: #1f52ff, linear-gradient(#5ca6ff 10%, #1f52ff 30%, #5ca6ff 100%);
    -fx-border-color: #1f52ff;
    -fx-border-radius: 6;
}

.internal-window:active .internal-window-titlebar-button .ikonli-font-icon {
    -fx-icon-color: #120caf;
}

.internal-window .taskbar-icon-button .ikonli-font-icon,
.internal-window .internal-window-titlebar-button .ikonli-font-icon {
    -fx-icon-color: #1f52ff;
}