@font-face {
  font-family: 'Octicons';
  src:  url('../fonts/octicons.eot?qz0pfi');
  src:  url('../fonts/octicons.eot?qz0pfi#iefix') format('embedded-opentype'),
  url('../fonts/octicons.ttf?qz0pfi') format('truetype'),
  url('../fonts/octicons.woff?qz0pfi') format('woff'),
  url('../fonts/octicons.svg?qz0pfi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="octicon-"], [class*=" octicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Octicons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.octicon-alert-16:before {
  content: "\e900";
}
.octicon-alert-24:before {
  content: "\e901";
}
.octicon-archive-16:before {
  content: "\e902";
}
.octicon-archive-24:before {
  content: "\e903";
}
.octicon-arrow-both-16:before {
  content: "\e904";
}
.octicon-arrow-both-24:before {
  content: "\e905";
}
.octicon-arrow-down-16:before {
  content: "\e906";
}
.octicon-arrow-down-24:before {
  content: "\e907";
}
.octicon-arrow-down-left-24:before {
  content: "\e908";
}
.octicon-arrow-down-right-24:before {
  content: "\e909";
}
.octicon-arrow-left-16:before {
  content: "\e90a";
}
.octicon-arrow-left-24:before {
  content: "\e90b";
}
.octicon-arrow-right-16:before {
  content: "\e90c";
}
.octicon-arrow-right-24:before {
  content: "\e90d";
}
.octicon-arrow-switch-16:before {
  content: "\e90e";
}
.octicon-arrow-switch-24:before {
  content: "\e90f";
}
.octicon-arrow-up-16:before {
  content: "\e910";
}
.octicon-arrow-up-24:before {
  content: "\e911";
}
.octicon-arrow-up-left-24:before {
  content: "\e912";
}
.octicon-arrow-up-right-24:before {
  content: "\e913";
}
.octicon-beaker-16:before {
  content: "\e914";
}
.octicon-beaker-24:before {
  content: "\e915";
}
.octicon-bell-16:before {
  content: "\e916";
}
.octicon-bell-24:before {
  content: "\e917";
}
.octicon-bell-fill-24:before {
  content: "\e918";
}
.octicon-bell-slash-16:before {
  content: "\e919";
}
.octicon-bell-slash-24:before {
  content: "\e91a";
}
.octicon-blocked-16:before {
  content: "\e91b";
}
.octicon-blocked-24:before {
  content: "\e91c";
}
.octicon-bold-16:before {
  content: "\e91d";
}
.octicon-bold-24:before {
  content: "\e91e";
}
.octicon-book-16:before {
  content: "\e91f";
}
.octicon-book-24:before {
  content: "\e920";
}
.octicon-bookmark-16:before {
  content: "\e921";
}
.octicon-bookmark-24:before {
  content: "\e922";
}
.octicon-bookmark-fill-24:before {
  content: "\e923";
}
.octicon-bookmark-slash-16:before {
  content: "\e924";
}
.octicon-bookmark-slash-24:before {
  content: "\e925";
}
.octicon-bookmark-slash-fill-24:before {
  content: "\e926";
}
.octicon-briefcase-16:before {
  content: "\e927";
}
.octicon-briefcase-24:before {
  content: "\e928";
}
.octicon-broadcast-16:before {
  content: "\e929";
}
.octicon-broadcast-24:before {
  content: "\e92a";
}
.octicon-browser-16:before {
  content: "\e92b";
}
.octicon-browser-24:before {
  content: "\e92c";
}
.octicon-bug-16:before {
  content: "\e92d";
}
.octicon-bug-24:before {
  content: "\e92e";
}
.octicon-calendar-16:before {
  content: "\e92f";
}
.octicon-calendar-24:before {
  content: "\e930";
}
.octicon-check-16:before {
  content: "\e931";
}
.octicon-check-24:before {
  content: "\e932";
}
.octicon-check-circle-16:before {
  content: "\e933";
}
.octicon-check-circle-24:before {
  content: "\e934";
}
.octicon-check-circle-fill-16:before {
  content: "\e935";
}
.octicon-check-circle-fill-24:before {
  content: "\e936";
}
.octicon-checklist-16:before {
  content: "\e937";
}
.octicon-checklist-24:before {
  content: "\e938";
}
.octicon-chevron-down-16:before {
  content: "\e939";
}
.octicon-chevron-down-24:before {
  content: "\e93a";
}
.octicon-chevron-left-16:before {
  content: "\e93b";
}
.octicon-chevron-left-24:before {
  content: "\e93c";
}
.octicon-chevron-right-16:before {
  content: "\e93d";
}
.octicon-chevron-right-24:before {
  content: "\e93e";
}
.octicon-chevron-up-16:before {
  content: "\e93f";
}
.octicon-chevron-up-24:before {
  content: "\e940";
}
.octicon-circle-16:before {
  content: "\e941";
}
.octicon-circle-24:before {
  content: "\e942";
}
.octicon-circle-slash-16:before {
  content: "\e943";
}
.octicon-circle-slash-24:before {
  content: "\e944";
}
.octicon-clippy-16:before {
  content: "\e945";
}
.octicon-clippy-24:before {
  content: "\e946";
}
.octicon-clock-16:before {
  content: "\e947";
}
.octicon-clock-24:before {
  content: "\e948";
}
.octicon-code-16:before {
  content: "\e949";
}
.octicon-code-24:before {
  content: "\e94a";
}
.octicon-code-review-16:before {
  content: "\e94b";
}
.octicon-code-review-24:before {
  content: "\e94c";
}
.octicon-code-square-16:before {
  content: "\e94d";
}
.octicon-code-square-24:before {
  content: "\e94e";
}
.octicon-codescan-16:before {
  content: "\e94f";
}
.octicon-codescan-24:before {
  content: "\e950";
}
.octicon-codescan-checkmark-16:before {
  content: "\e951";
}
.octicon-codescan-checkmark-24:before {
  content: "\e952";
}
.octicon-codespaces-16:before {
  content: "\e953";
}
.octicon-codespaces-24:before {
  content: "\e954";
}
.octicon-columns-16:before {
  content: "\e955";
}
.octicon-columns-24:before {
  content: "\e956";
}
.octicon-comment-16:before {
  content: "\e957";
}
.octicon-comment-24:before {
  content: "\e958";
}
.octicon-comment-discussion-16:before {
  content: "\e959";
}
.octicon-comment-discussion-24:before {
  content: "\e95a";
}
.octicon-commit-24:before {
  content: "\e95b";
}
.octicon-container-16:before {
  content: "\e95c";
}
.octicon-container-24:before {
  content: "\e95d";
}
.octicon-cpu-16:before {
  content: "\e95e";
}
.octicon-cpu-24:before {
  content: "\e95f";
}
.octicon-credit-card-16:before {
  content: "\e960";
}
.octicon-credit-card-24:before {
  content: "\e961";
}
.octicon-cross-reference-16:before {
  content: "\e962";
}
.octicon-cross-reference-24:before {
  content: "\e963";
}
.octicon-dash-16:before {
  content: "\e964";
}
.octicon-dash-24:before {
  content: "\e965";
}
.octicon-database-16:before {
  content: "\e966";
}
.octicon-database-24:before {
  content: "\e967";
}
.octicon-dependabot-16:before {
  content: "\e968";
}
.octicon-dependabot-24:before {
  content: "\e969";
}
.octicon-desktop-download-16:before {
  content: "\e96a";
}
.octicon-desktop-download-24:before {
  content: "\e96b";
}
.octicon-device-camera-16:before {
  content: "\e96c";
}
.octicon-device-camera-video-16:before {
  content: "\e96d";
}
.octicon-device-camera-video-24:before {
  content: "\e96e";
}
.octicon-device-desktop-16:before {
  content: "\e96f";
}
.octicon-device-desktop-24:before {
  content: "\e970";
}
.octicon-device-mobile-16:before {
  content: "\e971";
}
.octicon-device-mobile-24:before {
  content: "\e972";
}
.octicon-diamond-16:before {
  content: "\e973";
}
.octicon-diamond-24:before {
  content: "\e974";
}
.octicon-diff-16:before {
  content: "\e975";
}
.octicon-diff-24:before {
  content: "\e976";
}
.octicon-diff-added-16:before {
  content: "\e977";
}
.octicon-diff-ignored-16:before {
  content: "\e978";
}
.octicon-diff-modified-16:before {
  content: "\e979";
}
.octicon-diff-removed-16:before {
  content: "\e97a";
}
.octicon-diff-renamed-16:before {
  content: "\e97b";
}
.octicon-dot-16:before {
  content: "\e97c";
}
.octicon-dot-24:before {
  content: "\e97d";
}
.octicon-dot-fill-16:before {
  content: "\e97e";
}
.octicon-dot-fill-24:before {
  content: "\e97f";
}
.octicon-download-16:before {
  content: "\e980";
}
.octicon-download-24:before {
  content: "\e981";
}
.octicon-duplicate-16:before {
  content: "\e982";
}
.octicon-duplicate-24:before {
  content: "\e983";
}
.octicon-ellipsis-16:before {
  content: "\e984";
}
.octicon-eye-16:before {
  content: "\e985";
}
.octicon-eye-24:before {
  content: "\e986";
}
.octicon-eye-closed-16:before {
  content: "\e987";
}
.octicon-eye-closed-24:before {
  content: "\e988";
}
.octicon-file-16:before {
  content: "\e989";
}
.octicon-file-24:before {
  content: "\e98a";
}
.octicon-file-badge-16:before {
  content: "\e98b";
}
.octicon-file-binary-16:before {
  content: "\e98c";
}
.octicon-file-binary-24:before {
  content: "\e98d";
}
.octicon-file-code-16:before {
  content: "\e98e";
}
.octicon-file-code-24:before {
  content: "\e98f";
}
.octicon-file-diff-16:before {
  content: "\e990";
}
.octicon-file-diff-24:before {
  content: "\e991";
}
.octicon-file-directory-16:before {
  content: "\e992";
}
.octicon-file-directory-24:before {
  content: "\e993";
}
.octicon-file-directory-fill-24:before {
  content: "\e994";
}
.octicon-file-media-24:before {
  content: "\e995";
}
.octicon-file-submodule-16:before {
  content: "\e996";
}
.octicon-file-submodule-24:before {
  content: "\e997";
}
.octicon-file-symlink-file-16:before {
  content: "\e998";
}
.octicon-file-symlink-file-24:before {
  content: "\e999";
}
.octicon-file-zip-16:before {
  content: "\e99a";
}
.octicon-file-zip-24:before {
  content: "\e99b";
}
.octicon-filter-16:before {
  content: "\e99c";
}
.octicon-filter-24:before {
  content: "\e99d";
}
.octicon-flame-16:before {
  content: "\e99e";
}
.octicon-flame-24:before {
  content: "\e99f";
}
.octicon-fold-16:before {
  content: "\e9a0";
}
.octicon-fold-24:before {
  content: "\e9a1";
}
.octicon-fold-down-16:before {
  content: "\e9a2";
}
.octicon-fold-down-24:before {
  content: "\e9a3";
}
.octicon-fold-up-16:before {
  content: "\e9a4";
}
.octicon-fold-up-24:before {
  content: "\e9a5";
}
.octicon-gear-16:before {
  content: "\e9a6";
}
.octicon-gear-24:before {
  content: "\e9a7";
}
.octicon-gift-16:before {
  content: "\e9a8";
}
.octicon-gift-24:before {
  content: "\e9a9";
}
.octicon-git-branch-16:before {
  content: "\e9aa";
}
.octicon-git-branch-24:before {
  content: "\e9ab";
}
.octicon-git-commit-16:before {
  content: "\e9ac";
}
.octicon-git-commit-24:before {
  content: "\e9ad";
}
.octicon-git-compare-16:before {
  content: "\e9ae";
}
.octicon-git-compare-24:before {
  content: "\e9af";
}
.octicon-git-merge-16:before {
  content: "\e9b0";
}
.octicon-git-merge-24:before {
  content: "\e9b1";
}
.octicon-git-pull-request-16:before {
  content: "\e9b2";
}
.octicon-git-pull-request-24:before {
  content: "\e9b3";
}
.octicon-git-pull-request-closed-16:before {
  content: "\e9b4";
}
.octicon-git-pull-request-closed-24:before {
  content: "\e9b5";
}
.octicon-git-pull-request-draft-16:before {
  content: "\e9b6";
}
.octicon-git-pull-request-draft-24:before {
  content: "\e9b7";
}
.octicon-globe-16:before {
  content: "\e9b8";
}
.octicon-globe-24:before {
  content: "\e9b9";
}
.octicon-grabber-16:before {
  content: "\e9ba";
}
.octicon-grabber-24:before {
  content: "\e9bb";
}
.octicon-graph-16:before {
  content: "\e9bc";
}
.octicon-graph-24:before {
  content: "\e9bd";
}
.octicon-hash-16:before {
  content: "\e9be";
}
.octicon-hash-24:before {
  content: "\e9bf";
}
.octicon-heading-16:before {
  content: "\e9c0";
}
.octicon-heading-24:before {
  content: "\e9c1";
}
.octicon-heart-16:before {
  content: "\e9c2";
}
.octicon-heart-24:before {
  content: "\e9c3";
}
.octicon-heart-fill-16:before {
  content: "\e9c4";
}
.octicon-heart-fill-24:before {
  content: "\e9c5";
}
.octicon-history-16:before {
  content: "\e9c6";
}
.octicon-history-24:before {
  content: "\e9c7";
}
.octicon-home-16:before {
  content: "\e9c8";
}
.octicon-home-24:before {
  content: "\e9c9";
}
.octicon-home-fill-24:before {
  content: "\e9ca";
}
.octicon-horizontal-rule-16:before {
  content: "\e9cb";
}
.octicon-horizontal-rule-24:before {
  content: "\e9cc";
}
.octicon-hourglass-16:before {
  content: "\e9cd";
}
.octicon-hourglass-24:before {
  content: "\e9ce";
}
.octicon-hubot-16:before {
  content: "\e9cf";
}
.octicon-hubot-24:before {
  content: "\e9d0";
}
.octicon-image-16:before {
  content: "\e9d1";
}
.octicon-image-24:before {
  content: "\e9d2";
}
.octicon-inbox-16:before {
  content: "\e9d3";
}
.octicon-inbox-24:before {
  content: "\e9d4";
}
.octicon-infinity-16:before {
  content: "\e9d5";
}
.octicon-infinity-24:before {
  content: "\e9d6";
}
.octicon-info-16:before {
  content: "\e9d7";
}
.octicon-info-24:before {
  content: "\e9d8";
}
.octicon-issue-closed-16:before {
  content: "\e9d9";
}
.octicon-issue-closed-24:before {
  content: "\e9da";
}
.octicon-issue-draft-16:before {
  content: "\e9db";
}
.octicon-issue-draft-24:before {
  content: "\e9dc";
}
.octicon-issue-opened-16:before {
  content: "\e9dd";
}
.octicon-issue-opened-24:before {
  content: "\e9de";
}
.octicon-issue-reopened-16:before {
  content: "\e9df";
}
.octicon-issue-reopened-24:before {
  content: "\e9e0";
}
.octicon-italic-16:before {
  content: "\e9e1";
}
.octicon-italic-24:before {
  content: "\e9e2";
}
.octicon-kebab-horizontal-16:before {
  content: "\e9e3";
}
.octicon-kebab-horizontal-24:before {
  content: "\e9e4";
}
.octicon-key-16:before {
  content: "\e9e5";
}
.octicon-key-24:before {
  content: "\e9e6";
}
.octicon-key-asterisk-16:before {
  content: "\e9e7";
}
.octicon-law-16:before {
  content: "\e9e8";
}
.octicon-law-24:before {
  content: "\e9e9";
}
.octicon-light-bulb-16:before {
  content: "\e9ea";
}
.octicon-light-bulb-24:before {
  content: "\e9eb";
}
.octicon-link-16:before {
  content: "\e9ec";
}
.octicon-link-24:before {
  content: "\e9ed";
}
.octicon-link-external-16:before {
  content: "\e9ee";
}
.octicon-link-external-24:before {
  content: "\e9ef";
}
.octicon-list-ordered-16:before {
  content: "\e9f0";
}
.octicon-list-ordered-24:before {
  content: "\e9f1";
}
.octicon-list-unordered-16:before {
  content: "\e9f2";
}
.octicon-list-unordered-24:before {
  content: "\e9f3";
}
.octicon-location-16:before {
  content: "\e9f4";
}
.octicon-location-24:before {
  content: "\e9f5";
}
.octicon-lock-16:before {
  content: "\e9f6";
}
.octicon-lock-24:before {
  content: "\e9f7";
}
.octicon-logo-gist-16:before {
  content: "\e9f8";
}
.octicon-logo-github-16:before {
  content: "\e9f9";
}
.octicon-mail-16:before {
  content: "\e9fa";
}
.octicon-mail-24:before {
  content: "\e9fb";
}
.octicon-mark-github-16:before {
  content: "\e9fc";
}
.octicon-markdown-16:before {
  content: "\e9fd";
}
.octicon-megaphone-16:before {
  content: "\e9fe";
}
.octicon-megaphone-24:before {
  content: "\e9ff";
}
.octicon-mention-16:before {
  content: "\ea00";
}
.octicon-mention-24:before {
  content: "\ea01";
}
.octicon-meter-16:before {
  content: "\ea02";
}
.octicon-milestone-16:before {
  content: "\ea03";
}
.octicon-milestone-24:before {
  content: "\ea04";
}
.octicon-mirror-16:before {
  content: "\ea05";
}
.octicon-mirror-24:before {
  content: "\ea06";
}
.octicon-moon-16:before {
  content: "\ea07";
}
.octicon-moon-24:before {
  content: "\ea08";
}
.octicon-mortar-board-16:before {
  content: "\ea09";
}
.octicon-mortar-board-24:before {
  content: "\ea0a";
}
.octicon-multi-select-16:before {
  content: "\ea0b";
}
.octicon-multi-select-24:before {
  content: "\ea0c";
}
.octicon-mute-16:before {
  content: "\ea0d";
}
.octicon-mute-24:before {
  content: "\ea0e";
}
.octicon-no-entry-16:before {
  content: "\ea0f";
}
.octicon-no-entry-24:before {
  content: "\ea10";
}
.octicon-north-star-16:before {
  content: "\ea11";
}
.octicon-north-star-24:before {
  content: "\ea12";
}
.octicon-note-16:before {
  content: "\ea13";
}
.octicon-note-24:before {
  content: "\ea14";
}
.octicon-number-16:before {
  content: "\ea15";
}
.octicon-number-24:before {
  content: "\ea16";
}
.octicon-organization-16:before {
  content: "\ea17";
}
.octicon-organization-24:before {
  content: "\ea18";
}
.octicon-package-16:before {
  content: "\ea19";
}
.octicon-package-24:before {
  content: "\ea1a";
}
.octicon-package-dependencies-16:before {
  content: "\ea1b";
}
.octicon-package-dependencies-24:before {
  content: "\ea1c";
}
.octicon-package-dependents-16:before {
  content: "\ea1d";
}
.octicon-package-dependents-24:before {
  content: "\ea1e";
}
.octicon-paintbrush-16:before {
  content: "\ea1f";
}
.octicon-paper-airplane-16:before {
  content: "\ea20";
}
.octicon-paper-airplane-24:before {
  content: "\ea21";
}
.octicon-pencil-16:before {
  content: "\ea22";
}
.octicon-pencil-24:before {
  content: "\ea23";
}
.octicon-people-16:before {
  content: "\ea24";
}
.octicon-people-24:before {
  content: "\ea25";
}
.octicon-person-16:before {
  content: "\ea26";
}
.octicon-person-24:before {
  content: "\ea27";
}
.octicon-person-add-16:before {
  content: "\ea28";
}
.octicon-person-add-24:before {
  content: "\ea29";
}
.octicon-pin-16:before {
  content: "\ea2a";
}
.octicon-pin-24:before {
  content: "\ea2b";
}
.octicon-play-16:before {
  content: "\ea2c";
}
.octicon-play-24:before {
  content: "\ea2d";
}
.octicon-plug-16:before {
  content: "\ea2e";
}
.octicon-plug-24:before {
  content: "\ea2f";
}
.octicon-plus-16:before {
  content: "\ea30";
}
.octicon-plus-24:before {
  content: "\ea31";
}
.octicon-plus-circle-16:before {
  content: "\ea32";
}
.octicon-plus-circle-24:before {
  content: "\ea33";
}
.octicon-project-16:before {
  content: "\ea34";
}
.octicon-project-24:before {
  content: "\ea35";
}
.octicon-pulse-16:before {
  content: "\ea36";
}
.octicon-pulse-24:before {
  content: "\ea37";
}
.octicon-question-16:before {
  content: "\ea38";
}
.octicon-question-24:before {
  content: "\ea39";
}
.octicon-quote-16:before {
  content: "\ea3a";
}
.octicon-quote-24:before {
  content: "\ea3b";
}
.octicon-reply-16:before {
  content: "\ea3c";
}
.octicon-reply-24:before {
  content: "\ea3d";
}
.octicon-repo-16:before {
  content: "\ea3e";
}
.octicon-repo-24:before {
  content: "\ea3f";
}
.octicon-repo-clone-16:before {
  content: "\ea40";
}
.octicon-repo-forked-16:before {
  content: "\ea41";
}
.octicon-repo-forked-24:before {
  content: "\ea42";
}
.octicon-repo-pull-16:before {
  content: "\ea43";
}
.octicon-repo-push-16:before {
  content: "\ea44";
}
.octicon-repo-push-24:before {
  content: "\ea45";
}
.octicon-repo-template-16:before {
  content: "\ea46";
}
.octicon-repo-template-24:before {
  content: "\ea47";
}
.octicon-report-16:before {
  content: "\ea48";
}
.octicon-report-24:before {
  content: "\ea49";
}
.octicon-rocket-16:before {
  content: "\ea4a";
}
.octicon-rocket-24:before {
  content: "\ea4b";
}
.octicon-rows-16:before {
  content: "\ea4c";
}
.octicon-rows-24:before {
  content: "\ea4d";
}
.octicon-rss-16:before {
  content: "\ea4e";
}
.octicon-rss-24:before {
  content: "\ea4f";
}
.octicon-ruby-16:before {
  content: "\ea50";
}
.octicon-ruby-24:before {
  content: "\ea51";
}
.octicon-screen-full-16:before {
  content: "\ea52";
}
.octicon-screen-full-24:before {
  content: "\ea53";
}
.octicon-screen-normal-16:before {
  content: "\ea54";
}
.octicon-screen-normal-24:before {
  content: "\ea55";
}
.octicon-search-16:before {
  content: "\ea56";
}
.octicon-search-24:before {
  content: "\ea57";
}
.octicon-select-single-16:before {
  content: "\ea58";
}
.octicon-server-16:before {
  content: "\ea59";
}
.octicon-server-24:before {
  content: "\ea5a";
}
.octicon-share-16:before {
  content: "\ea5b";
}
.octicon-share-24:before {
  content: "\ea5c";
}
.octicon-share-android-16:before {
  content: "\ea5d";
}
.octicon-share-android-24:before {
  content: "\ea5e";
}
.octicon-shield-16:before {
  content: "\ea5f";
}
.octicon-shield-24:before {
  content: "\ea60";
}
.octicon-shield-check-16:before {
  content: "\ea61";
}
.octicon-shield-check-24:before {
  content: "\ea62";
}
.octicon-shield-lock-16:before {
  content: "\ea63";
}
.octicon-shield-lock-24:before {
  content: "\ea64";
}
.octicon-shield-x-16:before {
  content: "\ea65";
}
.octicon-shield-x-24:before {
  content: "\ea66";
}
.octicon-sidebar-collapse-16:before {
  content: "\ea67";
}
.octicon-sidebar-collapse-24:before {
  content: "\ea68";
}
.octicon-sidebar-expand-16:before {
  content: "\ea69";
}
.octicon-sidebar-expand-24:before {
  content: "\ea6a";
}
.octicon-sign-in-16:before {
  content: "\ea6b";
}
.octicon-sign-in-24:before {
  content: "\ea6c";
}
.octicon-sign-out-16:before {
  content: "\ea6d";
}
.octicon-sign-out-24:before {
  content: "\ea6e";
}
.octicon-single-select-24:before {
  content: "\ea6f";
}
.octicon-skip-16:before {
  content: "\ea70";
}
.octicon-skip-24:before {
  content: "\ea71";
}
.octicon-smiley-16:before {
  content: "\ea72";
}
.octicon-smiley-24:before {
  content: "\ea73";
}
.octicon-sort-asc-16:before {
  content: "\ea74";
}
.octicon-sort-asc-24:before {
  content: "\ea75";
}
.octicon-sort-desc-16:before {
  content: "\ea76";
}
.octicon-sort-desc-24:before {
  content: "\ea77";
}
.octicon-square-16:before {
  content: "\ea78";
}
.octicon-square-24:before {
  content: "\ea79";
}
.octicon-square-fill-16:before {
  content: "\ea7a";
}
.octicon-square-fill-24:before {
  content: "\ea7b";
}
.octicon-squirrel-16:before {
  content: "\ea7c";
}
.octicon-squirrel-24:before {
  content: "\ea7d";
}
.octicon-star-16:before {
  content: "\ea7e";
}
.octicon-star-24:before {
  content: "\ea7f";
}
.octicon-star-fill-16:before {
  content: "\ea80";
}
.octicon-star-fill-24:before {
  content: "\ea81";
}
.octicon-stop-16:before {
  content: "\ea82";
}
.octicon-stop-24:before {
  content: "\ea83";
}
.octicon-stopwatch-16:before {
  content: "\ea84";
}
.octicon-stopwatch-24:before {
  content: "\ea85";
}
.octicon-strikethrough-16:before {
  content: "\ea86";
}
.octicon-strikethrough-24:before {
  content: "\ea87";
}
.octicon-sun-16:before {
  content: "\ea88";
}
.octicon-sun-24:before {
  content: "\ea89";
}
.octicon-sync-16:before {
  content: "\ea8a";
}
.octicon-sync-24:before {
  content: "\ea8b";
}
.octicon-tab-24:before {
  content: "\ea8c";
}
.octicon-table-16:before {
  content: "\ea8d";
}
.octicon-table-24:before {
  content: "\ea8e";
}
.octicon-tag-16:before {
  content: "\ea8f";
}
.octicon-tag-24:before {
  content: "\ea90";
}
.octicon-tasklist-16:before {
  content: "\ea91";
}
.octicon-tasklist-24:before {
  content: "\ea92";
}
.octicon-telescope-16:before {
  content: "\ea93";
}
.octicon-telescope-24:before {
  content: "\ea94";
}
.octicon-terminal-16:before {
  content: "\ea95";
}
.octicon-terminal-24:before {
  content: "\ea96";
}
.octicon-three-bars-16:before {
  content: "\ea97";
}
.octicon-thumbsdown-16:before {
  content: "\ea98";
}
.octicon-thumbsdown-24:before {
  content: "\ea99";
}
.octicon-thumbsup-16:before {
  content: "\ea9a";
}
.octicon-thumbsup-24:before {
  content: "\ea9b";
}
.octicon-tools-16:before {
  content: "\ea9c";
}
.octicon-tools-24:before {
  content: "\ea9d";
}
.octicon-trash-16:before {
  content: "\ea9e";
}
.octicon-trash-24:before {
  content: "\ea9f";
}
.octicon-triangle-down-16:before {
  content: "\eaa0";
}
.octicon-triangle-down-24:before {
  content: "\eaa1";
}
.octicon-triangle-left-16:before {
  content: "\eaa2";
}
.octicon-triangle-left-24:before {
  content: "\eaa3";
}
.octicon-triangle-right-16:before {
  content: "\eaa4";
}
.octicon-triangle-right-24:before {
  content: "\eaa5";
}
.octicon-triangle-up-16:before {
  content: "\eaa6";
}
.octicon-triangle-up-24:before {
  content: "\eaa7";
}
.octicon-typography-16:before {
  content: "\eaa8";
}
.octicon-typography-24:before {
  content: "\eaa9";
}
.octicon-unfold-16:before {
  content: "\eaaa";
}
.octicon-unfold-24:before {
  content: "\eaab";
}
.octicon-unlock-16:before {
  content: "\eaac";
}
.octicon-unlock-24:before {
  content: "\eaad";
}
.octicon-unmute-16:before {
  content: "\eaae";
}
.octicon-unmute-24:before {
  content: "\eaaf";
}
.octicon-unverified-16:before {
  content: "\eab0";
}
.octicon-unverified-24:before {
  content: "\eab1";
}
.octicon-upload-16:before {
  content: "\eab2";
}
.octicon-upload-24:before {
  content: "\eab3";
}
.octicon-verified-16:before {
  content: "\eab4";
}
.octicon-verified-24:before {
  content: "\eab5";
}
.octicon-versions-16:before {
  content: "\eab6";
}
.octicon-versions-24:before {
  content: "\eab7";
}
.octicon-video-16:before {
  content: "\eab8";
}
.octicon-video-24:before {
  content: "\eab9";
}
.octicon-workflow-16:before {
  content: "\eaba";
}
.octicon-workflow-24:before {
  content: "\eabb";
}
.octicon-x-16:before {
  content: "\eabc";
}
.octicon-x-24:before {
  content: "\eabd";
}
.octicon-x-circle-16:before {
  content: "\eabe";
}
.octicon-x-circle-24:before {
  content: "\eabf";
}
.octicon-x-circle-fill-16:before {
  content: "\eac0";
}
.octicon-x-circle-fill-24:before {
  content: "\eac1";
}
.octicon-zap-16:before {
  content: "\eac2";
}
.octicon-zap-24:before {
  content: "\eac3";
}
